<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html><head><title>..:: {ADMINISTRATION_MSG} :: {SUPPORT_HELP_MSG} ::..</title>
<meta http-equiv="Content-Type" content="text/html; charset={CHARSET}">
<link rel="stylesheet" href="styles/admin.css" type="text/css">
<script language="JavaScript">
<!--
	function openWindow(pagename)
	{
		var popupWin = window.open (pagename, 'popup', 'toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=yes,resizable=yes,width=600,height=500');
		popupWin.focus();
	}
//-->
</script>
</head>
<body class="popup">

<table cellspacing="1" cellpadding="6" border="0" width="100%">
<tr class="middle" align="center">
	<td>{HOW_TO_SETUP_EMAIL_MESSAGE}</td>
</tr>
<tr align="center">
	<td>
		<br>
		<div>{DYNAMIC_CONTENT_HELP_NOTE}</div>
		<br>
	</td>
</tr>
</table>

<div class="title" align="center">{ADMIN_REQUEST_INFORMATION_MSG}</div>
<br>
<table border="0" cellspacing="1" cellpadding="6" width="100%">
<tr class="middle" align="center">
	<td>{TAG_NAME_MSG}</td>                               	
	<td>{TAG_DESCRIPTION_MSG}</td>
</tr>
<tr class="usual">
	<td>{site_url}</td>
	<td>{SITE_URL_MSG}</td>
</tr>
<tr class="usual">
	<td>{support_url}</td>
	<td>{URL_FOR_CUSTOMER_REPLY_MSG}</td>
</tr>
<tr class="usual">
	<td>{support_id}</td>
	<td>{REQUEST_UNIQUE_IDENTIFICATOR_MSG}</td>
</tr>
<tr class="usual">
	<td>{vc}</td>
	<td>{CODE_TO_ACCESS_REQUEST_MSG}</td>
</tr>
<tr class="usual">
	<td>{user_id}</td>
	<td>{USER_UNIQUE_IDENTIFICATOR_MSG}</td>
</tr>
<tr class="usual">
	<td>{user_name}</td>
	<td>{CUSTOMER_NAME_MSG}</td>
</tr>
<tr class="usual">
	<td>{user_email}</td>
	<td>{CUSTOMER_EMAIL_MSG}</td>
</tr>
<tr class="usual">
	<td>{identifier}</td>
	<td>{PRODUCT_IDENTIFIER_MSG}</td>
</tr>
<tr class="usual">
	<td>{environment}</td>
	<td>{PRODUCT_ENVIRONMENT_MSG}</td>
</tr>
<tr class="usual">
	<td>{remote_address}</td>
	<td>{CUSTOMER_IP_MSG}</td>
</tr>
<tr class="usual">
	<td>{product}</td>
	<td>{PRODUCT_TITLE_MSG}</td>
</tr>
<tr class="usual">
	<td>{assign_to}</td>
	<td>{RESPONSIBLE_OPERATOR_MSG}</td>
</tr>
<tr class="usual">
	<td>{type}</td>
	<td>{REQUEST_TYPE_MSG}</td>
</tr>
<tr class="usual">
	<td>{status}</td>
	<td>{CURRENT_STATUS_MSG}</td>
</tr>
<tr class="usual">
	<td>{priority}</td>
	<td>{REQUEST_PRIORITY_MSG}</td>
</tr>
<tr class="usual">
	<td>{request_added}</td>
	<td>{WHEN_REQUEST_WAS_ADDED_MSG}</td>
</tr>
<tr class="usual">
	<td>{date_modified}</td>
	<td>{WHEN_REQUEST_WAS_MODIFIED_MSG}</td>
</tr>
<tr class="usual">
	<td>{summary}</td>
	<td>{REQUEST_SUMMARY_MSG}</td>
</tr>
<tr class="usual">
	<td>{description}</td>
	<td>{REQUEST_DESCRIPTION_MSG}</td>
</tr>
<tr class="usual">
	<td>{message_added}</td>
	<td>{WHEN_MESSAGE_WAS_ADDED_MSG}</td>
</tr>
<tr class="usual">
	<td>{message_text}</td>
	<td>{REPLY_MESSAGE_MSG}</td>
</tr><!-- BEGIN fields -->
<tr class="usual">
	<td>{field_{field_id}}</td>
	<td>{field_name}</td>
</tr><!-- END fields -->
</table>

<table cellspacing="1" cellpadding="6" border="0" width="100%">
<tr class="middle">
	<td align="center"><a href="javascript:window.close();"><b>{CLOSE_WINDOW_MSG}</b></a></td>
</tr>
</table>

</body>
</html>