<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset={CHARSET}">
<title>{INTERNAL_MESSAGES_MSG}</title>
<link rel="stylesheet" href="styles/admin.css" type="text/css">
<script type="text/javascript" src="../js/admin.js"></script>
<script language="JavaScript">
<!--
	function openWindow(pagename, filetype)
	{
		var uploadWin = window.open (pagename + '?filetype=' + filetype, 'uploadWin', 'toolbar=no,location=no,directories=no,status=yes,menubar=no,scrollbars=yes,resizable=yes,width=600,height=500');
		uploadWin.focus();
	}
//-->
</script>
</head>
<body class="mainbg">
{admin_header}

<form action="{admin_messages_settings_href}" name="record" method="POST">
<div class="sitelist"><!-- begin sitelist -->
	{SELECT_SITE_MSG}&nbsp;
	<select name="param_site_id" onchange="reloadSite(this.form)"><!-- begin param_site_id -->
		<option {param_site_id_selected} value="{param_site_id_value}">{param_site_id_description}<!-- end param_site_id -->
	</select><!-- end sitelist -->
</div>
{block_leftside_breadcrumbs}

<div id="tabs"><!-- BEGIN tabs_rows -->
	<ul id="{row_id}" class="tabRow"><!-- BEGIN tabs -->
		<li id="{tab_id}" class="{tab_class}"><a class="tabA" href="#" onClick="changeTab('{tab_name}'); return false;">{tab_title}</a></li><!-- END tabs -->
	</ul><!-- END tabs_rows -->
</div>

<div class="Block clearBoth">
<div class="BlockContent">

<input type="hidden" name="operation" value="save">
<input type="hidden" name="rp" value="{rp}">
<input type="hidden" name="tab" value="{tab}">
<div id="data_general" style="{general_style}">
<!-- BEGIN errors --><div class="errorbg">{errors_list}</div><!-- END errors -->
<table border="0" cellpadding="4" cellspacing="1" width="100%">
<tr class="middle">
	<td colspan="2">{MESSAGES_RESTRICTIONS_MSG}</td>
</tr>
<tr class="usual">
	<td>{MESSAGE_BOX_LIMIT_MSG}</td>
	<td>
		<input class="field" type="text" name="box_limit" value="{box_limit}" size="10" maxlength="10"> &nbsp;
		&nbsp; ({MESSAGE_BOX_LIMIT_DESC})
	</td>
</tr>
<tr class="usual">
	<td>{MESSAGES_DAY_LIMIT_MSG}</td>
	<td>
		<input class="field" type="text" name="day_limit" value="{day_limit}" size="10" maxlength="10"> &nbsp;
		&nbsp; ({MESSAGES_DAY_LIMIT_DESC})
	</td>
</tr>
<tr class="middle">
	<td>&nbsp;</td>
	<td>
		<span class="button"><input class="submit" type="submit" value="{UPDATE_BUTTON}" onCLick="document.record.operation.value='save'"></span>
		<span class="button"><input class="submit" type="submit" value="{CANCEL_BUTTON}" onCLick="document.record.operation.value='cancel'"></span>
	</td>
</tr>
</table>
</div>

<!-- notification email -->
<div id="data_notification_email" style="{notification_email_style}">
<table border="0" cellpadding="4" cellspacing="1" width="100%">
<tr class="middle">
	<td colspan="2">{EMAIL_NOTIFICATION_MSG}</td>
</tr>
<tr class="usual">
	<td><label for="admin_notification">{SEND_NOTIFICATION_ADMIN_MSG}</label></td>
	<td><input type="checkbox" name="admin_notification" id="admin_notification" {admin_notification} value="1"></td>
</tr>
<tr class="usual">
	<td>
		<b>To</b>
		<div class="small">(<a href="javascript:openWindow('{admin_email_help_href}')">{CLICK_HERE_MSG}</a> {LEARN_MORE_EMAIL_FIELDS_NOTE})</div>
	</td>
	<td>
		<input class="field" type="text" name="admin_email" value="{admin_email}" size="80" maxlength="255">
		<div class="small">({EG_MSG} <b>message@example.com</b>)</div>
	</td>
</tr>
<tr class="usual">
	<td><b>{EMAIL_FROM_MSG}</b></td>
	<td><input class="field" type="text" name="admin_mail_from" value="{admin_mail_from}" size="80" maxlength="255"></td>
</tr>
<tr class="usual">
	<td>{EMAIL_CC_MSG}</td>
	<td><input class="field" type="text" name="admin_mail_cc" value="{admin_mail_cc}" size="80" maxlength="255"></td>
</tr>
<tr class="usual">
	<td>{EMAIL_BCC_MSG}</td>
	<td><input class="field" type="text" name="admin_mail_bcc" value="{admin_mail_bcc}" size="80" maxlength="255"></td>
</tr>
<tr class="usual">
	<td>{EMAIL_REPLY_TO_MSG}</td>
	<td><input class="field" type="text" name="admin_mail_reply_to" value="{admin_mail_reply_to}" size="80" maxlength="255"></td>
</tr>
<tr class="usual">
	<td>{EMAIL_RETURN_PATH_MSG}</td>
	<td><input class="field" type="text" name="admin_mail_return_path" value="{admin_mail_return_path}" size="80" maxlength="255"></td>
</tr>
<tr class="usual">
	<td><b>{EMAIL_SUBJECT_MSG}</b></td>
	<td><input class="field" type="text" name="admin_subject" value="{admin_subject}" size="80" maxlength="255"></td>
</tr>
<tr class="usual">
	<td><b>{EMAIL_MESSAGE_TYPE_MSG}</b></td>
	<td><!-- begin admin_message_type -->
		<input class="field" type="radio" name="admin_message_type" id="admin_message_type{admin_message_type_value}" {admin_message_type_checked} value="{admin_message_type_value}">
		<label for="admin_message_type{admin_message_type_value}">{admin_message_type_description}</label><!-- end admin_message_type -->
	</td>
</tr>
<tr class="usual">
	<td valign="top">
		<div><b>{MESSAGE_MSG}</b></div>

		<br>
		<table cellspacing="1" cellpadding="2">
		<tr class="middle"><td>{TAG_NAME_MSG}</td><td>{TAG_DESCRIPTION_MSG}</td></tr>
		<tr><td>&#123;from_name}</td><td>{EMAIL_FROM_MSG}: {NAME_MSG}</td></tr>
		<tr><td>&#123;to_name}</td><td>{EMAIL_TO_MSG}: {NAME_MSG}</td></tr>
		<tr><td>&#123;message_subject}</td><td>{EMAIL_SUBJECT_MSG}</td></tr>
		<tr><td>&#123;message_text}</td><td>{EMAIL_MESSAGE_MSG}</td></tr>
		</table>

	</td>
	<td><textarea name="admin_message" cols="80" rows="10">{admin_message}</textarea></td>
</tr>
<tr class="middle">
	<td colspan="2">{EMAIL_NOTIFICATION_USER_MSG}</td>
</tr>
<tr class="usual">
	<td><label for="user_notification">{EMAIL_SEND_USER_MSG}</label></td>
	<td><input type="checkbox" name="user_notification" id="user_notification" {user_notification} value="1"></td>
</tr>
<tr class="usual">
	<td>
		<b>{EMAIL_FROM_MSG}</b>
		<div class="small">(<a href="javascript:openWindow('{admin_email_help_href}')">{CLICK_HERE_MSG}</a> {LEARN_MORE_EMAIL_FIELDS_NOTE})</div>
	</td>
	<td>
		<input class="field" type="text" name="user_mail_from" value="{user_mail_from}" size="80" maxlength="255">
		<div class="small">({EG_MSG} <b>admin@example.com</b>)</div>
	</td>
</tr>
<tr class="usual">
	<td>{EMAIL_CC_MSG}</td>
	<td><input class="field" type="text" name="user_mail_cc" value="{user_mail_cc}" size="80" maxlength="255"></td>
</tr>
<tr class="usual">
	<td>{EMAIL_BCC_MSG}</td>
	<td><input class="field" type="text" name="user_mail_bcc" value="{user_mail_bcc}" size="80" maxlength="255"></td>
</tr>
<tr class="usual">
	<td>{EMAIL_REPLY_TO_MSG}</td>
	<td><input class="field" type="text" name="user_mail_reply_to" value="{user_mail_reply_to}" size="80" maxlength="255"></td>
</tr>
<tr class="usual">
	<td>{EMAIL_RETURN_PATH_MSG}</td>
	<td><input class="field" type="text" name="user_mail_return_path" value="{user_mail_return_path}" size="80" maxlength="255"></td>
</tr>
<tr class="usual">
	<td><b>{EMAIL_SUBJECT_MSG}</b></td>
	<td><input class="field" type="text" name="user_subject" value="{user_subject}" size="80" maxlength="255"></td>
</tr>
<tr class="usual">
	<td><b>{EMAIL_MESSAGE_TYPE_MSG}</b></td>
	<td><!-- begin user_message_type -->
		<input type="radio" name="user_message_type" id="user_message_type{user_message_type_value}" {user_message_type_checked} value="{user_message_type_value}">
		<label for="user_message_type{user_message_type_value}">{user_message_type_description}</label><!-- end user_message_type -->
	</td>
</tr>
<tr class="usual">
	<td valign="top">
		<div><b>{MESSAGE_MSG}</b></div>

		<br>
		<table cellspacing="1" cellpadding="2">
		<tr class="middle"><td>{TAG_NAME_MSG}</td><td>{TAG_DESCRIPTION_MSG}</td></tr>
		<tr><td>&#123;from_name}</td><td>{EMAIL_FROM_MSG}: {NAME_MSG}</td></tr>
		<tr><td>&#123;to_name}</td><td>{EMAIL_TO_MSG}: {NAME_MSG}</td></tr>
		<tr><td>&#123;message_subject}</td><td>{EMAIL_SUBJECT_MSG}</td></tr>
		<tr><td>&#123;message_text}</td><td>{EMAIL_MESSAGE_MSG}</td></tr>
		</table>
	</td>
	<td><textarea name="user_message" cols="80" rows="10">{user_message}</textarea></td>
</tr>
<tr class="middle">
	<td>&nbsp;</td>
	<td>
		<span class="button"><input class="submit" type="submit" value="{UPDATE_BUTTON}" onCLick="document.record.operation.value='save'"></span>
		<span class="button"><input class="submit" type="submit" value="{CANCEL_BUTTON}" onCLick="document.record.operation.value='cancel'"></span>
	</td>
</tr>
</table>
</div>

</div>
</div>
</form>

{admin_footer}
</body>
</html>
