<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset={CHARSET}">
<title>{ADMINISTRATION_MSG} :: {TAX_REPORT_MSG}</title>
<link rel="stylesheet" href="styles/admin.css" type="text/css">
<script language="JavaScript" src="../js/calendar.js"></script>
<script language="JavaScript">
<!--

	function selectPeriod()
	{
		var theForm = document.forms['search_form'];
		var period = theForm.s_tp.options[theForm.s_tp.selectedIndex].value;
		var startDate = ""; 
		var endDate = "";
		if(period == 1) {
			startDate = "{today_date}"; endDate = "{today_date}";
		} else if(period == 2) {
			startDate = "{yesterday_date}"; endDate = "{yesterday_date}";
		} else if (period == 3) {
			startDate = "{week_start_date}"; endDate = "{today_date}";
		} else if (period == 4) {
			startDate = "{month_start_date}"; endDate = "{today_date}";
		} else if (period == 5) {
			startDate = "{last_month_start_date}"; endDate = "{last_month_end_date}";
		} else if (period == 6) {
			startDate = "{quarter_start_date}"; endDate = "{today_date}";
		} else if (period == 7) {
			startDate = "{year_start_date}"; endDate = "{today_date}";
		}
		theForm.s_sd.value = startDate;
		theForm.s_ed.value = endDate;
	}
	
	function clearSearch() {
		var theForm = document.forms['search_form'];

		theForm.s_tp.selectedIndex = 0;
		theForm.s_sd.value = "";
		theForm.s_ed.value = "";
		theForm.s_os.selectedIndex = 0;
	
		theForm.submit();
	}

	function showTip(tipName) {
		var tip = document.getElementById(tipName);
		if (tip) {
  	  		var leftPos = event.x + document.body.scrollLeft + 15;
	    	var topPos  = event.y + document.body.scrollTop + 15;
			tip.style.left = leftPos;
			tip.style.top = topPos;
			tip.style.display = "block";
		}

	}

	function hideTip(tipName) {		
		var tip = document.getElementById(tipName);
		if (tip) {
			tip.style.display = 'none'; 
		}
	}

//-->
</script>
</head>
<body class="commonbg">
{admin_header}
{block_leftside_breadcrumbs}
<div class="Block floatLeft">
<div class="BlockTitle">{FILTER_ORDERS_STATS_MSG}</div>
<div class="BlockContent">
	
<form action="{admin_orders_tax_report_href}" name="search_form">
<!-- BEGIN errors --><div class="error">{errors_list}</div><!-- END errors -->
<table border="0" cellpadding="4" cellspacing="1">
<tr class="usual">
	<td>{TIME_PERIOD_MSG}:</td>
	<td>
		<select name="s_tp" class="search" onChange="selectPeriod();"><!-- BEGIN s_tp -->
			<option {s_tp_selected} value="{s_tp_value}">{s_tp_description}<!-- END s_tp -->
		</select>
	</td>
</tr>
<tr class="usual">
	<td>{FROM_DATE_MSG} ({date_edit_format}):</td>
	<td>
		<input type="text" name="s_sd" value="{s_sd}" class="search">
		<a href="#"
			onClick="setDateField(document.search_form.s_sd, '{date_edit_format}');
			top.newWin = window.open('../js/calendar.html','cal','dependent=yes,width=210,height=230,screenX=200,screenY=300,titlebar=yes'); top.newWin.focus(); return false;">
		<img src="images/calendar.gif" border="0" align="top" alt="{CALENDAR_MSG}" title="{CALENDAR_MSG}"></a>
	</td>
</tr>
<tr class="usual">
	<td>{TO_DATE_MSG} ({date_edit_format}):</td>
	<td>
		<input type="text" name="s_ed" value="{s_ed}" class="search">
		<a href="#"
			onClick="setDateField(document.search_form.s_ed, '{date_edit_format}');
			top.newWin = window.open('../js/calendar.html','cal','dependent=yes,width=210,height=230,screenX=200,screenY=300,titlebar=yes'); top.newWin.focus(); return false;">
		<img src="images/calendar.gif" border="0" align="top" alt="{CALENDAR_MSG}" title="{CALENDAR_MSG}"></a>
	</td>
</tr>
<tr class="usual">
	<td>{ADMIN_WHERE_STATUS_IS_MSG}:</td>
	<td>
		<select name="s_os" class="search"><!-- BEGIN s_os -->
			<option {s_os_selected} value="{s_os_value}">{s_os_description}<!-- END s_os -->
		</select>
	</td>
</tr>
<tr class="middle">
	<td>&nbsp;</td>
	<td colspan="1" align="left">
		<span class="button"><input type="submit" name="filter" value="{FILTER_BUTTON}" class="submit"></span>
		<span class="button"><input type="button" value="{CLEAR_BUTTON}" class="submit" onClick="clearSearch();"></span>
	</td>
</tr>
</table>
</form>
	
</div>
</div>

<div class="clearBoth"></div>

<!-- BEGIN search_results -->
<div class="Block">
<div class="BlockTitle">{TAX_REPORT_MSG}</div>
<div class="BlockContent">
<table border="0" cellpadding="6" cellspacing="1" width="100%">
<tr class="middle" align="center">
	<td width="25%">{TAX_NAME_MSG}</td>
	<td width="25%">{TAX_TOTAL_MSG}</td>
</tr><!-- BEGIN taxes_records -->
<tr valign="top" align="center" class="{row_style}">
	<td>{tax_name}</td>
	<td>{tax_total}</td>
</tr><!-- END taxes_records --><!-- BEGIN no_taxes_records -->
<tr class="usual">
	<td colspan="4">{NO_PRODUCTS_MSG}</td>
</tr><!-- END no_taxes_records -->
<tr valign="top" align="center" class="middle">
	<td align="right">{TOTAL_STATS_MSG}:</td>
	<td>{sum_tax_total}</td>
</tr>
</table>	
</div>
</div>

<div class="Block">
<div class="BlockTitle">{PRODUCTS_TAX_REPORT_MSG}</div>
<div class="BlockContent">

<table border="0" cellpadding="6" cellspacing="1" width="100%">
<tr class="middle" align="center">
	<td width="25%">{TAX_NAME_MSG} ({TAX_PERCENT_MSG})</td>
	<td width="25%">{GOODS_TOTAL_MSG} ({tax_note_excl})</td>
	<td width="25%">{TAX_TOTAL_MSG}</td>
	<td width="25%">{GOODS_TOTAL_MSG} ({tax_note_incl})</td>
</tr><!-- BEGIN products_taxes -->
<tr valign="top" align="center" class="{row_style}">
	<td>{tax_name} ({tax_percent})</td>
	<td>{goods_total}</td>
	<td>{goods_tax_total}</td>
	<td>{goods_with_tax_total}</td>
</tr><!-- END products_taxes --><!-- BEGIN no_products_taxes -->
<tr class="usual">
	<td colspan="4">{NO_PRODUCTS_MSG}</td>
</tr><!-- END no_products_taxes -->
<tr valign="top" align="center" class="middle">
	<td align="right">{TOTAL_STATS_MSG}:</td>
	<td>{sum_goods_total}</td>
	<td>{sum_goods_tax_total}</td>
	<td>{sum_goods_with_tax_total}</td>
</tr>
</table>	
</div>
</div>

<!-- begin shipping_report -->
<div class="Block">
<div class="BlockTitle">{SHIPPING_TAX_REPORT_MSG}</div>
<div class="BlockContent">

<table border="0" cellpadding="3" cellspacing="1" width="100%">
<tr class="middle" align="center">
	<td width="25%">{TAX_NAME_MSG} ({TAX_PERCENT_MSG})</td>
	<td width="25%">{SHIPPING_COST_MSG} ({tax_note_excl})</td>
	<td width="25%">{TAX_TOTAL_MSG}</td>
	<td width="25%">{SHIPPING_COST_MSG} ({tax_note_incl})</td>
</tr><!-- BEGIN shipping_taxes -->
<tr valign="top" align="center" class="{row_style}">
	<td>{tax_name} ({tax_percent})</td>
	<td>{shipping_total}</td>
	<td>{shipping_tax_total}</td>
	<td>{shipping_with_tax_total}</td>
</tr><!-- END shipping_taxes -->
<tr valign="top" align="center" class="middle">
	<td align="right">{TOTAL_STATS_MSG}:</td>
	<td>{sum_shipping_total}</td>
	<td>{sum_shipping_tax_total}</td>
	<td>{sum_shipping_with_tax_total}</td>
</tr>
</table>	
</div>
</div>
<!-- end shipping_report -->
<!-- END search_results -->

{admin_footer}

</body>
</html>