<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html><head><title>..:: {ADMINISTRATION_MSG} :: {PRODUCTS_MSG} {IMAGES_MSG} ::..</title>

<meta http-equiv="Content-Type" content="text/html; charset={CHARSET}">
<link rel="stylesheet" href="styles/admin.css" type="text/css">
 

</head>
<body class="bodyDboard">

{admin_header} 
{block_leftside_breadcrumbs}
<div class="Block">
<div class="BlockTitle">{ADMIN_PRODUCT_MSG} {IMAGES_MSG}</div>
<div class="BlockContent">

<table border="0" cellspacing="1" cellpadding="6" width="100%"><!-- begin sorters -->
<tr align="center" class="middle">
	<td>{sorter_image_id}</td>
	<td>{sorter_image_title}</td>
	<td>&nbsp;</td>
</tr><!-- end sorters --><!-- BEGIN records -->
<tr class="usual" align="center">
	<td>{image_id}</td>
	<td align="left">{image_title}</td>
	<td><a href="{admin_item_image_href}?image_id={image_id}&category_id={category_id}&item_id={item_id}">{EDIT_IMAGE_MSG}</a></td>
</tr><!-- END records --><!-- BEGIN no_records -->
<tr class="usual">
	<td colspan="3">{NO_IMAGES_WERE_FOUND_MSG}</td>
</tr><!-- END no_records -->
<tr class="middle">
	<td colspan="3">
		<div class="floatRight"><!-- begin navigator_block -->{navigator}<!-- end navigator_block --></div>
		<a href="{admin_item_image_href}?category_id={category_id}&item_id={item_id}">{NEW_IMAGE_MSG}</a>
	</td>
</tr>
</table>	

</div>
</div>

{admin_footer}
</body>
</html>