<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{meta_language}" lang="{meta_language}">
<head>
<meta http-equiv="Content-Type" content="text/html; charset={CHARSET}" />
<meta http-equiv="Content-Language" content="{meta_language}" />
<title>{SUPPORT_LIVE_MSG}</title>
<link rel="stylesheet" href="../styles/chat.css" type="text/css">
<script language="JavaScript" type="text/javascript" src="../js/ajax.js"></script>
<script language="JavaScript" type="text/javascript" src="../js/chat.js"></script>
</head>

<body class="popup" onload="initChat();">

<!-- begin chats_waiting -->

<div class="adminStatus">
	{YOUR_STATUS_MSG} {admin_status}
</div>

<div id="chatsWaiting" class="chatsWaiting">

<!-- begin chats_form -->
<form name="chats_waiting" action="{admin_support_chat_href}">
<input type="hidden" name="chats" value="{chats_number}"/>
<input type="hidden" name="chats_waiting_msg" value="{chats_waiting_msg}"/>
<input type="hidden" name="support_live_msg" value="{support_live_msg}"/>


<!-- begin no_chats -->
<div class="noChats">{NO_CHATS_WAITING_MSG}</div>
<!-- end no_chats -->

<!-- begin chats_table -->
<div class="chats">
<table class="chats" cellspacing="0" cellpadding="0"> 
<tr class="header">
	<th>{ID_MSG}</td>
	<th>{NAME_MSG}</td>
	<th>{CHAT_QUESTION_MSG}</td>
	<th>{WAITING_MSG}</td>
	<th>&nbsp;</td>
</tr>
<!-- begin chats -->
<tr class="{row_class}">
	<td align="center">{chat_id}</td>
	<td>{user_name}</td>
	<td>{user_message}</td>
	<td align="center">{waiting}</td>
	<td align="center"><a href="admin_support_chat.php?chat_id={chat_id}&operation=start">{START_CHATTING_MSG}</a></td>
</tr>
<!-- end chats -->
</table>
</div>
<!-- end chats_table -->

</form>
<!-- end chats_form -->

</div>
<!-- end chats_waiting -->

<!-- begin chat_room -->

<div class="closeChat">
	<a href="{admin_support_chat_href}?operation=exit&chat_id={chat_id}">{EXIT_CHAT_MSG}</a> |
	<a href="{admin_support_chat_href}?operation=close&chat_id={chat_id}" onclick="return confirm('{CLOSE_CHAT_QST}');">{CLOSE_CHAT_MSG}</a>
</div>

<div class="chatMessages" id="chatMessages">
<!-- begin messages -->
<div id="message_{message_id}" class="{message_class}">
<div class="start"></div>
<div class="time">{message_time}</div>
<div class="name" title="{author_name}">{author_short}</div>
<div class="text">{message_text}</div>
<div class="end"></div>
</div><!-- end messages -->
</div>

<div class="chatForm">
<form name="chat_message" action="{admin_support_chat_href}">

<table border="0" cellspacing="0" cellpadding="0">
<tr>
	<td>
		<input type="hidden" name="ajax" value="1" />
		<input type="hidden" name="chat_id" value="{chat_id}" />
		<input type="hidden" name="operation" value="new_message" />
		<input type="hidden" name="last_message_id" value="{last_message_id}" />
		<textarea name="new_message" class="newMessage" {new_message_disabled} cols="50" rows="4"></textarea>
	</td>	
	<td>
		<input name="send_message" class="sendMessage" {send_message_disabled} type="button" value="{SEND_BUTTON}" onclick="sendMessage();" />
	</td>
</tr>
</table>
</form>
</div>
<!-- end chat_room -->

</body>
</html>