<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset={CHARSET}">
<title>{ADMINISTRATION_MSG} :: {SELECT_USER_MSG}</title>
<link rel="stylesheet" href="styles/admin.css" type="text/css">
<script language="JavaScript" type= "text/javascript" src="../js/users.js"></script>
<script language="JavaScript">
<!--

function clearSearch() {
	document.users_list.sw.value = "";
	document.users_list.submit();
}

//-->
</script>
</head>

<body class="popup">

<form action="{admin_users_select_href}" name="users_list">
<input type="hidden" name="operation" value="1">
<input type="hidden" name="form_name" value="{form_name}">
<input type="hidden" name="field_name" value="{field_name}">
<input type="hidden" name="id_name" value="{id_name}">
<input type="hidden" name="selection_type" value="{selection_type}">

	<table cellspacing="1" cellpadding="6" border="0" width="100%" align="center">
	<tr class="middle" align="center">
		<td colspan="6"><a href="javascript:closeUsersWindow();"><b>{CLOSE_WINDOW_MSG}</b></a></td>
	</tr>
	<tr class="usual" align="center">
		<td colspan="6">
			<input type="text" name="sw" value="{sw}" class="search">&nbsp;
			<span class="button"><input type="submit" value="{SEARCH_BUTTON}" class="submit"></span>
			<span class="button"><input type="submit" value="{CLEAR_BUTTON}" class="submit" onClick="clearSearch()"></span>
		</td>
	</tr><!-- begin search_results -->
	<tr class="usual" align="center">
		<td colspan="6">{found_message}</td>
	</tr><!-- end search_results --><!-- begin users_sorters -->
	<tr class="middle" align="center">
		<td>{sorter_user_id}</td>
		<td>{sorter_login}</td>
		<td>{sorter_name}</td>
		<td>{sorter_email}</td>
		<td>{FROM_MSG}</td>
		<td>&nbsp;</td>
	</tr><!-- end users_sorters --><!-- begin users -->
	<tr class="usual">
		<td align="center">{user_id}</td>
		<td>{login}</td>
		<td>{user_name}</td>
		<td>{user_email}</td>
		<td align="center">{from}</td>
		<td align="center"><a href="javascript:selectUser('{user_id}', '{user_name_js}', '{user_email_js}');">{SELECT_MSG}</a></td>
	</tr><!-- end users --><!-- begin navigator_block -->
	<tr class="middle" align="right">
		<td colspan="6">{navigator}</td>
	</tr><!-- end navigator_block -->
	<tr class="middle" align="center">
		<td colspan="6"><a href="javascript:closeUsersWindow();"><b>{CLOSE_WINDOW_MSG}</b></a></td>
	</tr>
	</table>

</form>

</body>
</html>
