<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html><head><title>{ADMINISTRATION_MSG}</title>
<meta http-equiv="Content-Type" content="text/html; charset={CHARSET}">
<link rel="stylesheet" href="styles/admin.css" type="text/css">
<script language="JavaScript" type= "text/javascript" src="../js/chart.js"></script>
<script language="JavaScript" type= "text/javascript" src="../js/blocks.js"></script>
<script language="JavaScript" type= "text/javascript" src="../js/ajax.js"></script>
</head>
<body class="bodyDboard">

{admin_header}

	<div class="Block">
	<div class="BlockTitle">{parent_menu_title}</div>
	<div class="Form">
		<ul class="LinkList"><!-- begin menu_items -->
			<li><a href="{menu_item_url}">{menu_item_title}</a></li><!-- end menu_items -->
		</ul>
	</div>
	</div>

	<div class="clear"></div>

{admin_footer}

</body>
</html>
