<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset={CHARSET}">
<title>{ADMINISTRATION_MSG} :: {ORDERS_RECOVER_SETTINGS_MSG}</title>
<link rel="stylesheet" href="styles/admin.css" type="text/css">
<link rel="stylesheet" href="../styles/editor.css" type="text/css">
<script type="text/javascript" src="../js/admin.js"></script>
<script language="JavaScript" type= "text/javascript" src="../js/editor.js"></script>
{CKEditor_tag}
<script language="JavaScript">
<!--
	function openWindow(pagename)
	{
		var popupWin = window.open (pagename + "?cc=1", 'popup', 'toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=yes,resizable=yes,width=600,height=500');
		popupWin.focus();
	}
//-->
</script>
</head>
<body class="mainbg">
{admin_header}
<form action="{admin_orders_recover_settings_href}" name="record" method="POST" onsubmit="submit_editor(Array('editor_em'));">
<div class="sitelist"><!-- begin sitelist -->
	{SELECT_SITE_MSG}&nbsp;
	<select name="param_site_id" onchange="reloadSite(this.form)"><!-- begin param_site_id -->
		<option {param_site_id_selected} value="{param_site_id_value}">{param_site_id_description}<!-- end param_site_id -->
	</select><!-- end sitelist -->
</div>
{block_leftside_breadcrumbs}
<div class="Block">
<div class="BlockTitle">{ORDERS_RECOVER_SETTINGS_MSG}</div>
<div class="BlockContent">

<input type="hidden" name="operation" value="save">
<input type="hidden" name="rp" value="{rp}">
<!-- BEGIN errors --><div class="error">{errors_list}</div><!-- END errors -->
<table border="0" cellpadding="6" cellspacing="1" width="100%">
<tr class="middle">
	<td colspan="2">{GENERAL_MSG}</td>
</tr>
<tr class="usual" valign="top">
	<td>
		{LOOK_BACK_DAYS_MSG}
		<div class="small">{LOOK_BACK_DAYS_NOTE}</div>
	</td>
	<td><input class="field" type="text" name="lookback_days" value="{lookback_days}" size="10" maxlength="10"></td>
</tr>
<tr class="usual" valign="top">
	<td>
		{EMAIL_DAYS_TO_LIVE_MSG}
		<div class="small">{EMAIL_DAYS_TO_LIVE_NOTE}</div>
	</td>
	<td><input class="field" type="text" name="email_live_days" value="{email_live_days}" size="10" maxlength="10"></td>
</tr>
<tr class="usual" valign="top">
	<td><label for="ignore_active_customers">{IGNORE_CUSTOMERS_WITH_SESSION_MSG}</label></td>
	<td><input type="checkbox" name="ignore_active_customers" id="ignore_active_customers" {ignore_active_customers} value="1"> {IGNORE_CUSTOMERS_WITH_SESSION_NOTE}</td>
</tr>
<tr class="middle">
	<td colspan="2">{EMAIL_NOTIFICATION_MSG}</td>
</tr>
<tr class="usual">
	<td>
		<b>{EMAIL_FROM_MSG}</b>
		<div class="small">(<a href="javascript:openWindow('{admin_email_help_href}')">{CLICK_HERE_MSG}</a> {LEARN_MORE_EMAIL_FIELDS_NOTE})</div>
	</td>
	<td>
		<input class="field" type="text" name="user_mail_from" value="{user_mail_from}" size="80" maxlength="255">
		<div class="small">({EG_MSG} <b>sales@yoursite.com</b>)</div>
	</td>
</tr>
<tr class="usual">
	<td>{EMAIL_CC_MSG}</td>
	<td><input class="field" type="text" name="user_mail_cc" value="{user_mail_cc}" size="80" maxlength="255"></td>
</tr>
<tr class="usual">
	<td>{EMAIL_BCC_MSG}</td>
	<td><input class="field" type="text" name="user_mail_bcc" value="{user_mail_bcc}" size="80" maxlength="255"></td>
</tr>
<tr class="usual">
	<td>{EMAIL_REPLY_TO_MSG}</td>
	<td><input class="field" type="text" name="user_mail_reply_to" value="{user_mail_reply_to}" size="80" maxlength="255"></td>
</tr>
<tr class="usual">
	<td>{EMAIL_RETURN_PATH_MSG}</td>
	<td><input class="field" type="text" name="user_mail_return_path" value="{user_mail_return_path}" size="80" maxlength="255"></td>
</tr>
<tr class="usual">
	<td>{ATTACHMENTS_MSG}</td>
	<td><input type="checkbox" name="user_mail_pdf_invoice" id="user_mail_pdf_invoice" {user_mail_pdf_invoice} value="1"> <label for="user_mail_pdf_invoice">PDF Invoice</label></td>
</tr>
<tr class="usual">
	<td><b>{EMAIL_SUBJECT_MSG}</b></td>
	<td><input class="field" type="text" name="user_subject" value="{user_subject}" size="80" maxlength="255"></td>
</tr>
<tr class="usual">
	<td><b>{EMAIL_MESSAGE_TYPE_MSG}</b></td>
	<td><!-- begin user_message_type -->
		<input type="radio" name="user_message_type" id="user_message_type{user_message_type_value}" {user_message_type_checked} value="{user_message_type_value}">
		<label for="user_message_type{user_message_type_value}">{user_message_type_description}</label><!-- end user_message_type -->
	</td>
</tr>
<tr class="usual">
	<td valign="top">
		<b>{MESSAGE_MSG}</b>
		<div class="small">
		<br>(<a href="javascript:openWindow('{admin_order_help_href}?final=1')">{CLICK_HERE_MSG}</a> {LEARN_MORE_EMAIL_SETTINGS_NOTE} 
		<br>&nbsp;{LEARN_MORE_AND_SEE_NOTE})
		</div>
	</td>
	<td>{editor_error}
		<textarea name="user_message" id="em" cols="80" rows="10">{user_message}</textarea>
		<!-- begin em_ext_editor -->
		<script type="text/javascript">
			CKEDITOR.replace('em');
		</script><!-- end em_ext_editor -->
		<!-- begin em_int_editor -->
		<script type= "text/javascript">
			var editor_em = new VA_HTMLeditor('content_em','../','{html_editor}');
			editor_em.text_field_name = 'user_message';
			editor_em.formname = 'record';
			editor_em.css_file = '{css_file}';
			editor_em.editor_type = 'email_editor';
			editor_em.displayEditor('editor_em', 530, 170);
		</script><!-- end em_int_editor -->
	</td>
</tr>
<tr class="middle">
	<td>&nbsp;</td>
	<td>
		<span class="button"><input class="submit" type="submit" value="{UPDATE_BUTTON}" onCLick="document.record.operation.value='save'"></span>
		<span class="button"><input class="submit" type="submit" value="{CANCEL_BUTTON}" onCLick="document.record.operation.value='cancel'"></span>
	</td>
</tr>
</table>
</form>

</div>
</div>

{admin_footer}
</body>
</html>