<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html><head><title>{PRODUCT_REGISTRATION_MSG} {ADMIN_HELP_MSG}</title>
<meta http-equiv="Content-Type" content="text/html; charset={CHARSET}">
<link rel="stylesheet" href="styles/admin.css" type="text/css">
</head>
<body class="popup">

<table cellspacing="1" cellpadding="6" border="0" width="100%">
<tr class="middle" align="center">
	<td>{HOW_TO_SETUP_EMAIL_MESSAGE}</td>
</tr>
<tr> 
	<td>
		<br>
		<div align="center">{DYNAMIC_CONTENT_HELP_NOTE}</div>
		<br>
	</td>
</tr>
</table>

<div class="title" align="center">{PRODUCT_REGISTRATION_MSG}</div>
<br>
<table border="0" cellspacing="1" cellpadding="6" width="100%">
<tr class="middle" align="center">
	<td>{TAG_NAME_MSG}</td>                               	
	<td>{TAG_DESCRIPTION_MSG}</td>
</tr>
<tr class="usual">
	<td>{site_url}</td>
	<td>{SITE_URL_MSG}</td>
</tr>
<tr class="usual">
	<td>{registration_id}</td>
	<td>{REGISTRATION_ID_MSG}</td>
</tr>
<tr class="usual">
	<td>{user_id}</td>
	<td>{USER_UNIQUE_IDENTIFICATOR_MSG}</td>
</tr>
<tr class="usual">
	<td>{user_name}</td>
	<td>{USER_NAME_MSG}</td>
</tr>
<tr class="usual">
	<td>{date_added}</td>
	<td>{DATE_ADDED_MSG}</td>
</tr>
<tr class="usual">
	<td>{date_modified}</td>
	<td>{MODIFIED_DATE_MSG}</td>
</tr>
<tr class="usual">
	<td>{categiory_id}</td>
	<td>{CAT_ID_MSG}</td>
</tr>
<tr class="usual">
	<td>{categiory_name}</td>
	<td>{CATEGORY_NAME_MSG}</td>
</tr>
<tr class="usual">
	<td>{item_id}</td>
	<td>{PRODUCT_ID_MSG}</td>
</tr>
<tr class="usual">
	<td>{item_id_name}</td>
	<td>{SELECTED_PRODUCT_MSG}</td>
</tr>
<tr class="usual">
	<td>{item_code}</td>
	<td>{PROD_CODE_MSG}</td>
</tr>
<tr class="usual">
	<td>{item_name}</td>
	<td>{PROD_NAME_MSG}</td>
</tr>
<tr class="usual">
	<td>{serial_number}</td>
	<td>{SERIAL_NUMBER_MSG}</td>
</tr>
<tr class="usual">
	<td>{invoice_number}</td>
	<td>{INVOICE_NUMBER_MSG}</td>
</tr>
<tr class="usual">
	<td>{store_name}</td>
	<td>{STORE_NAME_MSG}</td>
</tr>
<tr class="usual">
	<td>{purchased_day}</td>
	<td>{DAY_OF_PURCHASE_MSG}</td>
</tr>
<tr class="usual">
	<td>{purchased_month}</td>
	<td>{MONTH_OF_PURCHASE_MSG}</td>
</tr>
<tr class="usual">
	<td>{purchased_year}</td>
	<td>{YEAR_OF_PURCHASE_MSG}</td>
</tr><!-- BEGIN custom_fields -->
<tr class="usual">
	<td>{field_{field_id}}</td>
	<td>{field_name}</td>
</tr><!-- END custom_fields -->
</table>


<table cellspacing="1" cellpadding="6" border="0" width="100%">
<tr class="middle">
	<td align="center"><a href="javascript:window.close();"><b>{CLOSE_WINDOW_MSG}</b></a></td>
</tr>
</table>

</body>
</html>