<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html><head><title>{LINK_URL_MSG} :: {EDIT_MSG}</title>
<meta http-equiv="Content-Type" content="text/html; charset={CHARSET}">
<link rel="stylesheet" href="styles/admin.css" type="text/css">

</head>
<body class="bodyDboard">
{admin_header} 
{block_leftside_breadcrumbs}
<div class="Block">
<div class="BlockTitle">{EDIT_MSG}</div>
<div class="BlockContent">

<form action="{admin_article_link_href}" name="record" method="POST">
<input type="hidden" name="operation" value="save">
<input type="hidden" name="rp" value="{rp}">
<input type="hidden" name="link_id" value="{link_id}">
<input type="hidden" name="item_id" value="{item_id}">
<input type="hidden" name="category_id" value="{category_id}">
<!-- BEGIN errors --><div class="errorbg">{errors_list}</div><!-- END errors -->

<table border="0" cellspacing="1" cellpadding="6" width="100%">
<tr class="usual">
	<td>{ADMIN_TITLE_MSG} *</td>
	<td><input class="field" type="text" size="60" name="link_title" value="{link_title}"></td>
</tr>
<tr class="usual">
	<td>{LINK_URL_MSG} *</td>
	<td><input class="field" type="text" size="60" name="link_url" value="{link_url}"></td>
</tr>
<tr class="middle">
	<td>&nbsp;</td>
	<td>
		<span class="button"><input class="submit" type="submit" value="{save_button}" onclick="document.record.operation.value='save'"></span><!-- BEGIN delete -->
		<span class="button"><input class="submit" type="submit" value="{DELETE_BUTTON}" onclick="document.record.operation.value='delete';return confirm('{CONFIRM_DELETE_JS}');"></span><!-- END delete -->
		<span class="button"><input class="submit" type="submit" value="{CANCEL_BUTTON}" onclick="document.record.operation.value='cancel'"></span>
	</td>
</tr>
</table>
</form>	

</div>
</div>

{admin_footer}
</body>
</html>