<!DOCTYPE html>
<html><head><title>{EDIT_MESSAGE_MSG}</title>
<meta http-equiv="Content-Type" content="text/html; charset={CHARSET}">
<link rel="stylesheet" href="styles/admin.css" type="text/css">
</head>
<body class="commonbg">
{admin_header} 
{block_leftside_breadcrumbs}

<div class="Block">
<div class="BlockTitle">{EDIT_MESSAGE_MSG}</div>
<div class="BlockContent">

<form action="{admin_message_href}" name="record" method="POST">
<input type="hidden" name="operation" value="save">
<input type="hidden" name="msg_key" value="{msg_key}">
<input type="hidden" name="section" value="{section}">
<input type="hidden" name="language_code" value="{language_code}">
<input type="hidden" name="add_new" value="{add_new}">
<input type="hidden" name="sw" value="{sw}">
<input type="hidden" name="constant_name" value="{constant_name}">
<input type="hidden" name="return_page" value="{return_page}">

<!-- BEGIN errors --><div class="errorbg">{errors_list}</div><!-- END errors -->

<table width="100%" border="0" cellspacing="1" cellpadding="6" align="center">
<tr class="usual">
	<td><b>{CODE_MSG}</b></td>
	<td class="field">
		<input class="field" type="text" name="msg_code" value="{msg_code}" size="60" maxlength="128">
		<span class="comment">({EG_MSG}: <b>TRANSLATION_MSG</b>)</span>
	</td>
</tr>
<tr class="usual">
	<td valign="top"><b>{MESSAGE_MSG}</b></td>
	<td class="field">
		<textarea cols="60" rows="5" name="msg_text">{msg_text}</textarea>
	</td>
</tr>
<tr class="middle">
	<td>&nbsp;</td>
	<td>
		<span class="button"><input class="submit" type="submit" value="{UPDATE_BUTTON}" onclick="document.record.operation.value='save'"></span>
		<span class="button"><input class="submit" type="submit" value="{CANCEL_BUTTON}" onclick="document.record.operation.value='cancel'"></span>
	</td>
</tr>
</table>

</form>

</div>

{admin_footer}
</body>
</html>