<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset={CHARSET}">
<title>{REVIEWS_SETTINGS_MSG}</title>
<link rel="stylesheet" href="styles/admin.css" type="text/css">
<link rel="stylesheet" href="../styles/editor.css" type="text/css">
<script language="JavaScript" type= "text/javascript" src="../js/editor.js"></script>
{CKEditor_tag}
<script type="text/javascript" src="../js/admin.js"></script>
<script language="JavaScript">
<!--
	function openWindow(pagename, filetype)
	{
		var uploadWin = window.open (pagename + '?filetype=' + filetype, 'uploadWin', 'toolbar=no,location=no,directories=no,status=yes,menubar=no,scrollbars=yes,resizable=yes,width=600,height=500');
		uploadWin.focus();
	}

//-->
</script>
</head>
<body class="bodySettings">
{admin_header}
<form action="{admin_articles_reviews_sets_href}" name="record" method="POST" onsubmit="submit_editor(Array('editor_am','editor_um'));">
<div class="sitelist"><!-- begin sitelist -->
	{SELECT_SITE_MSG}&nbsp;
	<select name="param_site_id" onchange="reloadSite(this.form)"><!-- begin param_site_id -->
		<option {param_site_id_selected} value="{param_site_id_value}">{param_site_id_description}<!-- end param_site_id -->
	</select><!-- end sitelist -->
</div>
{block_leftside_breadcrumbs}

<div id="tabs"><!-- BEGIN tabs_rows -->
	<ul id="{row_id}" class="tabRow"><!-- BEGIN tabs -->
		<li id="{tab_id}" class="{tab_class}"><a class="tabA" href="#" onClick="changeTab('{tab_name}'); return false;">{tab_title}</a></li><!-- END tabs -->
	</ul><!-- END tabs_rows -->
</div>

<div class="Form">
<div class="FormContent">

<input type="hidden" name="operation" value="save">
<input type="hidden" name="rp" value="{rp}">
<input type="hidden" name="tab" value="{tab}">

<div id="data_general" style="{general_style}">
<!-- BEGIN errors --><div class="errorbg">{errors_list}</div><!-- END errors -->
<table border="0" cellpadding="4" cellspacing="1" width="100%">
<tr class="usual">
	<td nowrap>{ALLOWED_VIEW_REVIEWS_MSG}</td>
	<td><!-- begin allowed_view -->
		<input type="radio" name="allowed_view" id="allowed_view{allowed_view_value}" {allowed_view_checked} value="{allowed_view_value}">
		<label for="allowed_view{allowed_view_value}">{allowed_view_description}</label><!-- end allowed_view -->
	</td>
</tr>
<tr class="usual">
	<td nowrap>{ALLOWED_POST_REVIEWS_MSG}</td>
	<td><!-- begin allowed_post -->
		<input type="radio" name="allowed_post" id="allowed_post{allowed_post_value}" {allowed_post_checked} value="{allowed_post_value}">
		<label for="allowed_post{allowed_post_value}">{allowed_post_description}</label><!-- end allowed_post -->
	</td>
</tr>
<tr class="usual">
	<td>{AUTO_PUBLISH_REVIEWS_MSG}</td>
	<td><!-- begin auto_approve -->
		<input type="radio" name="auto_approve" id="auto_approve{auto_approve_value}" {auto_approve_checked} value="{auto_approve_value}">
		<label for="auto_approve{auto_approve_value}">{auto_approve_description}</label><!-- end auto_approve -->
	</td>
</tr>
<tr class="usual">
	<td>{RANDOM_IMAGE_VALIDATION_MSG}</td>
	<td><!-- begin review_random_image -->
		<input type="radio" name="review_random_image" id="review_random_image{review_random_image_value}" {review_random_image_checked} value="{review_random_image_value}">
		<label for="review_random_image{review_random_image_value}">{review_random_image_description}</label><!-- end review_random_image -->
	</td>
</tr>
<tr class="usual">
	<td>{REVIEWS_PER_PAGE_MSG}</td>
	<td><input class="field" type="text" name="reviews_per_page" value="{reviews_per_page}" size="5" maxlength="5"></td>
</tr>
<tr class="middle">
	<td colspan="2">{SHOW_ON_DETAILED_PAGE_MSG}</td>
</tr>
<tr class="usual">
	<td>{TYPE_MSG}</td>
	<td><!-- begin pd_type -->
		<input type="radio" name="pd_type" id="pd_type{pd_type_value}" {pd_type_checked} value="{pd_type_value}">
		<label for="pd_type{pd_type_value}">{pd_type_description}</label><!-- end pd_type -->
	</td>
</tr>
<tr class="usual">
	<td>{LATEST_REVIEWS_NUMBER_MSG}</td>
	<td><input class="field" type="text" name="pd_reviews_recs" value="{pd_reviews_recs}" size="5" maxlength="5"></td>
</tr>
<tr class="middle">
	<td colspan="2">{REVIEWS_RESTRICTIONS_MSG}</td>
</tr>
<tr class="usual">
	<td>{REVIEWS_PER_ARTICLE_MSG}</td>
	<td>
		<input class="field" type="text" name="reviews_per_user" value="{reviews_per_user}" size="5" maxlength="5">
		({REVIEWS_PER_ARTICLE_MSG})
	</td>
</tr>
<tr class="usual">
	<td>{REVIEWS_PERIOD_MSG}</td>
	<td>
		<input class="field" type="text" name="reviews_interval" value="{reviews_interval}" size="10" maxlength="10"> &nbsp;
		<select name="reviews_period"><!-- begin reviews_period -->
			<option {reviews_period_selected} value="{reviews_period_value}">{reviews_period_description}<!-- end reviews_period -->
		</select> 
		({REVIEWS_PERIOD_DESC})
	</td>
</tr>
<tr class="middle">
	<td>&nbsp;</td>
	<td>
		<span class="button"><input class="submit" type="submit" value="{UPDATE_BUTTON}" onCLick="document.record.operation.value='save'"></span>
		<span class="button"><input class="submit" type="submit" value="{CANCEL_BUTTON}" onCLick="document.record.operation.value='cancel'"></span>
	</td>
</tr>
</table>
</div>

<div id="data_predefined_fields" style="{predefined_fields_style}">
<table border="0" cellpadding="4" cellspacing="1" width="100%">
<tr class="middle" align="center">
	<td>&nbsp;</td>
	<td>{ADMIN_SHOW_MSG}</td>
	<td>{REQUIRED_MSG}</td>
	<td>{ADMIN_ORDER_MSG}</td>
</tr>
<tr class="usual" align="center">
	<td align="left">{RECOMMEND_PRODUCT_MSG}</td>
	<td><input type="checkbox" name="show_recommended" {show_recommended} value="1"></td>
	<td><input type="checkbox" name="recommended_required" {recommended_required} value="1"></td>
	<td><input class="field" type="text" name="recommended_order" value="{recommended_order}" size="5" maxlength="10"></td>
</tr>
<tr class="usual" align="center">
	<td align="left">{RATE_IT_MSG}</td>
	<td><input type="checkbox" name="show_rating" {show_rating} value="1"></td>
	<td><input type="checkbox" name="rating_required" {rating_required} value="1"></td>
	<td><input class="field" type="text" name="rating_order" value="{rating_order}" size="5" maxlength="10"></td>
</tr>
<tr class="usual" align="center">
	<td align="left">{NAME_ALIAS_MSG}</td>
	<td><input type="checkbox" name="show_user_name" {show_user_name} value="1"></td>
	<td><input type="checkbox" name="user_name_required" {user_name_required} value="1"></td>
	<td><input class="field" type="text" name="user_name_order" value="{user_name_order}" size="5" maxlength="10"></td>
</tr>
<tr class="usual" align="center">
	<td align="left">{EMAIL_MSG}</td>
	<td><input type="checkbox" name="show_user_email" {show_user_email} value="1"></td>
	<td><input type="checkbox" name="user_email_required" {user_email_required} value="1"></td>
	<td><input class="field" type="text" name="user_email_order" value="{user_email_order}" size="5" maxlength="10"></td>
</tr>
<tr class="usual" align="center">
	<td align="left">{ONE_LINE_SUMMARY_MSG}</td>
	<td><input type="checkbox" name="show_summary" {show_summary} value="1"></td>
	<td><input type="checkbox" name="summary_required" {summary_required} value="1"></td>
	<td><input class="field" type="text" name="summary_order" value="{summary_order}" size="5" maxlength="10"></td>
</tr>
<tr class="usual" align="center">
	<td align="left">{YOUR_REVIEW_MSG}</td>
	<td><input type="checkbox" name="show_comments" {show_comments} value="1"></td>
	<td><input type="checkbox" name="comments_required" {comments_required} value="1"></td>
	<td><input class="field" type="text" name="comments_order" value="{comments_order}" size="5" maxlength="10"></td>
</tr>
<tr class="middle">
	<td>&nbsp;</td>
	<td colspan="8">
		<span class="button"><input class="submit" type="submit" value="{UPDATE_BUTTON}" onCLick="document.record.operation.value='save'"></span>
		<span class="button"><input class="submit" type="submit" value="{CANCEL_BUTTON}" onCLick="document.record.operation.value='cancel'"></span>
	</td>
</tr>
</table>
</div>

<!-- notification email -->
<div id="data_notification_email" style="{notification_email_style}">
<table border="0" cellpadding="4" cellspacing="1" width="100%">
<tr class="middle">
	<td colspan="2">{EMAIL_NOTIFICATION_MSG}</td>
</tr>
<tr class="usual">
	<td><label for="admin_notification">{SEND_NOTIFICATION_ADMIN_MSG}</label></td>
	<td><input type="checkbox" name="admin_notification" id="admin_notification" {admin_notification} value="1"></td>
</tr>
<tr class="usual">
	<td>
		<b>To</b>
		<div class="small">(<a href="javascript:openWindow('{admin_email_help_href}')">{CLICK_HERE_MSG}</a> {LEARN_MORE_EMAIL_FIELDS_NOTE})</div>
	</td>
	<td>
		<input class="field" type="text" name="admin_email" value="{admin_email}" size="80" maxlength="255">
		<div class="small">({EG_MSG} <b>reviews@example.com</b>)</div>
	</td>
</tr>
<tr class="usual">
	<td><b>{EMAIL_FROM_MSG}</b></td>
	<td><input class="field" type="text" name="admin_mail_from" value="{admin_mail_from}" size="80" maxlength="255"></td>
</tr>
<tr class="usual">
	<td>{EMAIL_CC_MSG}</td>
	<td><input class="field" type="text" name="admin_mail_cc" value="{admin_mail_cc}" size="80" maxlength="255"></td>
</tr>
<tr class="usual">
	<td>{EMAIL_BCC_MSG}</td>
	<td><input class="field" type="text" name="admin_mail_bcc" value="{admin_mail_bcc}" size="80" maxlength="255"></td>
</tr>
<tr class="usual">
	<td>{EMAIL_REPLY_TO_MSG}</td>
	<td><input class="field" type="text" name="admin_mail_reply_to" value="{admin_mail_reply_to}" size="80" maxlength="255"></td>
</tr>
<tr class="usual">
	<td>{EMAIL_RETURN_PATH_MSG}</td>
	<td><input class="field" type="text" name="admin_mail_return_path" value="{admin_mail_return_path}" size="80" maxlength="255"></td>
</tr>
<tr class="usual">
	<td><b>{EMAIL_SUBJECT_MSG}</b></td>
	<td><input class="field" type="text" name="admin_subject" value="{admin_subject}" size="80" maxlength="255"></td>
</tr>
<tr class="usual">
	<td><b>{EMAIL_MESSAGE_TYPE_MSG}</b></td>
	<td><!-- begin admin_message_type -->
		<input class="field" type="radio" name="admin_message_type" id="admin_message_type{admin_message_type_value}" {admin_message_type_checked} value="{admin_message_type_value}">
		<label for="admin_message_type{admin_message_type_value}">{admin_message_type_description}</label><!-- end admin_message_type -->
	</td>
</tr>
<tr class="usual">
	<td valign="top"><b>{MESSAGE_MSG}</b></td>
	<td>{editor_error}
		<textarea name="admin_message" id="am" cols="80" rows="10">{admin_message}</textarea>
		<!-- begin am_ext_editor -->
		<script type="text/javascript">
			var amEditor = CKEDITOR.replace('am');{ckfinder}
		</script><!-- end am_ext_editor -->
		<!-- begin am_int_editor -->
		<script type= "text/javascript">
			var editor_am = new VA_HTMLeditor('content_am','../','{html_editor}');
			editor_am.text_field_name = 'admin_message';
			editor_am.formname = 'record';
			editor_am.css_file = '{css_file}';
			editor_am.editor_type = 'amail_editor';
			editor_am.displayEditor('editor_am', 530, 170);
		</script><!-- end am_int_editor -->
	</td>
</tr>
<tr class="middle">
	<td colspan="2">{EMAIL_NOTIFICATION_USER_MSG}</td>
</tr>
<tr class="usual">
	<td><label for="user_notification">{SEND_NOTIFICATION_USER_MSG}</label></td>
	<td><input type="checkbox" name="user_notification" id="user_notification" {user_notification} value="1"></td>
</tr>
<tr class="usual">
	<td>
		<b>{EMAIL_FROM_MSG}</b>
		<div class="small">(<a href="javascript:openWindow('{admin_email_help_href}')">{CLICK_HERE_MSG}</a> {LEARN_MORE_EMAIL_FIELDS_NOTE})</div>
	</td>
	<td>
		<input class="field" type="text" name="user_mail_from" value="{user_mail_from}" size="80" maxlength="255">
		<div class="small">({EG_MSG} <b>sales@example.com</b>)</div>
	</td>
</tr>
<tr class="usual">
	<td>{EMAIL_CC_MSG}</td>
	<td><input class="field" type="text" name="user_mail_cc" value="{user_mail_cc}" size="80" maxlength="255"></td>
</tr>
<tr class="usual">
	<td>{EMAIL_BCC_MSG}</td>
	<td><input class="field" type="text" name="user_mail_bcc" value="{user_mail_bcc}" size="80" maxlength="255"></td>
</tr>
<tr class="usual">
	<td>{EMAIL_REPLY_TO_MSG}</td>
	<td><input class="field" type="text" name="user_mail_reply_to" value="{user_mail_reply_to}" size="80" maxlength="255"></td>
</tr>
<tr class="usual">
	<td>{EMAIL_RETURN_PATH_MSG}</td>
	<td><input class="field" type="text" name="user_mail_return_path" value="{user_mail_return_path}" size="80" maxlength="255"></td>
</tr>
<tr class="usual">
	<td><b>{EMAIL_SUBJECT_MSG}</b></td>
	<td><input class="field" type="text" name="user_subject" value="{user_subject}" size="80" maxlength="255"></td>
</tr>
<tr class="usual">
	<td><b>{EMAIL_MESSAGE_TYPE_MSG}</b></td>
	<td><!-- begin user_message_type -->
		<input type="radio" name="user_message_type" id="user_message_type{user_message_type_value}" {user_message_type_checked} value="{user_message_type_value}">
		<label for="user_message_type{user_message_type_value}">{user_message_type_description}</label><!-- end user_message_type -->
	</td>
</tr>
<tr class="usual">
	<td valign="top"><b>{MESSAGE_MSG}</b></td>
	<td>{editor_error}
		<textarea name="user_message" id="um" cols="80" rows="10">{user_message}</textarea>
		<!-- begin um_ext_editor -->
		<script type="text/javascript">
			var umEditor = CKEDITOR.replace('um');{ckfinder}
		</script><!-- end um_ext_editor -->
		<!-- begin um_int_editor -->
		<script type= "text/javascript">
			var editor_um = new VA_HTMLeditor('content_um','../','{html_editor}');
			editor_um.text_field_name = 'user_message';
			editor_um.formname = 'record';
			editor_um.css_file = '{css_file}';
			editor_um.editor_type = 'umail_editor';
			editor_um.displayEditor('editor_um', 530, 170);
		</script><!-- end um_int_editor -->
	</td>
</tr>
<tr class="middle">
	<td>&nbsp;</td>
	<td>
		<span class="button"><input class="submit" type="submit" value="{UPDATE_BUTTON}" onCLick="document.record.operation.value='save'"></span>
		<span class="button"><input class="submit" type="submit" value="{CANCEL_BUTTON}" onCLick="document.record.operation.value='cancel'"></span>
	</td>
</tr>
</table>
</div>

</form>

</div>
</div>

{admin_footer}

</body>
</html>
