<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html><head><title>..:: DB Error ::..</title>

<meta http-equiv="Content-Type" content="text/html; charset={CHARSET}">
<link rel="stylesheet" href="styles/admin.css" type="text/css">
 
</head>

<body>
{header}

	<div class="errorbg" style="font-weight: normal; text-align: left;">
		<p><b>DB ERROR {error_number}</b></p>
		<p>{DB_ERROR_FULL_MSG}      
		<p>{error_message}
	</div>

{footer}
</body>
</html>

