<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html><head><title>..:: {ADMINISTRATION_MSG} :: {USER_PRODUCT_MSG} {ADMIN_HELP_MSG} ::..</title>
<meta http-equiv="Content-Type" content="text/html; charset={CHARSET}">
<link rel="stylesheet" href="styles/admin.css" type="text/css">
</head>

<body class="popup">

<table cellspacing="1" cellpadding="6" border="0" width="100%">
<tr class="middle" align="center">
	<td>{HOW_TO_SETUP_EMAIL_MESSAGE}</td>
</tr>
<tr> 
	<td>
		<br>
		<div align="center">{DYNAMIC_CONTENT_HELP_NOTE}</div>
		<br>
	</td>
</tr>
</table>

<div class="title" align="center">{ADMIN_USER_MSG} {PRODUCT_INFO_MSG}</div>
<br>
<table cellspacing="1" cellpadding="6" border="0" width="100%">
<tr class="middle" align="center">
	<td>{TAG_NAME_MSG}</td>                               	
	<td>{TAG_DESCRIPTION_MSG}</td>
</tr>
<tr class="usual">
	<td>{item_id}</td>
	<td>{PRODUCT_ID_MSG}</td>
</tr>
<tr class="usual">
	<td>{is_showing}</td>
	<td>{PROD_SHOWN_MSG}</td>
</tr>
<tr class="usual">
	<td>{item_order}</td>
	<td>{PROD_ORDER_MSG}</td>
</tr>
<tr class="usual">
	<td>{item_name}</td>
	<td>{PROD_NAME_MSG}</td>
</tr>
<tr class="usual">
	<td>{friendly_url}</td>
	<td>{FRIENDLY_URL_MSG}</td>
</tr>
<tr class="usual">
	<td>{manufacturer_code}</td>
	<td>{PROD_CODE_MSG}</td>
</tr>
<tr class="usual">
	<td>{weight}</td>
	<td>{WEIGHT_MSG}</td>
</tr>
<tr class="usual">
	<td>{issue_date}</td>
	<td>{PROD_ISSUE_DATE_MSG}</td>
</tr>
<tr class="usual">
	<td>{is_compared}</td>
	<td>{PROD_ALLOWED_COMPARISON_MSG}</td>
</tr>
<tr class="usual">
	<td>{tax_free}</td>
	<td>{PROD_TAX_FREE_MSG}</td>
</tr>
<tr class="usual">
	<td>{language_code}</td>
	<td>{PROD_LANGUAGE_MSG}</td>
</tr>
<tr class="usual">
	<td>{is_price_edit}</td>
	<td>{PROD_CHANGE_PRICE_MSG}</td>
</tr>
<tr class="usual">
	<td>{is_sales}</td>
	<td>{PROD_ACTIVATE_DISCOUNT_MSG}</td>
</tr>
<tr class="usual">
	<td>{price}</td>
	<td>{PROD_LIST_PRICE_MSG}</td>
</tr>
<tr class="usual">
	<td>{sales_price}</td>
	<td>{PROD_DISCOUNT_PRICE_MSG}</td>
</tr>
<tr class="usual">
	<td>{trade_price}</td>
	<td>{PROD_TRADE_PRICE_MSG}</td>
</tr>
<tr class="usual">
	<td>{trade_sales}</td>
	<td>{PROD_DISCOUNT_TRADE_MSG}</td>
</tr>
<tr class="usual">
	<td>{buying_price}</td>
	<td>{PROD_BUYING_PRICE_MSG}</td>
</tr>
<tr class="usual">
	<td>{discount_percent}</td>
	<td>{PROD_SHOWN_DISCOUNT_MSG}</td>
</tr>
<tr class="usual">
	<td>{properties_price}</td>
	<td>{PROD_OPTIONS_PRICE_MSG}</td>
</tr>
<tr class="usual">
	<td>{trade_properties_price}</td>
	<td>{OPTIONS_TRADE_PRICE_MSG}</td>
</tr>
<tr class="usual">
	<td>{stock_level}</td>
	<td>{STOCK_QUANTITY_MSG}</td>
</tr>
<tr class="usual">
	<td>{features}</td>
	<td>{HIGHLIGHTS_MSG}</td>
</tr>
<tr class="usual">
	<td>{short_description}</td>
	<td>{SHORT_DESCRIPTION_MSG}</td>
</tr>
<tr class="usual">
	<td>{full_description}</td>
	<td>{FULL_DESCRIPTION_MSG}</td>
</tr>
<tr class="usual">
	<td>{is_special_offer}</td>
	<td>{PROD_OFFER_ACTIVATE_MSG}</td>
</tr>
<tr class="usual">
	<td>{special_offer}</td>
	<td>{SPECIAL_OFFER_MSG}</td>
</tr>
<tr class="usual">
	<td>{notes}</td>
	<td>{NOTES_MSG}</td>
</tr>
<tr class="usual">
	<td>{meta_title}</td>
	<td>{META_TITLE_MSG}</td>
</tr>
<tr class="usual">
	<td>{meta_keywords}</td>
	<td>{META_KEYWORDS_MSG}</td>
</tr>
<tr class="usual">
	<td>{meta_description}</td>
	<td>{META_DESCRIPTION_MSG}</td>
</tr>
<tr class="usual">
	<td>{buy_link}</td>
	<td>{PROD_DIRECT_LINK_MSG}</td>
</tr>
<tr class="usual">
	<td>{downloadable}</td>
	<td>{ADMIN_DOWNLOADABLE_MSG}</td>
</tr>
<tr class="usual">
	<td>{download_period}</td>
	<td>{DOWNLOAD_PERIOD_MSG}</td>
</tr>
<tr class="usual">
	<td>{download_path}</td>
	<td>{ADMIN_DOWNLOAD_PATH_MSG}</td>
</tr>
<tr class="usual">
	<td>{generate_serial}</td>
	<td>{SERIAL_GENERATE_MSG}</td>
</tr>
<tr class="usual">
	<td>{serial_period}</td>
	<td>{SERIAL_PERIOD_MSG}</td>
</tr>
<tr class="usual">
	<td>{activations_number}</td>
	<td>{ACTIVATION_MAX_NUMBER_MSG}</td>
</tr>
</table>

<table cellspacing="1" cellpadding="6" border="0" width="100%">
<tr class="middle">
	<td align="center"><a href="javascript:window.close();"><b>{CLOSE_WINDOW_MSG}</b></a></td>
</tr>
</table>

</body>
</html>