<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset={CHARSET}">
<title>{ADMIN_HELP_MSG}</title>
<link rel="stylesheet" href="styles/admin.css" type="text/css">
</head>
<body class="pg-popup">

<table cellspacing="1" cellpadding="6" border="0" width="100%">
<tr class="middle" align="center">
	<td>{HOW_TO_SETUP_EMAIL_MESSAGE}</td>
</tr>
<tr align="center">
	<td>
		<br>
		<div>{DYNAMIC_CONTENT_HELP_NOTE}</div>
		<br>
	</td>
</tr>
</table>

<div class="title" align="center">{ADMIN_REQUEST_INFORMATION_MSG}</div>
<br>
<table border="0" cellspacing="1" cellpadding="6" width="100%">
<tr class="middle" align="center">
	<td>{TAG_NAME_MSG}</td>                               	
	<td>{TAG_DESCRIPTION_MSG}</td>
</tr>
<tr class="usual">
	<td>{site_url}</td>
	<td>{SITE_URL_MSG}</td>
</tr>
<!-- begin review_product_tags -->
<tr>
	<td class="middle" colspan="2" align="center">{PRODUCT_MSG}</td>
</tr>
<tr class="usual">
	<td>{item_id}</td>
	<td>{PRODUCT_ID_MSG}</td>
</tr>
<tr class="usual">
	<td>{item_name}</td>
	<td>{PROD_NAME_MSG}</td>
</tr>
<tr class="usual">
	<td>{item_url}</td>
	<td>{PRODUCT_URL_MSG}</td>
</tr>
<!-- end review_product_tags -->
<!-- begin review_tags -->
<tr>
	<td class="middle" colspan="2" align="center">{ADMIN_REVIEW_MSG}</td>
</tr>
<tr class="usual">
	<td>{review_id}</td>
	<td>{ADMIN_REVIEW_MSG} ({ID_MSG})</td>
</tr>
<tr class="usual">
	<td>{review_user_id}</td>
	<td>{USER_MSG} ({ID_MSG})</td>
</tr>
<tr class="usual">
	<td>{review_admin_id}</td>
	<td>{ADMIN_MSG} ({ID_MSG})</td>
</tr>
<tr class="usual">
	<td>{review_user_name}</td>
	<td>{USER_NAME_MSG}</td>
</tr>
<tr class="usual">
	<td>{review_user_email}</td>
	<td>{USER_EMAIL_MSG}</td>
</tr>
<tr class="usual">
	<td>{review_user_type}</td>
	<td>{USER_TYPE_MSG}</td>
</tr>
<tr class="usual">
	<td>{review_ip}</td>
	<td>{CUSTOMER_IP_MSG}</td>
</tr>
<tr class="usual">
	<td>{review_date}</td>
	<td>{REVIEW_DATE_MSG}</td>
</tr>
<tr class="usual">
	<td>{review_approved}</td>
	<td>{APPROVED_QST}</td>
</tr>
<tr class="usual">
	<td>{review_impressions}</td>
	<td>{PRODUCT_IMPRESSIONS_MSG}</td>
</tr>
<tr class="usual">
	<td>{review_rating}</td>
	<td>{RATING_MSG}</td>
</tr>
<tr class="usual">
	<td>{review_summary}</td>
	<td>{SUMMARY_MSG}</td>
</tr>
<tr class="usual">
	<td>{review_message}</td>
	<td>{DETAILED_REVIEW_MSG}</td>
</tr>
<!-- end review_tags -->
<!-- begin review_comment_tags -->
<tr>
	<td class="middle" colspan="2" align="center">{COMMENT_MSG}</td>
</tr>
<tr class="usual">
	<td>{comment_id}</td>
	<td>{COMMENT_MSG} ({ID_MSG})</td>
</tr>
<tr class="usual">
	<td>{comment_user_id}</td>
	<td>{USER_MSG} ({ID_MSG})</td>
</tr>
<tr class="usual">
	<td>{comment_admin_id}</td>
	<td>{ADMIN_MSG} ({ID_MSG})</td>
</tr>
<tr class="usual">
	<td>{comment_user_name}</td>
	<td>{USER_NAME_MSG}</td>
</tr>
<tr class="usual">
	<td>{comment_user_email}</td>
	<td>{USER_EMAIL_MSG}</td>
</tr>
<tr class="usual">
	<td>{comment_user_type}</td>
	<td>{USER_TYPE_MSG}</td>
</tr>
<tr class="usual">
	<td>{comment_ip}</td>
	<td>{CUSTOMER_IP_MSG}</td>
</tr>
<tr class="usual">
	<td>{comment_approved}</td>
	<td>{APPROVED_QST}</td>
</tr>
<tr class="usual">
	<td>{comment_date}</td>
	<td>{DATE_MSG}</td>
</tr>
<tr class="usual">
	<td>{comment_message}</td>
	<td>{MESSAGE_MSG}</td>
</tr><!-- end review_comment_tags -->

<!-- begin question_tags -->
<tr>
	<td class="middle" colspan="2" align="center">{QUESTION_MSG}</td>
</tr>
<tr class="usual">
	<td>{question_id}</td>
	<td>{QUESTION_MSG} ({ID_MSG})</td>
</tr>
<tr class="usual">
	<td>{question_user_id}</td>
	<td>{USER_MSG} ({ID_MSG})</td>
</tr>
<tr class="usual">
	<td>{question_admin_id}</td>
	<td>{ADMIN_MSG} ({ID_MSG})</td>
</tr>
<tr class="usual">
	<td>{question_user_name}</td>
	<td>{USER_NAME_MSG}</td>
</tr>
<tr class="usual">
	<td>{question_user_email}</td>
	<td>{USER_EMAIL_MSG}</td>
</tr>
<tr class="usual">
	<td>{question_user_type}</td>
	<td>{USER_TYPE_MSG}</td>
</tr>
<tr class="usual">
	<td>{question_ip}</td>
	<td>{CUSTOMER_IP_MSG}</td>
</tr>
<tr class="usual">
	<td>{question_approved}</td>
	<td>{APPROVED_QST}</td>
</tr>
<tr class="usual">
	<td>{question_date}</td>
	<td>{DATE_MSG}</td>
</tr>
<tr class="usual">
	<td>{question_summary}</td>
	<td>{SUMMARY_MSG}</td>
</tr>
<tr class="usual">
	<td>{question_message}</td>
	<td>{QUESTION_MSG}</td>
</tr>
<!-- end question_tags -->
<!-- begin question_reply_tags -->
<tr>
	<td class="middle" colspan="2" align="center">{COMMENT_MSG}</td>
</tr>
<tr class="usual">
	<td>{reply_id}</td>
	<td>{COMMENT_MSG} ({ID_MSG})</td>
</tr>
<tr class="usual">
	<td>{reply_user_id}</td>
	<td>{USER_MSG} ({ID_MSG})</td>
</tr>
<tr class="usual">
	<td>{reply_admin_id}</td>
	<td>{ADMIN_MSG} ({ID_MSG})</td>
</tr>
<tr class="usual">
	<td>{reply_user_name}</td>
	<td>{USER_NAME_MSG}</td>
</tr>
<tr class="usual">
	<td>{reply_user_email}</td>
	<td>{USER_EMAIL_MSG}</td>
</tr>
<tr class="usual">
	<td>{reply_user_type}</td>
	<td>{USER_TYPE_MSG}</td>
</tr>
<tr class="usual">
	<td>{reply_ip}</td>
	<td>{CUSTOMER_IP_MSG}</td>
</tr>
<tr class="usual">
	<td>{reply_approved}</td>
	<td>{APPROVED_QST}</td>
</tr>
<tr class="usual">
	<td>{reply_date}</td>
	<td>{DATE_MSG}</td>
</tr>
<tr class="usual">
	<td>{reply_message}</td>
	<td>{MESSAGE_MSG}</td>
</tr><!-- end question_reply_tags -->

</table>

<table cellspacing="1" cellpadding="6" border="0" width="100%">
<tr class="middle">
	<td align="center"><a href="javascript:window.close();"><b>{CLOSE_WINDOW_MSG}</b></a></td>
</tr>
</table>

</body>
</html>