<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html><head><title>..:: {ADMINISTRATION_MSG} :: {SUPPORT_STATIC_TABLES_MSG} ::..</title>
<meta http-equiv="Content-Type" content="text/html; charset={CHARSET}">
<link rel="stylesheet" href="styles/admin.css" type="text/css">
</head>
<body class="commonbg">
{admin_header} 
{block_leftside_breadcrumbs}
<div class="Block">
<div class="BlockTitle">{SUPPORT_STATIC_TABLES_MSG}</div>
<div class="BlockContent">

<table cellspacing="1" cellpadding="8" border="0" align="center" width="100%">
<tr class="usual">
	<td><a href="{admin_support_types_href}">{SUPPORT_TYPES_MSG}</a></td>
	<td><a href="{admin_support_products_href}">{PRODUCTS_MSG}</a></td>
</tr>
<tr class="usual">
	<td><a href="{admin_support_priorities_href}">{PRIORITIES_MSG}</a></td>
	<td><a href="{admin_support_statuses_href}">{STATUSES_MSG}</a>
	</td>
</tr>
</table>

</div>
</div>

{admin_footer}
</body>
</html>
