<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset={CHARSET}">
<title>{ADMINISTRATION_MSG} :: {EDIT_SERIAL_NUMBER_MSG}</title>
<link rel="stylesheet" href="styles/admin.css" type="text/css">
<script language="JavaScript" type= "text/javascript" src="../js/calendar.js"></script>
</head>
<body class="commonbg">
{admin_header} 
{block_leftside_breadcrumbs}
<div class="Block">
<div class="BlockTitle">{EDIT_SERIAL_NUMBER_MSG}</div>
<div class="BlockContent">

<form action="{admin_order_serial_href}" name="record" method="POST">
<input type="hidden" name="operation" value="save">
<input type="hidden" name="serial_id" value="{serial_id}">
<input type="hidden" name="order_id" value="{order_id}">
<input type="hidden" name="user_id" value="{user_id}">
<input type="hidden" name="item_id" value="{item_id}">
<!-- BEGIN errors --><div class="errorbg">{errors_list}</div><!-- END errors -->
<table width="100%" border="0" cellspacing="1" cellpadding="6" align="center">
<tr class="usual">
	<td><label for="activated">{ADMIN_ACTIVATED_MSG}</label></td>
	<td><input type="checkbox" name="activated" id="activated" {activated} value="1"></td>
</tr>
<tr class="usual">
	<td>{ADMIN_PRODUCT_MSG} *</td>
	<td>
		<select name="order_item_id"><!-- begin order_item_id -->
			<option {order_item_id_selected} value="{order_item_id_value}">{order_item_id_description}<!-- end order_item_id -->
		</select>
	</td>
</tr>
<tr class="usual">
	<td>{SERIAL_NUMBER_COLUMN} *</td>
	<td><input class="field" type="text" size="40" name="serial_number" value="{serial_number}"></td>
</tr>
<!-- BEGIN serial_added_block -->
<tr class="usual">
	<td>{DATE_ADDED_MSG} *</td>
	<td>
		<div class="small">
		<input class="field" type="text" name="serial_added" value="{serial_added}">
		({date_format_msg})</div>
	</td>
</tr>
<!-- END serial_added_block -->
<tr class="usual">
	<td>{EXPIRY_DATE_MSG}</td>
	<td>
		<div class="small">
		<input class="field" type="text" name="serial_expiry" value="{serial_expiry}">
		<a href="#"
			onClick="setDateField(document.record.serial_expiry, '{date_edit_format}');
			top.newWin = window.open('../js/calendar.html','cal','dependent=yes,width=210,height=230,screenX=200,screenY=300,titlebar=yes'); top.newWin.focus(); return false;">
		<img src="images/calendar.gif" border="0" align="top" alt="{CALENDAR_MSG}" title="{CALENDAR_MSG}"></a>
		({date_format_msg})</div>
	</td>
</tr>
<tr class="usual">
	<td>{ACTIVATION_MAX_NUMBER_MSG} </td>
	<td class="small"><input class="field" type="text" name="activations_number" size="10" value="{activations_number}"></td>
</tr>
<tr class="middle">
	<td>&nbsp;</td>
	<td>
		<span class="button"><input class="submit" type="submit" value="{save_button}" onCLick="document.record.operation.value='save'"></span><!-- BEGIN delete -->
		<span class="button"><input class="submit" type="submit" value="{DELETE_BUTTON}" onclick="document.record.operation.value='delete';return confirm('{CONFIRM_DELETE_JS}');"></span><!-- END delete -->
		<span class="button"><input class="submit" type="submit" value="{CANCEL_BUTTON}" onCLick="document.record.operation.value='cancel'"></span>
	</td>
</tr>
</table>
</form>	

</div>
</div>

<div class="Block">
<div class="BlockTitle">{ADMIN_ACTIVATIONS_MSG}</div>
<div class="BlockContent">

<table border="0" cellpadding="6" cellspacing="1" width="100%"><!-- begin sorters -->
<tr class="middle"align="center">
	<td>{sorter_generation_key}</td>
	<td>{sorter_date_added}</td>
	<td>{sorter_remote_address}</td>
	<td>&nbsp;</td>
</tr><!-- end sorters --><!-- BEGIN records -->
<tr class="usual" align="center">
	<td>{generation_key}</td>
	<td>{date_added}</td>
	<td>{remote_address}</td>
	<td><a href="{admin_order_activation_href}?order_id={order_id}&serial_id={serial_id}&activation_id={activation_id}">{EDIT_MSG}</a></td>
</tr><!-- END records --><!-- BEGIN no_records -->
<tr class="usual">
	<td colspan="4">{NO_ACTIVATIONS_MSG}</td>
</tr><!-- END no_records -->
<!-- BEGIN add_activation -->
<tr class="middle">
	<td colspan="4">
		<div class="floatRight"><!-- begin navigator_block -->{navigator}<!-- end navigator_block --></div>
		<a href="{admin_order_activation_href}?order_id={order_id}&serial_id={serial_id}">{ADD_ACTIVATION_MSG}</a>
	</td>
</tr>
<!-- END add_activation -->
</table>	

</div>
</div>

{admin_footer}

</body>
</html>