<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html><head><title>..:: {ADMINISTRATION_MSG} :: {ADMIN_PAGES_MSG} :: {CHANGE_ORDER_MSG} ::..</title>
<meta http-equiv="Content-Type" content="text/html; charset={CHARSET}">
<link rel="stylesheet" href="styles/admin.css" type="text/css">
 
<script language="JavaScript">
<!--
	function changeOrder(column, order) 
	{
			var columnObject = null;
			if (column == 'left') {
				columnObject = document.layout.shown_header_menus;
			} else {
				alert("Wrong object type"); return;
			}
			var selectedIndex = columnObject.selectedIndex;		
			var incrementIndex = (order == 'up') ? -1 : 1;

			if(selectedIndex == -1) {
				alert('Please select link');
			} else {			
				var selectedValue = columnObject.options[selectedIndex].value;
				var selectedText = columnObject.options[selectedIndex].text;
				if((order == 'up' && selectedIndex != 0) ||
					(order == 'down' && selectedIndex != (columnObject.length - 1))) {
					columnObject.options[selectedIndex].value = columnObject.options[selectedIndex + incrementIndex].value;
					columnObject.options[selectedIndex].text = columnObject.options[selectedIndex + incrementIndex].text;
				
					columnObject.options[selectedIndex + incrementIndex].value = selectedValue;
					columnObject.options[selectedIndex + incrementIndex].text = selectedText;
				
					columnObject.options[selectedIndex].selected = false;
					columnObject.options[selectedIndex + incrementIndex].selected = true;
				} 
			}
	}

	function prepareLists()
	{
		var valuesList = "";
		for(var i = 0; i < document.layout.shown_header_menus.length; i++) {
			if(i > 0) valuesList += ","
			valuesList += document.layout.shown_header_menus.options[i].value;
		}
		document.layout.shown_list.value = valuesList;
	}

//-->
</script>
</head>

<body class="commonbg">
{admin_header} 
{block_leftside_breadcrumbs}
<div class="Block">
<div class="BlockTitle">{ADMIN_PAGES_MSG}</div>
<div class="BlockContent">

<form action="{admin_header_menus_order_href}" name="layout" method="POST" onSubmit="prepareLists();">
<input type="hidden" name="operation" value="save">
<input type="hidden" name="shown_list" value="">

  	<!-- BEGIN errors --><div class="errorbg">{errors_list}</div><!-- END errors -->		

  	<table align="center" width="100%" border="0" cellspacing="1" cellpadding="4">
		<tr align="center" class="middle">			
			<td>{CHANGE_ORDER_MSG}</td>
		</tr>
		<tr align="center" class="usual">
			<td>
				<table border="0" cellspacing="0" cellpadding="0">
				<tr valign="top">
					<td>
						<select name="shown_header_menus" size="15" style="width: 300px;"><!-- BEGIN shown_header_menus -->
							<option value="{shown_header_menus_value}">{shown_header_menus_description}<!-- END shown_header_menus -->
							<option>&nbsp;
						</select>
					</td>
					<td valign="top">
						&nbsp;<a href="#" onClick="changeOrder('left', 'up');return false;" onDblClick="changeOrder('left', 'up');return false;"><img src="../images/move_up.gif" border="0" width="16" height="16" alt="{MOVE_MSG} Up"></a><br>
						&nbsp;<a href="#" onClick="changeOrder('left', 'down');return false;" onDblClick="changeOrder('left', 'down');return false;"><img src="../images/move_down.gif" border="0" width="16" height="16" alt="{MOVE_MSG} Down"></a><br>
					</td>
				</tr>
				</table>

			</td>

		</tr>
		<tr align="right" class="middle">
			<td colspan="2">
				<span class="button"><input class="submit" type="submit" value="{UPDATE_BUTTON}" onCLick="document.layout.operation.value='save'"></span>
				<span class="button"><input class="submit" type="submit" value="{CANCEL_BUTTON}" onCLick="document.layout.operation.value='cancel'"></span>
			</td>
		</tr>	
		</table>



<script language="JavaScript">
<!--	
	document.layout.shown_header_menus.options[document.layout.shown_header_menus.length - 1] = null;
-->
</script>

</form>

</div>
</div>

{admin_footer}
</body>
</html>