<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html><head><title>{EXPORT_TEMPLATE_MSG}</title>
<meta http-equiv="Content-Type" content="text/html; charset={CHARSET}">
<link rel="stylesheet" href="styles/admin.css" type="text/css">
<script language="JavaScript">
<!--
	function openWindow(pagename)
	{
		var popupWin = window.open (pagename, 'popup', 'toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=yes,resizable=yes,width=600,height=500');
		popupWin.focus();
	}
//-->
</script>
</head>

<body class="bodySettings">
{admin_header} 
{block_leftside_breadcrumbs}
<div class="Block">
<div class="BlockTitle">{EXPORT_TEMPLATE_MSG}</div>
<div class="BlockContent">

<form action="{admin_company_href}" name="record" method="POST">
<input type="hidden" name="operation" value="save">
<input type="hidden" name="field_id" value="{field_id}">
<input type="hidden" name="template_id" value="{template_id}">
<input type="hidden" name="page" value="{page}">
<!-- BEGIN errors --><div class="errorbg">{errors_list}</div><!-- END errors -->
<table border="0" cellpadding="6" cellspacing="1" width="100%">
<tr class="usual">
	<td width="25%">{FIELD_ORDER_MSG} *</td>
	<td width="75%"><input type="text" name="field_order" size="60" value="{field_order}"></td>
</tr>
<tr class="usual">
	<td>{FIELD_TITLE_MSG} *</td>
	<td><input type="text" name="field_title" size="60" value="{field_title}"></td>
</tr>
<tr class="usual">
	<td>
		{FIELD_SOURCE_MSG}
		<br><br>(<a href="javascript:openWindow('{admin_export_custom_help_href}?table={table_name}')">{CLICK_HERE_MSG}</a> {FIELD_VALUE_NOTE})	
	</td>
	<td>
		<table border="0" cellpadding="0" cellspacing="0">
		<tr valign="top">
			<td rowspan="4"><textarea name="field_source" cols="55" rows="6">{field_source}</textarea></td>
			<td rowspan="4">&nbsp;&nbsp;</td>
			<td><b>{VALUE_EXAMPLE_MSG}</b></td>
			<td rowspan="4">&nbsp;&nbsp;&nbsp;</td>
			<td><b>{OUTPUT_EXAMPLE_MSG}</b></td>		
		</tr>
		<tr>
			<td>&#123;order_placed_date_YYYY&#125;</td>
			<td><i>2008</i></td>
		</tr>
		<tr>
			<td>&#123;country_code&#125;, &#123;state_code&#125;</td>
			<td><i>US, NY</i></td>
		</tr>
		<tr>
			<td>ID: &#123;user_id&#125;, <br>Name: &#123;name&#125;</td>
			<td><i>ID: 111, <br>Name: John</i></td>
		</tr>
		</table>
	</td>
</tr>
<tr class="middle">
	<td>&nbsp;</td>
	<td>
		<span class="button"><input class="submit" type="submit" value="{save_button}" onCLick="document.record.operation.value='save'"></span><!-- BEGIN delete -->
		<span class="button"><input class="submit" type="submit" value="{DELETE_BUTTON}" onclick="document.record.operation.value='delete';return confirm('{CONFIRM_DELETE_JS}');"></span><!-- END delete -->
		<span class="button"><input class="submit" type="submit" value="{CANCEL_BUTTON}" onCLick="document.record.operation.value='cancel'"></span>
	</td>
</tr>
</table>
</form>	

</div>
</div>

{admin_footer}
</body>
</html>