<!DOCTYPE html>
<html><head><title>{ADMIN_HELP_MSG}</title>
<meta http-equiv="Content-Type" content="text/html; charset={CHARSET}">
<link rel="stylesheet" href="styles/admin.css" type="text/css">
</head>

<body class="popup">

<table cellspacing="1" cellpadding="6" border="0" width="100%">
<tr class="middle" align="center">
	<td>{ADMIN_HELP_PAYMENTS_NOTE}</td>
</tr>
<tr> 
	<td>
		<br>
		<div align="center">{ADMIN_HELP_PAYMENTS_DESC}</div>
		<br>
	</td>
</tr>
</table>


<div class="title" align="center">{ADMIN_HELP_PAYMENTS_TITLE}</div>
<br>
<table border="0" cellspacing="1" cellpadding="6" width="100%">
<tr class="middle" align="center">
	<td>{ADMIN_VARIABLE_MSG} {NAME_MSG}</td>
	<td>{ADMIN_VARIABLE_MSG} {DESCRIPTION_MSG}</td>
</tr>
<tr class="usual">
	<td>site_url</td>
	<td>{SITE_URL_MSG}</td>
</tr>
<tr class="usual">
	<td>secure_url</td>
	<td>{SECURE_SITE_URL_MSG}</td>
</tr>
<tr class="usual">
	<td>session_id</td>
	<td>{PHP_SESSION_MSG} {ID_MSG}</td>
</tr>
<tr class="usual">
	<td>user_ip</td>
	<td>{CUSTOMER_IP_ADDRESS_MSG}</td>
</tr>
<tr class="usual">
	<td>order_id</td>
	<td>{ORDER_INVOICE_NUMBER_MSG}</td>
</tr>
<tr class="usual">
	<td>order_placed_date</td>
	<td>{PLACING_ORDER_DATE_MSG}</td>
</tr>
<tr class="usual">
	<td>user_id</td>
	<td>{USER_UNIQUE_IDENTIFICATOR_MSG}</td>
</tr>
<tr class="usual">
	<td>currency_code</td>
	<td>{SELECTED_CURRENCY_CODE_MSG}</td>
</tr>
<tr class="usual">
	<td>currency_value</td>
	<td>{SELECTED_CURRENCY_ISO_MSG}</td>
</tr>
<tr class="usual">
	<td>currency_rate</td>
	<td>{SELECTED_CURRENCY_RATE_MSG}</td>
</tr>

<tr class="usual">
	<td>total_quantity</td>
	<td>{TOTAL_PRODUCTS_BASKET_MSG}</td>
</tr>
<tr class="usual">
	<td>weight_total</td>
	<td>{WEIGHT_TOTAL_MSG}</td>
</tr>
<tr class="usual">
	<td>total_buying</td>
	<td>{TOTAL_BUYING_AMOUNT_MSG}</td>
</tr>
<tr class="usual">
	<td>goods_total</td>
	<td>{TOTAL_PRODUCTS_AMOUNT_MSG}</td>
</tr>
<tr class="usual">
	<td>total_discount</td>
	<td>{TOTAL_DISCOUNT_APPLIED_MSG}</td>
</tr>
<tr class="usual">
	<td>shipping_cost</td>
	<td>{SHIPPING_COST_MSG}</td>
</tr>
<tr class="usual">
	<td>tax_percent</td>
	<td>{TAX_PERCENT_MSG}</td>
</tr>
<tr class="usual">
	<td>tax_name</td>
	<td>{TAX_TITLE_MSG}</td>
</tr>
<tr class="usual">
	<td>tax_cost</td>
	<td>{TAX_COST_MSG}</td>
</tr>
<tr class="usual">
	<td>processing_fee</td>
	<td>{PROCESSING_FEE_MSG}</td>
</tr>

<tr class="usual">
	<td>order_total</td>
	<td>{TOTAL_ORDER_AMOUNT_MSG}</td>
</tr>
<tr class="usual">
	<td>basket</td>
	<td>{ALL_BASKET_INFO_MSG}</td>
</tr><!-- begin cart_fields -->
<tr class="usual">
	<td>{field_{field_id}}</td>
	<td>{field_name}</td>
</tr><!-- end cart_fields -->
</table>

<br>

<div class="title" align="center">{CUSTOMER_INFO_MSG}</div>
<br>
<table border="0" cellspacing="1" cellpadding="6" width="100%">
<tr class="middle" align="center">
	<td colspan="2">{ADMIN_VARIABLE_MSG} {NAME_MSG}</td>                               	
	<td>{ADMIN_VARIABLE_MSG} {DESCRIPTION_MSG}</td>
</tr>
<tr class="usual">
	<td>name</td>
	<td>delivery_name</td>
	<td>{USER_NAME_MSG}</td>
</tr>
<tr class="usual">
	<td>first_name</td>
	<td>delivery_first_name</td>
	<td>{FIRST_NAME_FIELD}</td>
</tr>
<tr class="usual">
	<td>middle_name</td>
	<td>delivery_middle_name</td>
	<td>{MIDDLE_NAME_FIELD}</td>
</tr>
<tr class="usual">
	<td>last_name</td>
	<td>delivery_last_name</td>
	<td>{LAST_NAME_FIELD}</td>
</tr>
<tr class="usual">
	<td>company_name</td>
	<td>delivery_company_name</td>
	<td>{COMPANY_NAME_FIELD}</td>
</tr>
<tr class="usual">
	<td>email</td>
	<td>delivery_email</td>
	<td>{EMAIL_FIELD}</td>
</tr>
<tr class="usual">
	<td>address1</td>
	<td>delivery_address1</td>
	<td>{STREET_FIRST_FIELD}</td>
</tr>
<tr class="usual">
	<td>address2</td>
	<td>delivery_address2</td>
	<td>{STREET_SECOND_FIELD}</td>
</tr>
<tr class="usual">
	<td>address3</td>
	<td>delivery_address3</td>
	<td>{STREET_THIRD_FIELD}</td>
</tr>
<tr class="usual">
	<td>city</td>
	<td>delivery_city</td>
	<td>{CITY_FIELD}</td>
</tr>
<tr class="usual">
	<td>province</td>
	<td>delivery_province</td>
	<td>{PROVINCE_FIELD}</td>
</tr>
<tr class="usual">
	<td>state</td>
	<td>delivery_state</td>
	<td>{STATE_FIELD}</td>
</tr>
<tr class="usual">
	<td>state_code</td>
	<td>delivery_state_code</td>
	<td>{STATE_CODE_MSG}</td>
</tr>
<tr class="usual">
	<td>zip</td>
	<td>delivery_zip</td>
	<td>{ZIP_FIELD}</td>
</tr>
<tr class="usual">
	<td>country</td>
	<td>delivery_country</td>
	<td>{COUNTRY_FIELD}</td>
</tr>
<tr class="usual">
	<td>country_code</td>
	<td>delivery_country_code</td>
	<td>{COUNTRY_CODE_MSG}</td>
</tr>
<tr class="usual">
	<td>phone</td>
	<td>delivery_phone</td>
	<td>{PHONE_FIELD}</td>
</tr>
<tr class="usual">
	<td>daytime_phone</td>
	<td>delivery_daytime_phone</td>
	<td>{DAYTIME_PHONE_FIELD}</td>
</tr>
<tr class="usual">
	<td>evening_phone</td>
	<td>delivery_evening_phone</td>
	<td>{EVENING_PHONE_FIELD}</td>
</tr>
<tr class="usual">
	<td>cell_phone</td>
	<td>delivery_cell_phone</td>
	<td>{CELL_PHONE_FIELD}</td>
</tr>
<tr class="usual">
	<td>fax</td>
	<td>delivery_fax</td>
	<td>{FAX_NUMBER_MSG}</td>
</tr><!-- begin details_fields -->
<tr class="usual">
	<td>{field_{field_id}}</td><td colspan="2">{field_name}</td>
</tr><!-- end details_fields -->
</table>

<br>

<div class="title" align="center">{CC_INFO_MSG}</div>
<br>
<table border="0" cellspacing="1" cellpadding="6" width="100%">
<tr class="middle" align="center">
	<td>{ADMIN_VARIABLE_MSG} {NAME_MSG}</td>
	<td>{ADMIN_VARIABLE_MSG} {DESCRIPTION_MSG}</td>
</tr>
<tr class="usual">
	<td>cc_name</td>
	<td>{CC_NAME_FIELD}</td>
</tr>
<tr class="usual">
	<td>cc_first_name</td>
	<td>{FIRST_NAME_FIELD}</td>
</tr>
<tr class="usual">
	<td>cc_last_name</td>
	<td>{LAST_NAME_FIELD}</td>
</tr>
<tr class="usual">
	<td>cc_number</td>
	<td>{CC_NUMBER_FIELD}</td>
</tr>
<tr class="usual">
	<td>cc_number_last</td>
	<td>{CC_FOUR_LAST_MSG}</td>
</tr>
<tr class="usual">
	<td>cc_issue_number</td>
	<td>{CC_ISSUE_NUMBER_FIELD}</td>
</tr>
<tr class="usual">
	<td>cc_security_code</td>
	<td>{CC_SECURITY_CODE_FIELD}</td>
</tr>
<tr class="usual">
	<td>cc_type</td>
	<td>{CC_TYPE_FIELD}</td>
</tr>
<tr class="usual">
	<td>cc_start_date</td>
	<td>{CC_START_DATE_FIELD}&nbsp; (MM/YYYY)</td>
</tr>
<tr class="usual">
	<td>cc_start_month</td>
	<td>{CC_START_MONTH_MSG}&nbsp; (MM)</td>
</tr>
<tr class="usual">
	<td>cc_start_year</td>
	<td>{START_YEAR_MSG}&nbsp; (YY)</td>
</tr>
<tr class="usual">
	<td>cc_expiry_date</td>
	<td>{EXPIRY_DATE_MSG}&nbsp; (MM/YYYY)</td>
</tr>
<tr class="usual">
	<td>cc_expiry_month</td>
	<td>Expiry Month&nbsp; (MM)</td>
</tr>
<tr class="usual">
	<td>cc_expiry_year</td>
	<td>{EXPIRY_YEAR_MSG}&nbsp; (YY)</td>
</tr>
<!-- begin payment_fields -->
<tr class="usual">
	<td>{field_{field_id}}</td>
	<td>{field_name}</td>
</tr><!-- end payment_fields -->
</table>

<table cellspacing="1" cellpadding="6" border="0" width="100%">
<tr class="middle">
	<td align="center"><a href="javascript:window.close();"><b>{CLOSE_WINDOW_MSG}</b></a></td>
</tr>
</table>

</body>
</html>