<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html><head><title>..:: {ADMINISTRATION_MSG} :: {EDIT_CUSTOMER_RANK_MSG} ::..</title>
<meta http-equiv="Content-Type" content="text/html; charset={CHARSET}">
<link rel="stylesheet" href="styles/admin.css" type="text/css">
<script language="JavaScript" type= "text/javascript" src="../js/calendar.js"></script>
</head>
<body class="commonbg">
{admin_header} 
{block_leftside_breadcrumbs}
<div class="Form">
<div class="FormTitle">{EDIT_CUSTOMER_RANK_MSG}</div>
<div class="FormContent">

<form action="{admin_support_rank_href}" name="record" method="POST">
<input type="hidden" name="operation" value="save">
<input type="hidden" name="user_priority_id" value="{user_priority_id}">
<input type="hidden" name="page" value="{page}">
<input type="hidden" name="s_ne" value="{s_ne}">
<input type="hidden" name="s_pt" value="{s_pt}">
<input type="hidden" name="s_ed" value="{s_ed}">
<!-- BEGIN errors --><div class="errorbg">{errors_list}</div><!-- END errors -->
<table border="0" cellspacing="1" cellpadding="6" width="100%">
<tr class="usual">
	<td>{CUSTOMER_ID_MSG}</td>
	<td><input class="field" type="text" size="10" name="user_id" value="{user_id}"></td>
</tr>
<tr class="usual">
	<td>{CUSTOMER_EMAIL_MSG} *</td>
	<td><input class="field" type="text" size="80" name="user_email" value="{user_email}"></td>
</tr>
<tr class="usual">
	<td>{PRIORITY_MSG} *</td>
	<td>
		<select name="priority_id"><!-- begin priority_id -->
			<option {priority_id_selected} value="{priority_id_value}">{priority_id_description}<!-- end priority_id -->
		</select>
	</td>
</tr>
<tr class="usual">
	<td>{EXPIRY_DATE_MSG}</td>
	<td>
		<input class="field" type="text" name="priority_expiry" value="{priority_expiry}" size="20" maxlength="16">
		<a href="#"
			onClick="setDateField(document.record.priority_expiry, '{date_edit_format}');
			top.newWin = window.open('../js/calendar.html','cal','dependent=yes,width=210,height=230,screenX=200,screenY=300,titlebar=yes'); top.newWin.focus(); return false;">
		<img src="images/calendar.gif" border="0" align="top" alt="{CALENDAR_MSG}" title="{CALENDAR_MSG}"></a>
		({date_format_msg})
	</td>
</tr>
<tr class="buttons">
	<td>&nbsp;</td>
	<td>
		<span class="button"><input class="submit" type="submit" value="{save_button}" onclick="document.record.operation.value='save'"></span><!-- BEGIN delete -->
		<span class="button"><input class="submit" type="submit" value="{DELETE_BUTTON}" onclick="document.record.operation.value='delete';return confirm('{CONFIRM_DELETE_JS}');"></span><!-- END delete -->
		<span class="button"><input class="submit" type="submit" value="{CANCEL_BUTTON}" onclick="document.record.operation.value='cancel'"></span>
	</td>
</tr>
</table>
</form>	

</div>
</div>

{admin_footer}
</body>
</html>