<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html><head><title>..:: {ADMINISTRATION_MSG} :: {PREDEFINED_SPECIFICATION_MSG} ::..</title>
<meta http-equiv="Content-Type" content="text/html; charset={CHARSET}">
<link rel="stylesheet" href="styles/admin.css" type="text/css">
</head>

<body class="commonbg">
{admin_header} 
{block_leftside_breadcrumbs}
<div class="Form">
<div class="FormTitle">{PREDEFINED_SPECIFICATION_MSG}</div>
<div class="FormContent">

<form action="{admin_default_features_href}" name="record" method="post">
<input type="hidden" name="operation" value="save">
<input type="hidden" name="item_type_id" value="{item_type_id}">
<input type="hidden" name="more_features" value="0">
<input type="hidden" name="number_features" value="{number_features}">
<input type="hidden" name="rp" value="{rp}">
<table border="0" cellpadding="4" cellspacing="1" align="center" width="100%">
<tr class="middle" align="center">
	<td>#</td>
	<td>{GROUP_AND_NAME_MSG}</td>
	<td>{PREDEFINED_VALUES_MSG}</td>
	<td>{GOOGLE_BASE_SETTINGS_MSG}</td>
	<td>{DELETE_BUTTON}</td>
</tr>
<!-- begin features --><!-- begin features_errors -->
<tr class="usual" align="center">
	<td>&nbsp;</td>
	<td colspan="3" class="errorbg">{errors_list}</td>
	<td>&nbsp;</td>	
</tr><!-- end features_errors -->
<tr class="usual" valign="top">
	<td align="center">
		{row_number}
		<input type="hidden" name="feature_id_{features_number}" value="{feature_id}">
		<input type="hidden" name="item_type_id_{features_number}" value="{item_type_id}">
	</td>
	<td>
		
		
		
		<table width="100%" border="0">
		<tr>
			<td>{GROUP_MSG}</td>
			<td>
				<select name="group_id_{features_number}" style="width: 200px;"><!-- begin group_id -->
					<option {group_id_selected} value="{group_id_value}">{group_id_description}<!-- end group_id -->
				</select> 
			</td>
		</tr>
		<tr>
			<td>{NAME_MSG}</td>
			<td>
				<input class="field" size=20 type="text" name="feature_name_{features_number}" value="{feature_name}" style="width: 200px;">
			</td>
		</tr>
		<tr>
			<td>{CODE_MSG}</td>
			<td>
				<input class="field" size=20 type="text" name="feature_code_{features_number}" value="{feature_code}" style="width: 200px;">
			</td>
		</tr>
		</table>
		<br>
	</td>
	<td>
		<textarea rows="4" cols="40" name="feature_value_{features_number}">{feature_value}</textarea>
	</td>
	<td>
		<!--begin google_base_attribute_id_block-->
		<select name="google_base_attribute_id_{features_number}" style="width: 200px;"><!-- begin google_base_attribute_id -->
			<option {google_base_attribute_id_selected} value="{google_base_attribute_id_value}">{google_base_attribute_id_description}<!-- end google_base_attribute_id -->
		</select> 
		<!--end google_base_attribute_id_block-->
	</td>
	<td align="center">
		<input type="checkbox" name="features_delete_{features_number}" {features_delete} value="1">
	</td>
</tr><!-- END features -->
<tr class="usual">
	<td colspan="5" align="right">{ADD_MORE_FEATURES_QST} <span class="button"><input class="submit" type="submit" value=" {ADD_BUTTON} " onClick="document.record.more_features.value=1"></span></td>
</tr>
<tr class="buttons">
	<td colspan="5" align="right">
		<span class="button"><input class="submit" type="submit" value=" {UPDATE_BUTTON} " onCLick="document.record.operation.value='save'"></span>
		<span class="button"><input class="submit" type="submit" value="{DELETE_ALL_BUTTON}" onCLick="document.record.operation.value='delete';return confirm('{CONFIRM_DELETE_JS}');"></span>
		<span class="button"><input class="submit"type="submit" value=" {CANCEL_BUTTON} " onCLick="document.record.operation.value='cancel'"></span>
	</td>
</tr>
</table>	
</form>

</div>
</div>

{admin_footer}
</body>
</html>
