<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html><head><title>{ADMINISTRATION_MSG} :: {EDIT_GROUP_MSG}</title>
<meta http-equiv="Content-Type" content="text/html; charset={CHARSET}">
<link rel="stylesheet" href="styles/admin.css" type="text/css">
</head>
<body class="commonbg">

{admin_header} 
{block_leftside_breadcrumbs}
<div class="Block">
<div class="BlockTitle">{GROUP_MSG}</div>
<div class="BlockContent">

<form action="{admin_item_type_href}" name="record" method="POST">
<input type="hidden" name="operation" value="save">
<input type="hidden" name="group_id" value="{group_id}">
<!-- BEGIN errors --><div class="errorbg">{errors_list}</div><!-- END errors -->
<table border="0" cellspacing="1" cellpadding="6" width="100%">
<tr class="usual">
	<td>{GROUP_ORDER_MSG} *</td>
	<td><input class="field" type="text" size="10" name="group_order" value="{group_order}" maxlength="10"></td>
</tr>
<tr class="usual">
	<td>{GROUP_NAME_MSG} *</td>
	<td><input class="field" type="text" size="50" name="group_name" value="{group_name}"></td>
</tr>
<tr>
	<td>{ADMIN_SHOW_MSG}</td>
	<td>
		<div class="floatLeft mr10"><input type="checkbox" {show_on_details} name="show_on_details" id="show_on_details" value="1">
		<label for="show_on_details">{ON_PROD_DETAILS_MSG}</label></div>
		<div class="floatLeft mr10"><input type="checkbox" {show_on_table} name="show_on_table" id="show_on_table" value="1">
		<label for="show_on_table">{ON_TABLE_VIEW_MSG}</label></div>
		<div class="floatLeft mr10"><input type="checkbox" {show_on_basket} name="show_on_basket" id="show_on_basket" value="1">
		<label for="show_on_basket">{ON_BASKET_PAGE_MSG}</label></div>
		<div class="floatLeft mr10"><input type="checkbox" {show_on_checkout} name="show_on_checkout" id="show_on_checkout" value="1">
		<label for="show_on_checkout">{ON_ORDERS_CHECKOUT_MSG}</label></div>
		<div class="floatLeft mr10"><input type="checkbox" {show_on_invoice} name="show_on_invoice" id="show_on_invoice" value="1">
		<label for="show_on_invoice">{ON_INVOICE_MSG}</label></div>
	</td>
</tr>
<tr class="middle">
	<td>&nbsp;</td>
	<td>
		<span class="button"><input class="submit" type="submit" value="{save_button}" onclick="document.record.operation.value='save'"></span><!-- BEGIN delete -->
		<span class="button"><input class="submit" type="submit" value="{DELETE_BUTTON}" onclick="document.record.operation.value='delete';return confirm('{CONFIRM_DELETE_JS}');"></span><!-- END delete -->
		<span class="button"><input class="submit" type="submit" value="{CANCEL_BUTTON}" onclick="document.record.operation.value='cancel'"></span>
	</td>
</tr>
</table>
</form>	

</div>
</div>

{admin_footer}
</body>
</html>