<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html><head><title>..:: {ADMINISTRATION_MSG} :: {SHIPPING_TIMES_MSG} ::..</title>
<meta http-equiv="Content-Type" content="text/html; charset={CHARSET}">
<link rel="stylesheet" href="styles/admin.css" type="text/css">
</head>
<body class="commonbg">
{admin_header} 
{block_leftside_breadcrumbs}
<div class="Block">
<div class="BlockTitle">{SHIPPING_TIMES_MSG}</div>
<div class="BlockContent">

<table border="0" cellspacing="1" cellpadding="6" width="100%">
<tr align="center" class="middle">
	<td>{sorter_shipping_time_id}</td>
	<td>{sorter_shipping_time_desc}</td>
	<td>&nbsp;</td>
</tr><!-- BEGIN records -->
<tr class="usual" align="center">
	<td>{shipping_time_id}</td>
	<td align="left">{shipping_time_desc}</td>
	<td><a href="{admin_shipping_time_href}?shipping_time_id={shipping_time_id}">{EDIT_SHIPPING_TIME_MSG}</a></td>
</tr><!-- END records --><!-- BEGIN no_records -->
<tr class="usual">
	<td colspan="3">{NO_RECORDS}</td>
</tr><!-- END no_records -->
<tr class="middle">
	<td colspan="3">
		<div class="floatRight"><!-- begin navigator_block -->{navigator}<!-- end navigator_block --></div>
		<a href="{admin_shipping_time_href}">{NEW_SHIPPING_TIME_MSG}</a>
	</td>
</tr>
</table>	

</div>
</div>

{admin_footer}
</body>
</html>