<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html><head><title>..:: {ADMINISTRATION_MSG} :: {EMAIL_FIELDS_HELP_MSG} ::..</title>

<meta http-equiv="Content-Type" content="text/html; charset={CHARSET}">
<link rel="stylesheet" href="styles/admin.css" type="text/css">
 

</head>

<body class="popup">

<table cellspacing="1" cellpadding="6" border="0" width="100%">
<tr class="middle" align="center">
	<td>{EMAIL_FIELDS_HELP_DESC}</td>
</tr>
</table>
<br>
<table cellspacing="1" cellpadding="6" border="0" width="100%">
<tr class="middle" align="center">
	<td width="20%">{FIELD_NAME_MSG}</td>                               	
	<td>{FIELD_DESC_MSG}</td>
</tr>
<tr class="usual">
	<td><b>{EMAIL_TO_MSG}</b></td>
	<td>
		<div align="justify">
			{EMAIL_TO_FIELD_DESC}
			<br>({EG_MSG} <b>manager@yoursite.com, support@yoursite.com</b>)
		</div>
	</td>
</tr>
<tr class="usual">
	<td><b>{EMAIL_FROM_MSG}</b></td>
	<td>
		<div align="justify">
			{EMAIL_FROM_DESC}
			<br>({EG_MSG} <b>admin@yoursite.com</b>)
		</div>
	</td>
</tr>
<tr class="usual">
	<td><b>{EMAIL_CC_MSG}</b></td>
	<td>
		<div align="justify">
		{EMAIL_CC_DESC}
		<br>({EG_MSG} <b>copy@yoursite.com, another_copy@yoursite.com</b>)
		</div>
	</td>
</tr>
<tr class="usual">
	<td><b>{EMAIL_BCC_MSG}</b></td>
	<td>
		<div align="justify">
		{EMAIL_BCC_DESC}
		<br>({EG_MSG} <b>blind_copy@yoursite.com, my_copy@yoursite.com</b>)
		</div>
	</td>
</tr>
<tr class="usual">
	<td><b>{EMAIL_REPLY_TO_MSG}</b></td>
	<td>
		<div align="justify">
			{EMAIL_REPLY_TO_DESC}
			<br>({EG_MSG} <b>replies@yoursite.com</b>)
		</div>
	</td>
</tr>
<tr class="usual">
	<td><b>{EMAIL_RETURN_PATH_MSG}</b></td>
	<td>
		<div align="justify">
			{EMAIL_RETURN_PATH_DESC}
			<br>({EG_MSG} <b>bounced@yoursite.com</b>)
		</div>
	</td>
</tr>
<tr class="usual">
	<td><b>{EMAIL_SUBJECT_MSG}</b></td>
	<td>
		<div align="justify">
			{EMAIL_SUBJECT_DESC}
		</div>
	</td>
</tr>
<tr class="usual">
	<td><b>{EMAIL_MESSAGE_TYPE_MSG}</b></td>
	<td>
		<div align="justify">
			{EMAIL_MESSAGE_TYPE_DESC}
			<br>({EG_MSG} <b>HTML</b> or <b>Plain Text</b>).
		</div>
	</td>
</tr>
<tr class="usual">
	<td><b>{EMAIL_MESSAGE_MSG}</b></td>
	<td>
		<div align="justify">
			{EMAIL_MESSAGE_DESC}
		</div>
	</td>
</tr>
</table>
<table cellspacing="1" cellpadding="6" border="0" width="100%">
<tr class="middle">
	<td align="center"><a href="javascript:window.close();"><b>{CLOSE_WINDOW_MSG}</b></a></td>
</tr>
</table>

</body>
</html>