<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html><head><title>..:: {ADMINISTRATION_MSG} :: {mail_data_title} ::..</title>
<meta http-equiv="Content-Type" content="text/html; charset={CHARSET}">
<link rel="stylesheet" href="styles/admin.css" type="text/css">
</head>

<body class="popup">

<table cellspacing="1" cellpadding="6" border="0" width="100%">
<tr class="middle" align="center">
	<td>{mail_data_title}</td>
</tr>
<tr>
	<td>{mail_data}</td>
</tr>
<tr class="middle" align="center">
	<td><a href="javascript:window.close();"><b>Close Window</b></a></td>
</tr>
</table>

</body>
</html>