<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html><head><title>..:: {ADMINISTRATION_MSG} :: {EDIT_IMAGE_MSG} ::..</title>
<meta http-equiv="Content-Type" content="text/html; charset={CHARSET}">
<link rel="stylesheet" href="styles/admin.css" type="text/css">
<script language="JavaScript">
<!--
	function openWindow(pagename, filetype)
	{
		var uploadWin = window.open (pagename + '?filetype=' + filetype, 'uploadWin', 'toolbar=no,location=no,directories=no,status=yes,menubar=no,scrollbars=yes,resizable=yes,width=600,height=500');
		uploadWin.focus();
	}

	function setFileName(filename, filetype)
	{
		var siteUrl = '{site_url}';

		if(filename != "")
		{
			if(filetype == "ad_small")
			{
				document.record.image_small.value = siteUrl + "images/ads/small/" + filename;
				document.record.image_small.focus();
			}
			else if(filetype == "ad_large")
			{
				document.record.image_large.value = siteUrl + "images/ads/large/" + filename;
				document.record.image_large.focus();
			}
		}
	}
//-->
</script> 

</head>
<body class="bodyDboard">
{admin_header} 
{block_leftside_breadcrumbs}
<div class="Block">
<div class="BlockTitle">{EDIT_IMAGE_MSG}</div>
<div class="BlockContent">

<form action="{admin_ads_image_href}" name="record" method="POST">
<input type="hidden" name="operation" value="save">
<input type="hidden" name="image_id" value="{image_id}">
<input type="hidden" name="item_id" value="{item_id}">
<input type="hidden" name="category_id" value="{category_id}">
<!-- BEGIN errors --><div class="errorbg">{errors_list}</div><!-- END errors -->

<table border="0" cellspacing="1" cellpadding="6" width="100%">
<tr class="usual">
	<td>{IMAGE_TITLE_MSG} *</td>
	<td><input class="field" type="text" size="60" name="image_title" value="{image_title}"></td>
</tr>
<tr class="usual">
	<td>{IMAGE_SMALL_MSG} *</td>
	<td>
		<input class="field" type="text" size="60" name="image_small" value="{image_small}">
		&nbsp;<a href="javascript:openWindow('{admin_upload_href}', 'ad_small')"><b>{UPLOAD_IMAGE_MSG}</b></a>
		&nbsp;|&nbsp; <a href="javascript:openWindow('{admin_select_href}', 'ad_small')"><b>{SELECT_IMAGE_MSG}</b></a>
	</td>
</tr>
<tr class="usual">
	<td>{IMAGE_LARGE_MSG}</td>
	<td>
		<input class="field" type="text" size="60" name="image_large" value="{image_large}">
		&nbsp;<a href="javascript:openWindow('{admin_upload_href}', 'ad_large')"><b>{UPLOAD_IMAGE_MSG}</b></a>
		&nbsp;|&nbsp; <a href="javascript:openWindow('{admin_select_href}', 'ad_large')"><b>{SELECT_IMAGE_MSG}</b></a>
	</td>
</tr>
<tr class="usual">
	<td>{AD_IMAGE_DESC_MSG}</td>
	<td><textarea rows="5" cols="45" name="image_description">{image_description}</textarea></td>
</tr>
<tr class="middle">
	<td>&nbsp;</td>
	<td>
		<span class="button"><input class="submit" type="submit" value="{save_button}" onclick="document.record.operation.value='save'"></span><!-- BEGIN delete -->
		<span class="button"><input class="submit" type="submit" value="{DELETE_BUTTON}" onclick="document.record.operation.value='delete';return confirm('{CONFIRM_DELETE_JS}');"></span><!-- END delete -->
		<span class="button"><input class="submit" type="submit" value="{CANCEL_BUTTON}" onclick="document.record.operation.value='cancel'"></span>
	</td>
</tr>
</table>
</form>	

</div>
</div>

{admin_footer}
</body>
</html>