<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html><head><title>..:: {ADMINISTRATION_MSG} :: {EDIT_ENGINE_MSG} ::..</title>
<meta http-equiv="Content-Type" content="text/html; charset={CHARSET}">
<link rel="stylesheet" href="styles/admin.css" type="text/css">
</head>
<body class="commonbg">
{admin_header} 
{block_leftside_breadcrumbs}
<div class="Block">
<div class="BlockTitle">{EDIT_ENGINE_MSG}</div>
<div class="BlockContent">

<form action="{admin_search_engine_href}" name="record" method="POST">
<input type="hidden" name="operation" value="save">
<input type="hidden" name="engine_id" value="{engine_id}">
<!-- BEGIN errors --><div class="errorbg">{errors_list}</div><!-- END errors -->
<table border="0" cellspacing="1" cellpadding="6" width="100%">
<tr class="usual">
	<td>{ENGINE_NAME_MSG}	*</td>
	<td><input class="field" type="text" size="80" name="engine_name" value="{engine_name}"></td>
</tr>
<tr class="usual">
	<td>{KEYWORDS_PARAMETER_NAME_MSG}</td>
	<td><input class="field" type="text" name="keywords_parameter" value="{keywords_parameter}" size="80" maxlength="255"></td>
</tr>
<tr class="usual">
	<td>{REFERRER_REGULAR_EXPRESSION_MSG}</td>
	<td><textarea name="referer_regexp" cols="80" rows="4">{referer_regexp}</textarea></td>
</tr>
<tr class="usual">
	<td>{USER_AGENT_REGULAR_EXPRESSION_MSG}</td>
	<td><textarea name="user_agent_regexp" cols="80" rows="4">{user_agent_regexp}</textarea></td>
</tr>
<tr class="usual">
	<td>{IP_ADDRESS_REGULAR_EXPRESSION_MSG}</td>
	<td><textarea name="ip_regexp" cols="80" rows="4">{ip_regexp}</textarea></td>
</tr>
<tr class="middle">
	<td>&nbsp;</td>
	<td>
		<span class="button"><input class="submit" type="submit" value="{save_button}" onclick="document.record.operation.value='save'"></span><!-- BEGIN delete -->
		<span class="button"><input class="submit" type="submit" value="{DELETE_BUTTON}" onclick="document.record.operation.value='delete';return confirm('{CONFIRM_DELETE_JS}');"></span><!-- END delete -->
		<span class="button"><input class="submit" type="submit" value="{CANCEL_BUTTON}" onclick="document.record.operation.value='cancel'"></span>
	</td>
</tr>
</table>
</form>	

</div>
</div>

{admin_footer}
</body>
</html>
