<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html><head><title>{SAVED_CART_NOTIFICATION_MSG}</title>
<meta http-equiv="Content-Type" content="text/html; charset={CHARSET}">
<link rel="stylesheet" href="styles/admin.css" type="text/css">
<script language="JavaScript">
<!--
	function openWindow(pagename)
	{
		var popupWin = window.open (pagename, 'popup', 'toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=yes,resizable=yes,width=600,height=500');
		popupWin.focus();
	}
//-->
</script>
</head>
<body class="popup">

<table cellspacing="1" cellpadding="6" border="0" width="100%">
<tr class="middle" align="center">
	<td>{HOW_TO_SETUP_EMAIL_MESSAGE}</td>
</tr>
<tr> 
	<td>
		<br>
		<div align="center">{DYNAMIC_CONTENT_HELP_NOTE}</div>
		<br>
	</td>
</tr>
</table>

<table border="0" cellspacing="1" cellpadding="6" width="100%">
<tr class="middle" align="center">
	<td>{TAG_NAME_MSG}</td>                               	
	<td>{TAG_DESCRIPTION_MSG}</td>
</tr>
<tr class="usual">
	<td>{cart_id}</td><td>{CART_NO_FIELD}</td>
</tr>
<tr class="usual">
	<td>{cart_name}</td><td>{CART_NAME_FIELD}</td>
</tr>
<tr class="usual">
	<td>{user_id}</td><td>{CUSTOMER_ID_MSG}</td>
</tr>
<tr class="usual">
	<td>{user_name}</td><td>{USER_NAME_MSG}</td>
</tr>
<tr class="usual">
	<td>{user_email}</td><td>{USER_EMAIL_MSG}</td>
</tr>
<tr class="usual">
	<td>{saved_items}</td><td>{CART_PRODUCTS_MSG}</td>
</tr>
</table>

<table cellspacing="1" cellpadding="6" border="0" width="100%">
<tr class="middle">
	<td align="center"><a href="javascript:window.close();"><b>{CLOSE_WINDOW_MSG}</b></a></td>
</tr>
</table>

</body>
</html>