<!DOCTYPE html>
<html><head><title>{EDIT_COUNTRY_MSG}</title>
<meta http-equiv="Content-Type" content="text/html; charset={CHARSET}">
<link rel="stylesheet" href="styles/admin.css" type="text/css">
<script type="text/javascript" src="../js/list_fields.js"></script>
<script language="JavaScript" type="text/javascript">
var list_fields_names = new Array('sites');
</script>
</head>
<body class="bodySettings">
{admin_header} 
{block_leftside_breadcrumbs}


	<ul class="tabs" data-form="record" data-js="tabs"><!-- BEGIN tabs -->
		<li class="{tab_class}" data-tab="{tab_name}"><a href="{tab_href}" title="{tab_title}">{tab_title}</a></li><!-- END tabs -->
	</ul>

<div class="Form clearBoth">
<div class="FormContent">

<form action="{admin_country_href}" name="record" onSubmit="selectListFieldsAll();" method="POST">
<input type="hidden" name="operation" value="save">
<input type="hidden" name="country_id" value="{country_id}">
<input type="hidden" name="sort_ord" value="{sort_ord}">
<input type="hidden" name="sort_dir" value="{sort_dir}">
<input type="hidden" name="page" value="{page}">
<input type="hidden" name="tab" value="{tab}">
<input type="hidden" name="sites" value="">
<input type="hidden" name="sp" value="{sp}">
<!-- BEGIN errors --><div class="errorbg">{errors_list}</div><!-- END errors -->

<div id="general_data" class="tab-data {general_class}">
<table border="0" cellspacing="1" cellpadding="6" width="100%">
<tr class="usual">
	<td>{SHOW_FOR_USER_MSG}</td>
	<td>
		<label><input type="checkbox" name="show_for_user" {show_for_user} value="1"> {PERSONAL_DETAILS_MSG}</label>
		<label><input type="checkbox" name="delivery_for_user" {delivery_for_user} value="1"> {DELIVERY_DETAILS_MSG}</label>
	</td>
</tr>
<tr class="usual">
	<td>{SHOW_FOR_ADMIN_MSG}</td>
	<td>
		<label><input type="checkbox" name="show_for_admin" {show_for_admin} value="1"> {PERSONAL_DETAILS_MSG}</label>
		<label><input type="checkbox" name="delivery_for_admin" {delivery_for_admin} value="1"> {DELIVERY_DETAILS_MSG}</label>
	</td>
</tr>
<tr class="usual">
	<td>{COUNTRY_ORDER_MSG}</td>
	<td><input class="field" type="text" size="10" name="country_order" value="{country_order}" maxlength="5"></td>
</tr>
<tr class="usual">
	<td>{ISO_NUMBER_MSG} *</td>
	<td><input class="field" type="text" size="10" name="country_iso_number" value="{country_iso_number}" maxlength="3"></td>
</tr>
<tr class="usual">
	<td>{COUNTRY_CODE_MSG} *</td>
	<td><input class="field" type="text" size="10" name="country_code" value="{country_code}" maxlength="4"></td>
</tr>
<tr class="usual">
	<td>{COUNTRY_CODE_ALPHA3_MSG}</td>
	<td><input class="field" type="text" size="10" name="country_code_alpha3" value="{country_code_alpha3}" maxlength="4"></td>
</tr>
<tr class="usual">
	<td>{PHONE_CODE_MSG}</td>
	<td><input class="field" type="text" size="10" name="phone_code" value="{phone_code}" maxlength="16"></td>
</tr>
<tr class="usual">
	<td>{DEFAULT_CURRENCY_MSG}</td>
	<td>
		<select name="currency_code"><!-- begin currency_code -->
			<option {currency_code_selected} value="{currency_code_value}">{currency_code_description}<!-- end currency_code -->
		</select>
	</td>
</tr>
<tr class="usual">
	<td>{COUNTRY_NAME_MSG} *</td>
	<td><input class="field" type="text" size="40" name="country_name" value="{country_name}"></td>
</tr>
<tr class="usual">
	<td>{STATE_FIELD_NAME_MSG}</td>
	<td><input class="field" type="text" size="40" name="state_field_name" value="{state_field_name}"></td>
</tr>
<tr class="middle">
	<td>&nbsp;</td>
	<td>
		<span class="button"><input class="submit" type="submit" value="{save_button}" onclick="document.record.operation.value='save'"></span><!-- BEGIN delete -->
		<span class="button"><input class="submit" type="submit" value="{DELETE_BUTTON}" onclick="document.record.operation.value='delete';return confirm('{CONFIRM_DELETE_JS}');"></span><!-- END delete -->
		<span class="button"><input class="submit" type="submit" value="{CANCEL_BUTTON}" onclick="document.record.operation.value='cancel'"></span>
	</td>
</tr>
</table>
</div>

<div id="postal_code_data" class="tab-data {postal_code_class}">
<table cellspacing="1" cellpadding="4" border="0" width="100%">
<tr class="middle">
	<td colspan="2">{ZIP_FIELD}</td>
</tr>
<tr class="usual">
	<td>{VALIDATION_REGEXP_MSG}</td>
	<td><textarea cols="60" rows="3" name="postal_code_regexp">{postal_code_regexp}</textarea></td>
</tr>
<tr class="usual">
	<td>{REGEXP_ERROR_MSG}</td>
	<td><textarea cols="60" rows="3" name="postal_code_error">{postal_code_error}</textarea></td>
</tr>
<tr class="middle">
	<td>&nbsp;</td>
	<td>
		<span class="button"><input class="submit" type="submit" value="{save_button}" onclick="document.record.operation.value='save'"></span><!-- BEGIN delete -->
		<span class="button"><input class="submit" type="submit" value="{DELETE_BUTTON}" onclick="document.record.operation.value='delete';return confirm('{CONFIRM_DELETE_JS}');"></span><!-- END delete -->
		<span class="button"><input class="submit" type="submit" value="{CANCEL_BUTTON}" onclick="document.record.operation.value='cancel'"></span>
	</td>
</tr>
</table>

</div>

<div id="sites_data" class="tab-data {sites_class}">

<table cellspacing="1" cellpadding="4" border="0" width="100%">
<tr class="usual">
	<td colspan="3">
		<input type="checkbox" name="sites_all" id="sites_all" {sites_all} onClick="checkListFields('sites');" value="1">
		<label for="sites_all">{SITES_ALL_MSG} ({SITES_ALL_UNTICK_MSG})</label>
	</td>
</tr>
<tr align="center" class="middle">
	<td width="45%"><b>{AVAILABLE_SITES_MSG}</b></td>
	<td width="10%"><b>{OPERATIONS_MSG}</b></td>
	<td width="45%"><b>{USE_ITEM_SITES_MSG}</b></td>
</tr>
<tr align="center" class="usual">
	<td>
		<select name="available_sites" MULTIPLE size="10"  style="width: 300px;"><!-- begin available_sites -->
			<option value="{site_id}">{site_name}<!-- end available_sites-->
		</select>
	</td>
	<td>
		<span class="button"><input class="submit" readonly type="button" name="add_sites" value="&nbsp;&nbsp; {ADD_BUTTON}  -> &nbsp;&nbsp;" onClick="addListFields('sites');"></span>
		<br><br>
		<span class="button"><input class="submit" type="button" name="remove_sites" value="<- {REMOVE_BUTTON}" onClick="removeListFields('sites');"></span>
	</td>
	<td>
		<select name="selected_sites" MULTIPLE size="10" style="width: 300px;"><!-- begin selected_sites -->
			<option value="{site_id}">{site_name}<!-- end selected_sites -->
		</select>
	</td>
</tr>
<tr align="center" class="middle">
	<td colspan="3" >
		<span class="button"><input class="submit" type="submit" value="{save_button}" onCLick="document.record.operation.value='save'"></span><!-- BEGIN delete -->
		<span class="button"><input class="submit" type="submit" value="{DELETE_BUTTON}" onclick="document.record.operation.value='delete';return confirm('{CONFIRM_DELETE_JS}');"></span><!-- END delete -->
		<span class="button"><input class="submit" type="submit" value="{CANCEL_BUTTON}" onCLick="document.record.operation.value='cancel'"></span>
	</td>
</tr>
</table>
</div>

</form>	

</div>
</div>

{admin_footer}
</body>
</html>
