<div class="cms-row">
	<div class="cms-full">{frame_bar}</div>
</div>

{fm_head1_top}
<div class="cms-row">
	<div class="cms-full">{header}</div>
</div>
{fm_head1_bottom}

{fm_head2_top}
<div class="cms-row">
	<div class="cms-left">{fm_head_left}</div>
	<div class="cms-center">{fm_head_center}</div>
	<div class="cms-right">{fm_head_right}</div>
</div>
{fm_head2_bottom}

{fm_head3_top}
<div class="cms-row">
	<div class="cms-full">{fm_head_full}</div>
</div>
{fm_head3_bottom}

{fm_row1_top}
<div class="cms-row">
	<div class="cms-left">{fm_row1_left}</div>
	<div class="cms-center">{fm_row1_center}</div>
	<div class="cms-right">{fm_row1_right}</div>
</div>
{fm_row1_bottom}

{fm_row2_top}
<div class="cms-row">
	<div class="cms-double">{fm_row2_left}</div>
	<div class="cms-right">{fm_row2_right}</div>
</div>
{fm_row2_bottom}

{fm_row3_top}
<div class="cms-row">
	<div class="cms-left">{fm_row3_left}</div>
	<div class="cms-center">{fm_row3_center}</div>
	<div class="cms-right">{fm_row3_right}</div>
</div>
{fm_row3_bottom}

{fm_row4_top}
<div class="cms-row">
	<div class="cms-left">{fm_row4_left}</div>
	<div class="cms-double">{fm_row4_right}</div>
</div>
{fm_row4_bottom}

{fm_row5_top}
<div class="cms-row">
	<div class="cms-left">{fm_row5_left}</div>
	<div class="cms-center">{fm_row5_center}</div>
	<div class="cms-right">{fm_row5_right}</div>
</div>
{fm_row5_bottom}

{fm_row6_top}
<div class="cms-row">
	<div class="cms-full">{fm_row6_full}</div>
</div>
{fm_row6_bottom}

{fm_row7_top}
<div class="cms-row">
	<div class="cms-left">{fm_row7_left}</div>
	<div class="cms-center">{fm_row7_center}</div>
	<div class="cms-right">{fm_row7_right}</div>
</div>
{fm_row7_bottom}

{fm_row8_top}
<div class="cms-row">
	<div class="cms-double">{fm_row8_left}</div>
	<div class="cms-right">{fm_row8_right}</div>
</div>
{fm_row8_bottom}

{fm_row9_top}
<div class="cms-row">
	<div class="cms-left">{fm_row9_left}</div>
	<div class="cms-center">{fm_row9_center}</div>
	<div class="cms-right">{fm_row9_right}</div>
</div>
{fm_row9_bottom}

{fm_row10_top}
<div class="cms-row">
	<div class="cms-left">{fm_row10_left}</div>
	<div class="cms-double">{fm_row10_right}</div>
</div>
{fm_row10_bottom}

{fm_row11_top}
<div class="cms-row">
	<div class="cms-left">{fm_row11_left}</div>
	<div class="cms-center">{fm_row11_center}</div>
	<div class="cms-right">{fm_row11_right}</div>
</div>
{fm_row11_bottom}


{fm_foot1_top}
<div class="cms-row">
	<div class="cms-full">{fm_foot_full}</div>
</div>
{fm_foot1_bottom}

{fm_foot2_top}
<div class="cms-row">
	<div class="cms-left">{fm_foot_left}</div>
	<div class="cms-center">{fm_foot_center}</div>
	<div class="cms-right">{fm_foot_right}</div>
</div>
{fm_foot2_bottom}

{fm_foot3_top}
<div class="cms-row">
	<div class="cms-full">{footer}</div>
</div>
{fm_foot3_bottom}

