<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset={CHARSET}">
<title>{PREDEFINED_TYPES_MSG}</title>
<link rel="stylesheet" href="styles/admin.css" type="text/css">
</head>
<body class="commonbg">
{admin_header} 
{block_leftside_breadcrumbs}
<div class="Block">
<div class="BlockTitle">{PREDEFINED_TYPES_MSG}</div>
<div class="BlockContent">

<table border="0" cellspacing="1" cellpadding="6" width="100%"><!-- begin titles -->
<tr align="center" class="middle">
	<td width="10%">{sorter_type_id}</td>
	<td width="70%">{sorter_type_name}</td>
	<td>&nbsp;</td>
</tr><!-- end titles --><!-- BEGIN records -->
<tr class="usual" align="center">
	<td>{type_id}</td>
	<td align="left">{type_name}</td>
	<td><a href="{admin_support_pretype_url}">{EDIT_MSG}</a></td>
</tr><!-- END records --><!-- BEGIN no_records -->
<tr class="usual">
	<td colspan="3">{NO_RECORDS}</td>
</tr><!-- END no_records -->
<tr class="middle">
	<td colspan="3">
		<div class="floatRight"><!-- begin navigator_block -->{navigator}<!-- end navigator_block --></div>
		<a href="{admin_support_pretype_new_url}">{ADD_NEW_MSG}</a>
	</td>
</tr>
</table>
	
</div>
</div>

{admin_footer}
</body>
</html>
