<div id="leftNavigation">
	<div class="leftNavigationDboard"><!--begin leftside_group-->
		<div id="{leftside_group_id}" class="{leftside_group_class}">
			<a href="{leftside_group_href}" class="leftNavTitle">{leftside_group_title}</a><!--begin leftside_items-->
			<a href="#" class="leftNavArr" onclick="overhid('{leftside_group_id}'); return false;"><img src="images/tr.gif" alt=""></a>
			<ul><!--begin leftside_item-->
				<li><a class="{leftside_class}" href="{leftside_href}">{leftside_title}</a></li><!--end leftside_item-->
			</ul><!--end leftside_items-->
		</div><!--end leftside_group-->
	</div>
</div>