<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset={CHARSET}">
<title>{ADMINISTRATION_MSG} :: {FINAL_CHECKOUT_SETTINGS_MSG}</title>
<link rel="stylesheet" href="styles/admin.css" type="text/css">
<link rel="stylesheet" href="../styles/editor.css" type="text/css">
<script type="text/javascript" src="../js/admin.js"></script>
<script language="JavaScript" type= "text/javascript" src="../js/editor.js"></script>
<script language="JavaScript">
<!--
	function openWindow(pagename)
	{
		var popupWin = window.open (pagename + "?cc=1", 'popup', 'toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=yes,resizable=yes,width=600,height=500');
		popupWin.focus();
	}
//-->
</script>
{CKEditor_tag}
</head>
<body class="mainbg">
{admin_header}
<form action="{admin_order_final_href}" name="record" method="POST" onsubmit="submit_editor(Array('editor_sm','editor_am','editor_um'));">
<div class="sitelist"><!-- begin sitelist -->
	{SELECT_SITE_MSG}&nbsp;
	<select name="param_site_id" onchange="reloadSite(this.form)"><!-- begin param_site_id -->
		<option {param_site_id_selected} value="{param_site_id_value}">{param_site_id_description}<!-- end param_site_id -->
	</select><!-- end sitelist -->
</div>
{block_leftside_breadcrumbs}
<div class="Block">
<div class="BlockTitle">{FINAL_CHECKOUT_SETTINGS_MSG}</div>
<div class="BlockContent">

<input type="hidden" name="operation" value="save">
<input type="hidden" name="rp" value="{rp}">
<input type="hidden" name="payment_id" value="{payment_id}">
<!-- BEGIN errors --><div class="errorbg">{errors_list}</div><!-- END errors -->
<table border="0" cellpadding="6" cellspacing="1" width="100%">
<tr class="middle">
	<td colspan="2">{VALIDATION_PARAMETERS_MSG}</td>
</tr>
<tr class="usual">
	<td width="30%"><label for="is_validation">{ADDITIONAL_VALIDATION_MSG}</label></td>
	<td><input type="checkbox" name="is_validation" id="is_validation" {is_validation} value="1"></td>
</tr>
<tr class="usual">
	<td>{VALIDATION_SCRIPT_MSG}</td>
	<td><input type="text" class="field" name="validation_php_lib" value="{validation_php_lib}" size="70"> &nbsp;</td>
</tr>
<tr class="usual">
	<td>{SUCCESS_STATUS_MSG}</td>
	<td>
		<select name="success_status_id"><!-- begin success_status_id -->
			<option {success_status_id_selected} value="{success_status_id_value}">{success_status_id_description}<!-- end success_status_id -->
		</select>
	</td>
</tr>
<tr class="usual">
	<td>{PENDING_STATUS_MSG} <span class="comment">(if applicable)</span></td>
	<td>
		<select name="pending_status_id"><!-- begin pending_status_id -->
			<option {pending_status_id_selected} value="{pending_status_id_value}">{pending_status_id_description}<!-- end pending_status_id -->
		</select>
	</td>
</tr>
<tr class="usual">
	<td>{FAILURE_STATUS_MSG}</td>
	<td>
		<select name="failure_status_id"><!-- begin failure_status_id -->
			<option {failure_status_id_selected} value="{failure_status_id_value}">{failure_status_id_description}<!-- end failure_status_id -->
		</select>
	</td>
</tr>
<tr class="middle">
	<td colspan="2">{FINAL_MESSAGES_MSG}</td>
</tr>
<tr class="usual">
	<td valign="top">{ON_SUCCSESS_MESSAGE_MSG}</td>
	<td>{editor_error}
		<textarea name="success_message" id="sm" cols="80" rows="8">{success_message}</textarea>
		<!-- begin sm_ext_editor -->
		<script type="text/javascript">
			CKEDITOR.replace('sm');
		</script><!-- end sm_ext_editor -->
		<!-- begin sm_int_editor -->
		<script type= "text/javascript">
			var editor_sm = new VA_HTMLeditor('content_sm','../','{html_editor}');
			editor_sm.text_field_name = 'success_message';
			editor_sm.formname = 'record';
			editor_sm.css_file = '{css_file}';
			editor_sm.editor_type = 'smessage_editor';
			editor_sm.displayEditor('editor_sm', 520, 170);
		</script><!-- end sm_int_editor -->
	</td>
</tr>
<tr class="usual">
	<td valign="top">{PENDING_MSG} {MESSAGE_MSG}</td>
	<td><textarea name="pending_message" cols="80" rows="5">{pending_message}</textarea></td>
</tr>
<tr class="usual">
	<td valign="top">{ON_FAILURE_MESSAGE_MSG}</td>
	<td><textarea name="failure_message" cols="80" rows="5">{failure_message}</textarea></td>
</tr>
<tr class="middle">
	<td colspan="2">{EMAIL_NOTIFICATION_MSG}</td>
</tr>
<tr class="usual">
	<td>{SEND_NOTIFICATION_ADMIN_MSG}</td>
	<td>
		<input type="checkbox" name="admin_notification" id="admin_notification" {admin_notification} value="1"> <label for="admin_notification">{ON_SUCCESS_MSG}</label>
		<input type="checkbox" name="admin_pending_notify" id="admin_pending_notify" {admin_pending_notify} value="1"> <label for="admin_pending_notify">{ON_PENDING_MSG}</label>
		<input type="checkbox" name="admin_failure_notify" id="admin_failure_notify" {admin_failure_notify} value="1"> <label for="admin_failure_notify">{ON_FAILURE_MSG}</label>
	</td>
</tr>
<tr class="usual">
	<td>
		<label for="admin_notification_pgp">Enable PGP encryption</label>
		<div class="small">(<a href="{admin_global_settings_href}?tab=pgp">{CLICK_HERE_MSG}</a> to specify global PGP encryption parameters)</div>
	</td>
	<td><input type="checkbox" name="admin_notification_pgp" id="admin_notification_pgp" {admin_notification_pgp} value="1"></td>
</tr>
<tr class="usual">
	<td>
		<b>{EMAIL_TO_MSG}</b>
		<div class="small">(<a href="javascript:openWindow('{admin_email_help_href}')">{CLICK_HERE_MSG}</a> {LEARN_MORE_EMAIL_FIELDS_NOTE})</div>
	</td>
	<td>
		<input class="field" type="text" name="admin_email" value="{admin_email}" size="80" maxlength="255">
		<div class="small">({EG_MSG} <b>sales@yoursite.com</b>)</div>
	</td>
</tr>
<tr class="usual">
	<td><b>{EMAIL_FROM_MSG}</b></td>
	<td><input class="field" type="text" name="admin_mail_from" value="{admin_mail_from}" size="80" maxlength="255"></td>
</tr>
<tr class="usual">
	<td>{EMAIL_CC_MSG}</td>
	<td><input class="field" type="text" name="cc_emails" value="{cc_emails}" size="80" maxlength="255"></td>
</tr>
<tr class="usual">
	<td>{EMAIL_BCC_MSG}</td>
	<td><input class="field" type="text" name="admin_mail_bcc" value="{admin_mail_bcc}" size="80" maxlength="255"></td>
</tr>
<tr class="usual">
	<td>{EMAIL_REPLY_TO_MSG}</td>
	<td><input class="field" type="text" name="admin_mail_reply_to" value="{admin_mail_reply_to}" size="80" maxlength="255"></td>
</tr>
<tr class="usual">
	<td>{EMAIL_RETURN_PATH_MSG}</td>
	<td><input class="field" type="text" name="admin_mail_return_path" value="{admin_mail_return_path}" size="80" maxlength="255"></td>
</tr>
<tr class="usual">
	<td>{ATTACHMENTS_MSG}</td>
	<td>
		<input type="checkbox" name="admin_mail_pdf_invoice" id="admin_mail_pdf_invoice" {admin_mail_pdf_invoice} value="1">
		<label for="admin_mail_pdf_invoice">PDF Invoice</label>
	</td>
</tr>
<tr class="usual">
	<td><b>{EMAIL_SUBJECT_MSG}</b></td>
	<td><input class="field" type="text" name="admin_subject" value="{admin_subject}" size="80" maxlength="255"></td>
</tr>
<tr class="usual">
	<td><b>{EMAIL_MESSAGE_TYPE_MSG}</b></td>
	<td><!-- begin admin_message_type -->
		<input type="radio" name="admin_message_type" id="admin_message_type{admin_message_type_value}" {admin_message_type_checked} value="{admin_message_type_value}">
		<label for="admin_message_type{admin_message_type_value}">{admin_message_type_description}</label><!-- end admin_message_type -->
	</td>
</tr>
<tr class="usual">
	<td valign="top">
		<b>{MESSAGE_MSG}</b>
		<div class="small">
		<br>(<a href="javascript:openWindow('{admin_order_help_href}?payment_id={payment_id}&final=1')">{CLICK_HERE_MSG}</a> {LEARN_MORE_EMAIL_SETTINGS_NOTE} 
		<br>&nbsp;{LEARN_MORE_AND_SEE_NOTE})
		</div>
	</td>
	<td>{editor_error}
		<textarea name="admin_message" id="am" cols="80" rows="10">{admin_message}</textarea>
		<!-- begin am_ext_editor -->
		<script type="text/javascript">
			CKEDITOR.replace('am');
		</script><!-- end am_ext_editor -->
		<!-- begin am_int_editor -->
		<script type= "text/javascript">
			var editor_am = new VA_HTMLeditor('content_am','../','{html_editor}');
			editor_am.text_field_name = 'admin_message';
			editor_am.formname = 'record';
			editor_am.css_file = '{css_file}';
			editor_am.editor_type = 'amessage_editor';
			editor_am.displayEditor('editor_am', 520, 170);
		</script><!-- end am_int_editor -->
	</td>
</tr>
<tr class="middle">
	<td colspan="2">{EMAIL_NOTIFICATION_USER_MSG}</td>
</tr>
<tr class="usual">
	<td><label for="product_individual_notification">Send this notification only if an individual product notification isn't activated</label></td>
	<td><input type="checkbox" name="product_individual_notification" id="product_individual_notification" {product_individual_notification} value="1"> </td>
</tr>
<tr class="usual">
	<td>{SEND_NOTIFICATION_USER_MSG}</td>
	<td>
		<input type="checkbox" name="user_notification" id="user_notification" {user_notification} value="1"> <label for="user_notification">{ON_SUCCESS_MSG}</label>
		<input type="checkbox" name="user_pending_notify" id="user_pending_notify" {user_pending_notify} value="1"> <label for="user_pending_notify">{ON_PENDING_MSG}</label>
		<input type="checkbox" name="user_failure_notify" id="user_failure_notify" {user_failure_notify} value="1"> <label for="user_failure_notify">{ON_FAILURE_MSG}</label>
	</td>
</tr>
<tr class="usual">
	<td>
		<b>{EMAIL_FROM_MSG}</b>
		<div class="small">(<a href="javascript:openWindow('{admin_email_help_href}')">{CLICK_HERE_MSG}</a> {LEARN_MORE_EMAIL_FIELDS_NOTE})</div>
	</td>
	<td>
		<input class="field" type="text" name="user_mail_from" value="{user_mail_from}" size="80" maxlength="255">
		<div class="small">({EG_MSG} <b>sales@yoursite.com</b>)</div>
	</td>
</tr>
<tr class="usual">
	<td>{EMAIL_CC_MSG}</td>
	<td><input class="field" type="text" name="user_mail_cc" value="{user_mail_cc}" size="80" maxlength="255"></td>
</tr>
<tr class="usual">
	<td>{EMAIL_BCC_MSG}</td>
	<td><input class="field" type="text" name="user_mail_bcc" value="{user_mail_bcc}" size="80" maxlength="255"></td>
</tr>
<tr class="usual">
	<td>{EMAIL_REPLY_TO_MSG}</td>
	<td><input class="field" type="text" name="user_mail_reply_to" value="{user_mail_reply_to}" size="80" maxlength="255"></td>
</tr>
<tr class="usual">
	<td>{EMAIL_RETURN_PATH_MSG}</td>
	<td><input class="field" type="text" name="user_mail_return_path" value="{user_mail_return_path}" size="80" maxlength="255"></td>
</tr>
<tr class="usual">
	<td>{ATTACHMENTS_MSG}</td>
	<td>
		<input type="checkbox" name="user_mail_pdf_invoice" id="user_mail_pdf_invoice" {user_mail_pdf_invoice} value="1">
		<label for="user_mail_pdf_invoice">PDF Invoice</label>
	</td>
</tr>
<tr class="usual">
	<td><b>{EMAIL_SUBJECT_MSG}</b></td>
	<td><input class="field" type="text" name="user_subject" value="{user_subject}" size="80" maxlength="255"></td>
</tr>
<tr class="usual">
	<td><b>{EMAIL_MESSAGE_TYPE_MSG}</b></td>
	<td><!-- begin user_message_type -->
		<input type="radio" name="user_message_type" id="user_message_type{user_message_type_value}" {user_message_type_checked} value="{user_message_type_value}">
		<label for="user_message_type{user_message_type_value}">{user_message_type_description}</label><!-- end user_message_type -->
	</td>
</tr>
<tr class="usual">
	<td valign="top">
		<b>{MESSAGE_MSG}</b>
		<div class="small">
		<br>(<a href="javascript:openWindow('{admin_order_help_href}?payment_id={payment_id}&final=1')">{CLICK_HERE_MSG}</a> {LEARN_MORE_EMAIL_SETTINGS_NOTE} 
		<br>&nbsp;{LEARN_MORE_AND_SEE_NOTE})
		</div>
	</td>
	<td>{editor_error}
		<textarea name="user_message" id="um" cols="80" rows="10">{user_message}</textarea>
		<!-- begin um_ext_editor -->
		<script type="text/javascript">
			CKEDITOR.replace('um');
		</script><!-- end um_ext_editor -->
		<!-- begin um_int_editor -->
		<script type= "text/javascript">
			var editor_um = new VA_HTMLeditor('content_um','../','{html_editor}');
			editor_um.text_field_name = 'user_message';
			editor_um.formname = 'record';
			editor_um.css_file = '{css_file}';
			editor_um.editor_type = 'umessage_editor';
			editor_um.displayEditor('editor_um', 520, 170);
		</script><!-- end um_int_editor -->
	</td>
</tr>
<tr class="middle">
	<td colspan="5">{SMS_NOTIFICATION_ADMIN_MSG}</td>
</tr>
<tr class="usual">
	<td>{SMS_SEND_ADMIN_MSG}</td>
	<td colspan="4">
		<input type="checkbox" name="admin_sms_success" id="admin_sms_success" {admin_sms_success} value="1"> <label for="admin_sms_success">{ON_SUCCESS_MSG}</label>
		<input type="checkbox" name="admin_sms_pending" id="admin_sms_pending" {admin_sms_pending} value="1"> <label for="admin_sms_pending">{ON_PENDING_MSG}</label>
		<input type="checkbox" name="admin_sms_failure" id="admin_sms_failure" {admin_sms_failure} value="1"> <label for="admin_sms_failure">{ON_FAILURE_MSG}</label>
		<br>
		({SMS_NOTIFICATION_NOTE})
	</td>
</tr>
<tr class="usual">
	<td><b>{SMS_RECIPIENT_MSG}</b> ({SMS_RECIPIENT_ADMIN_DESC}) </td>
	<td><input class="field" type="text" name="admin_sms_recipient" value="{admin_sms_recipient}" size="80" maxlength="255"></td>
</tr>
<tr class="usual">
	<td><b>{SMS_ORIGINATOR_MSG}</b></td>
	<td><input class="field" type="text" name="admin_sms_originator" value="{admin_sms_originator}" size="80" maxlength="16"></td>
</tr>
<tr class="usual">
	<td valign="top">
		<b>{SMS_MESSAGE_MSG}</b>
		<div class="small"><br>(<a href="javascript:openWindow('{admin_order_help_href}?payment_id={payment_id}&final=1')">{CLICK_HERE_MSG}</a> {LEARN_MORE_AND_SEE_NOTE})</div>
	</td>
	<td colspan="4"><textarea name="admin_sms_message" cols="80" rows="3">{admin_sms_message}</textarea></td>
</tr>
<tr class="middle">
	<td colspan="5">{USER_SMS_NOTIFICATION_MSG}</td>
</tr>
<tr class="usual">
	<td>{SEND_SMS_NOTIFICATION_USER_MSG}</td>
	<td colspan="4">
		<input type="checkbox" name="user_sms_success" id="user_sms_success" {user_sms_success} value="1"> <label for="user_sms_success">{ON_SUCCESS_MSG}</label>
		<input type="checkbox" name="user_sms_pending" id="user_sms_pending" {user_sms_pending} value="1"> <label for="user_sms_pending">{ON_PENDING_MSG}</label>
		<input type="checkbox" name="user_sms_failure" id="user_sms_failure" {user_sms_failure} value="1"> <label for="user_sms_failure">{ON_FAILURE_MSG}</label>
		<br>
		({SMS_NOTIFICATION_NOTE})
	</td>
</tr>
<tr class="usual">
	<td><b>{SMS_RECIPIENT_MSG}</b> ('{CELL_PHONE_FIELD}' {FIELD_USED_IF_EMPTY_MSG})</td>
	<td colspan="4"><input class="field" type="text" name="user_sms_recipient" value="{user_sms_recipient}" size="80" maxlength="255"></td>
</tr>
<tr class="usual">
	<td><b>{SMS_ORIGINATOR_MSG}</b></td>
	<td colspan="4"><input class="field" type="text" name="user_sms_originator" value="{user_sms_originator}" size="80" maxlength="16"></td>
</tr>
<tr class="usual">
	<td valign="top">
		<b>{SMS_MESSAGE_MSG}</b>
		<div class="small"><br>(<a href="javascript:openWindow('{admin_order_help_href}?payment_id={payment_id}&final=1')">{CLICK_HERE_MSG}</a> {LEARN_MORE_AND_SEE_NOTE})</div>
	</td>
	<td><textarea name="user_sms_message" cols="80" rows="3">{user_sms_message}</textarea></td>
</tr>
<tr class="middle">
	<td>&nbsp;</td>
	<td>
		<span class="button"><input class="submit" type="submit" value="{UPDATE_BUTTON}" onCLick="document.record.operation.value='save'"></span>
		<span class="button"><input class="submit" type="submit" value="{CANCEL_BUTTON}" onCLick="document.record.operation.value='cancel'"></span>
	</td>
</tr>
</table>
</form>

</div>
</div>

{admin_footer}
</body>
</html>
