<!DOCTYPE html>
<html><head><title>{HELPDESK_MSG} :: {CUSTOM_FIELDS_MSG}</title>
<meta http-equiv="Content-Type" content="text/html; charset={CHARSET}">
{head_tags}
</head>
<body class="commonbg">
{admin_header}
{admin_breadcrumb}

<div class="Block">
<div class="BlockTitle">{HELPDESK_MSG} :: {CUSTOM_FIELDS_MSG}</div>
<div class="BlockContent">

<!-- custom fields -->
<table border="0" cellpadding="6" cellspacing="1" width="100%"><!-- begin name_properties -->
<tr class="middle" align="center">
	<td>{ID_MSG}</td>
	<td>{FIELD_NAME_MSG}</td>
	<td>{SORT_ORDER_MSG}</td>
	<td>{REQUIRED_MSG}</td>
	<td>{SHOW_FIELD_MSG}</td>
	<td>{DEPARTMENTS_MSG}</td>
	<td>{TYPES_MSG}</td>
	<td>{SITES_MSG}</td>
	<td>{FIELD_CONTROL_MSG}</td>
	<td align="center">&nbsp;</td>
</tr><!-- end name_properties --><!-- begin properties -->
<tr class="usual" align="center">
	<td>{property_id}</td>
	<td align="left">{property_name}</td>
	<td>{property_order}</td>
	<td><a class="{property_required_class}" href="{property_required_url}">{property_required_desc}</a></td>
	<td>{property_show}</td>
	<td class="extra-cell">
		<!-- BEGIN dep_single -->
		{dep_name}
		<!-- END dep_single -->
		<!-- BEGIN dep_list -->
		<div class="extra-summary" data-class="extra-data" data-js="expand">
			{dep_summary} <i class="ico-extra"></i>
		</div>
		<div class="extra-data"><!-- BEGIN extra_deps -->
			<div>{dep_name}</div><!-- end extra_deps -->
		</div>
		<!-- END dep_list -->
	</td>
	<td class="extra-cell">
		<!-- BEGIN type_single -->
		{type_name}
		<!-- END type_single -->
		<!-- BEGIN type_list -->
		<div class="extra-summary" data-class="extra-data" data-js="expand">
			{type_summary} <i class="ico-extra"></i>
		</div>
		<div class="extra-data"><!-- BEGIN extra_types -->
			<div>{type_name}</div><!-- end extra_types -->
		</div>
		<!-- END type_list -->
	</td>
	<td class="extra-cell">
		<!-- BEGIN site_single -->
		{site_name}
		<!-- END site_single -->
		<!-- BEGIN site_list -->
		<div class="extra-summary" data-class="extra-data" data-js="expand">
			{site_summary} <i class="ico-extra"></i>
		</div>
		<div class="extra-data"><!-- BEGIN extra_sites -->
			<div>{site_name}</div><!-- end extra_sites -->
		</div>
		<!-- END site_list -->
	</td>
	<td>{control_type}</td>
	<td><a href="{admin_support_property_url}">{EDIT_MSG}</a></td>
</tr><!-- end properties --><!-- begin no_properties -->
<tr class="usual">
	<td colspan="10">{NO_CUSTOM_FIELDS_MSG}</td>
</tr><!-- end no_properties -->
<tr class="middle">
	<td colspan="10"><a href="{admin_support_property_new_url}">{ADD_NEW_MSG}</a></td>
</tr>
</table>
</div>



</div>
</div>

</form>

{admin_footer}

</body>
</html>
