<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html><head><title>..:: {ADMINISTRATION_MSG} :: {CONTACT_MERCHANT_TITLE} {ADMIN_HELP_MSG} ::..</title>
<meta http-equiv="Content-Type" content="text/html; charset={CHARSET}">
<link rel="stylesheet" href="styles/admin.css" type="text/css">
</head>

<body class="popup">

<table cellspacing="1" cellpadding="6" border="0" width="100%">
<tr class="middle" align="center">
	<td>{HOW_TO_SETUP_EMAIL_MESSAGE}</td>
</tr>
<tr> 
	<td>
		<br>
		<div align="center">{DYNAMIC_CONTENT_HELP_NOTE}</div>
		<br>
	</td>
</tr>
</table>

<div class="title" align="center">{CONTACT_INFO_MSG}</div>
<br>
<table cellspacing="1" cellpadding="6" border="0" width="100%">
<tr class="middle" align="center">
	<td>{TAG_NAME_MSG}</td>                               	
	<td>{TAG_DESCRIPTION_MSG}</td>
</tr>
<tr class="middle">
	<td colspan="2">&nbsp;{CUSTOMER_DETAILS_MSG}</td>
</tr>
<tr class="usual">
	<td>{user_name}</td>
	<td>{CUSTOMER_NAME_MSG}</td>
</tr>
<tr class="usual">
	<td>{user_email}</td>
	<td>{CUSTOMER_EMAIL_MSG}</td>
</tr>
<tr class="usual">
	<td>{user_phone}</td>
	<td>{PHONE_FIELD}</td>
</tr>
<tr class="usual">
	<td>{remote_address}</td>
	<td>{CUSTOMER_IP_ADDRESS_MSG}</td>
</tr>
<tr class="usual">
	<td>{summary}</td>
	<td>{CONTACT_SUMMARY_FIELD}</td>
</tr>
<tr class="usual">
	<td>{description}</td>
	<td>{CONTACT_DESCRIPTION_FIELD}</td>
</tr>
<tr class="middle">
	<td colspan="2">&nbsp;{MERCHANT_INFO_MSG}</td>
</tr>
<tr class="usual">
	<td>{merchant_name}</td>
	<td>{MERCHANT_NAME_MSG}</td>
</tr>
<tr class="usual">
	<td>{merchant_email}</td>
	<td>{MERCHANT_EMAIL_MSG}</td>
</tr>
<tr class="usual">
	<td>{merchant_phone}</td>
	<td>{PHONE_FIELD}</td>
</tr>
</table>

<table cellspacing="1" cellpadding="6" border="0" width="100%">
<tr class="middle">
	<td align="center"><a href="javascript:window.close();"><b>{CLOSE_WINDOW_MSG}</b></a></td>
</tr>
</table>

</body>
</html>