<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html><head><title>..:: {ADMINISTRATION_MSG} :: {PAYMENT_DETAILS_PAGE_MSG} ::..</title>
<meta http-equiv="Content-Type" content="text/html; charset={CHARSET}">
<link rel="stylesheet" href="styles/admin.css" type="text/css">
<script type="text/javascript" src="../js/admin.js"></script>
<script language="JavaScript">
<!--
	function openWindow(pagename)
	{
		var popupWin = window.open (pagename, 'popup', 'toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=yes,resizable=yes,width=600,height=500');
		popupWin.focus();
	}
//-->
</script>
</head>
<body class="bodySettings">
{admin_header}
<form action="{admin_credit_card_info_href}" name="record" method="POST">
<div class="sitelist"><!-- begin sitelist -->
	{SELECT_SITE_MSG}&nbsp;
	<select name="param_site_id" onchange="reloadSite(this.form)"><!-- begin param_site_id -->
		<option {param_site_id_selected} value="{param_site_id_value}">{param_site_id_description}<!-- end param_site_id -->
	</select><!-- end sitelist -->
</div>
{block_leftside_breadcrumbs}
<div class="Block">
<div class="BlockTitle">{PAYMENT_DETAILS_PAGE_MSG}</div>
<div class="BlockContent">

<!-- BEGIN errors --><div class="errorbg">{errors_list}</div><!-- END errors -->

<table border="0" cellpadding="6" cellspacing="1" width="100%">
<input type="hidden" name="operation" value="save">
<input type="hidden" name="rp" value="{rp}">
<input type="hidden" name="payment_id" value="{payment_id}">
<tr class="middle">
	<td colspan="4">{CUSTOM_PAYMENT_FIELD_MSG}</td>
	<td align="right"><a href="{admin_order_property_href}?payment_id={payment_id}">{ADD_NEW_MSG}</a></td>
</tr>
<!-- begin properties -->
<tr class="usual">
	<td valign="top">{property_name} (#{property_id})</td>
	<td align="center" colspan="2">{property_type}</td>
	<td align="center" colspan="2"><a href="{admin_order_property_href}?payment_id={payment_id}&property_id={property_id}">{EDIT_MSG}</a></td>
</tr>
<!-- end properties -->
<!-- begin no_properties -->
<tr class="usual">
	<td colspan="5">{NO_CUSTOM_FIELDS_MSG}</td>
</tr>
<!-- end no_properties -->
<tr class="middle">
	<td>&nbsp;</td>
	<td align="center" colspan="2">{WEB_ORDERS_MSG}</td>
	<td align="center" colspan="2">{CALL_CENTER_ORDERS}</td>
</tr>
<tr class="middle">
	<td width="36%">{PAYMENT_PARAMETERS_MSG}</td>
	<td align="center" width="16%" class="small">{ADMIN_SHOW_MSG}</td>
	<td align="center" width="16%" class="small">{REQUIRED_MSG}</td>
	<td align="center" width="16%" class="small">{ADMIN_SHOW_MSG}</td>
	<td align="center" width="16%" class="small">{REQUIRED_MSG}</td>
</tr>
<tr class="usual">
	<td>{FULL_NAME_FIELD} ({CC_NAME_DESC})</td>
	<td align="center"><input type="checkbox" name="show_payment_full_name" {show_payment_full_name} value="1"></td>
	<td align="center"><input type="checkbox" name="payment_full_name_required" {payment_full_name_required} value="1"></td>
	<td align="center"><input type="checkbox" name="call_center_show_payment_full_name" {call_center_show_payment_full_name} value="1"></td>
	<td align="center"><input type="checkbox" name="call_center_payment_full_name_required" {call_center_payment_full_name_required} value="1"></td>
</tr>
<tr class="usual">
	<td>{FIRST_NAME_FIELD} ({CC_NAME_DESC})</td>
	<td align="center"><input type="checkbox" name="show_payment_first_name" {show_payment_first_name} value="1"></td>
	<td align="center"><input type="checkbox" name="payment_first_name_required" {payment_first_name_required} value="1"></td>
	<td align="center"><input type="checkbox" name="call_center_show_payment_first_name" {call_center_show_payment_first_name} value="1"></td>
	<td align="center"><input type="checkbox" name="call_center_payment_first_name_required" {call_center_payment_first_name_required} value="1"></td>
</tr>
<tr class="usual">
	<td>{MIDDLE_NAME_FIELD}</td>
	<td align="center"><input type="checkbox" name="show_payment_middle_name" {show_payment_middle_name} value="1"></td>
	<td align="center"><input type="checkbox" name="payment_middle_name_required" {payment_middle_name_required} value="1"></td>
	<td align="center"><input type="checkbox" name="call_center_show_payment_middle_name" {call_center_show_payment_middle_name} value="1"></td>
	<td align="center"><input type="checkbox" name="call_center_payment_middle_name_required" {call_center_payment_middle_name_required} value="1"></td>
</tr>
<tr class="usual">
	<td>{LAST_NAME_FIELD} ({CC_NAME_DESC})</td>
	<td align="center"><input type="checkbox" name="show_payment_last_name" {show_payment_last_name} value="1"></td>
	<td align="center"><input type="checkbox" name="payment_last_name_required" {payment_last_name_required} value="1"></td>
	<td align="center"><input type="checkbox" name="call_center_show_payment_last_name" {call_center_show_payment_last_name} value="1"></td>
	<td align="center"><input type="checkbox" name="call_center_payment_last_name_required" {call_center_payment_last_name_required} value="1"></td>
</tr>
<tr class="usual">
	<td>{COMPANY_NAME_FIELD}</td>
	<td align="center"><input type="checkbox" name="show_payment_company_name" {show_payment_company_name} value="1"></td>
	<td align="center"><input type="checkbox" name="payment_company_name_required" {payment_company_name_required} value="1"></td>
	<td align="center"><input type="checkbox" name="call_center_show_payment_company_name" {call_center_show_payment_company_name} value="1"></td>
	<td align="center"><input type="checkbox" name="call_center_payment_company_name_required" {call_center_payment_company_name_required} value="1"></td>
</tr>
<tr class="usual">
	<td>{EMAIL_FIELD}</td>
	<td align="center"><input type="checkbox" name="show_payment_email" {show_payment_email} value="1"></td>
	<td align="center"><input type="checkbox" name="payment_email_required" {payment_email_required} value="1"></td>
	<td align="center"><input type="checkbox" name="call_center_show_payment_email" {call_center_show_payment_email} value="1"></td>
	<td align="center"><input type="checkbox" name="call_center_payment_email_required" {call_center_payment_email_required} value="1"></td>
</tr>

<tr class="usual">
	<td>{STREET_FIRST_FIELD}</td>
	<td align="center"><input type="checkbox" name="show_payment_address1" {show_payment_address1} value="1"></td>
	<td align="center"><input type="checkbox" name="payment_address1_required" {payment_address1_required} value="1"></td>
	<td align="center"><input type="checkbox" name="call_center_show_payment_address1" {call_center_show_payment_address1} value="1"></td>
	<td align="center"><input type="checkbox" name="call_center_payment_address1_required" {call_center_payment_address1_required} value="1"></td>
</tr>
<tr class="usual">
	<td>{STREET_SECOND_FIELD}</td>
	<td align="center"><input type="checkbox" name="show_payment_address2" {show_payment_address2} value="1"></td>
	<td align="center"><input type="checkbox" name="payment_address2_required" {payment_address2_required} value="1"></td>
	<td align="center"><input type="checkbox" name="call_center_show_payment_address2" {call_center_show_payment_address2} value="1"></td>
	<td align="center"><input type="checkbox" name="call_center_payment_address2_required" {call_center_payment_address2_required} value="1"></td>
</tr>
<tr class="usual">
	<td>{STREET_THIRD_FIELD}</td>
	<td align="center"><input type="checkbox" name="show_payment_address3" {show_payment_address3} value="1"></td>
	<td align="center"><input type="checkbox" name="payment_address3_required" {payment_address3_required} value="1"></td>
	<td align="center"><input type="checkbox" name="call_center_show_payment_address3" {call_center_show_payment_address3} value="1"></td>
	<td align="center"><input type="checkbox" name="call_center_payment_address3_required" {call_center_payment_address3_required} value="1"></td>
</tr>
<tr class="usual">
	<td>{CITY_FIELD}</td>
	<td align="center"><input type="checkbox" name="show_payment_city" {show_payment_city} value="1"></td>
	<td align="center"><input type="checkbox" name="payment_city_required" {payment_city_required} value="1"></td>
	<td align="center"><input type="checkbox" name="call_center_show_payment_city" {call_center_show_payment_city} value="1"></td>
	<td align="center"><input type="checkbox" name="call_center_payment_city_required" {call_center_payment_city_required} value="1"></td>
</tr>
<tr class="usual">
	<td>{PROVINCE_FIELD}</td>
	<td align="center"><input type="checkbox" name="show_payment_province" {show_payment_province} value="1"></td>
	<td align="center"><input type="checkbox" name="payment_province_required" {payment_province_required} value="1"></td>
	<td align="center"><input type="checkbox" name="call_center_show_payment_province" {call_center_show_payment_province} value="1"></td>
	<td align="center"><input type="checkbox" name="call_center_payment_province_required" {call_center_payment_province_required} value="1"></td>
</tr>
<tr class="usual">
	<td>{COUNTRY_FIELD}</td>
	<td align="center"><input type="checkbox" name="show_payment_country_id" {show_payment_country_id} value="1"></td>
	<td align="center"><input type="checkbox" name="payment_country_id_required" {payment_country_id_required} value="1"></td>
	<td align="center"><input type="checkbox" name="call_center_show_payment_country_id" {call_center_show_payment_country_id} value="1"></td>
	<td align="center"><input type="checkbox" name="call_center_payment_country_id_required" {call_center_payment_country_id_required} value="1"></td>
</tr>
<tr class="usual">
	<td>{STATE_FIELD}</td>
	<td align="center"><input type="checkbox" name="show_payment_state_id" {show_payment_state_id} value="1"></td>
	<td align="center"><input type="checkbox" name="payment_state_id_required" {payment_state_id_required} value="1"></td>
	<td align="center"><input type="checkbox" name="call_center_show_payment_state_id" {call_center_show_payment_state_id} value="1"></td>
	<td align="center"><input type="checkbox" name="call_center_payment_state_id_required" {call_center_payment_state_id_required} value="1"></td>
</tr>
<tr class="usual">
	<td>{ZIP_FIELD}</td>
	<td align="center"><input type="checkbox" name="show_payment_postal_code" {show_payment_postal_code} value="1"></td>
	<td align="center"><input type="checkbox" name="payment_postal_code_required" {payment_postal_code_required} value="1"></td>
	<td align="center"><input type="checkbox" name="call_center_show_payment_postal_code" {call_center_show_payment_postal_code} value="1"></td>
	<td align="center"><input type="checkbox" name="call_center_payment_postal_code_required" {call_center_payment_postal_code_required} value="1"></td>
</tr>
<tr class="usual">
	<td>{PHONE_FIELD}</td>
	<td align="center"><input type="checkbox" name="show_payment_phone" {show_payment_phone} value="1"></td>
	<td align="center"><input type="checkbox" name="payment_phone_required" {payment_phone_required} value="1"></td>
	<td align="center"><input type="checkbox" name="call_center_show_payment_phone" {call_center_show_payment_phone} value="1"></td>
	<td align="center"><input type="checkbox" name="call_center_payment_phone_required" {call_center_payment_phone_required} value="1"></td>
</tr>
<tr class="usual">
	<td>{DAYTIME_PHONE_FIELD}</td>
	<td align="center"><input type="checkbox" name="show_payment_daytime_phone" {show_payment_daytime_phone} value="1"></td>
	<td align="center"><input type="checkbox" name="payment_daytime_phone_required" {payment_daytime_phone_required} value="1"></td>
	<td align="center"><input type="checkbox" name="call_center_show_payment_daytime_phone" {call_center_show_payment_daytime_phone} value="1"></td>
	<td align="center"><input type="checkbox" name="call_center_payment_daytime_phone_required" {call_center_payment_daytime_phone_required} value="1"></td>
</tr>
<tr class="usual">
	<td>{EVENING_PHONE_FIELD}</td>
	<td align="center"><input type="checkbox" name="show_payment_evening_phone" {show_payment_evening_phone} value="1"></td>
	<td align="center"><input type="checkbox" name="payment_evening_phone_required" {payment_evening_phone_required} value="1"></td>
	<td align="center"><input type="checkbox" name="call_center_show_payment_evening_phone" {call_center_show_payment_evening_phone} value="1"></td>
	<td align="center"><input type="checkbox" name="call_center_payment_evening_phone_required" {call_center_payment_evening_phone_required} value="1"></td>
</tr>
<tr class="usual">
	<td>{CELL_PHONE_FIELD}</td>
	<td align="center"><input type="checkbox" name="show_payment_cell_phone" {show_payment_cell_phone} value="1"></td>
	<td align="center"><input type="checkbox" name="payment_cell_phone_required" {payment_cell_phone_required} value="1"></td>
	<td align="center"><input type="checkbox" name="call_center_show_payment_cell_phone" {call_center_show_payment_cell_phone} value="1"></td>
	<td align="center"><input type="checkbox" name="call_center_payment_cell_phone_required" {call_center_payment_cell_phone_required} value="1"></td>
</tr>
<tr class="middle">
	<td colspan="5">&nbsp;</td>
</tr>
<tr class="usual">
	<td>{CC_NUMBER_FIELD}</td>
	<td align="center"><input type="checkbox" name="show_payment_card_number" {show_payment_card_number} value="1"></td>
	<td align="center"><input type="checkbox" name="payment_card_number_required" {payment_card_number_required} value="1"></td>
	<td align="center"><input type="checkbox" name="call_center_show_payment_card_number" {call_center_show_payment_card_number} value="1"></td>
	<td align="center"><input type="checkbox" name="call_center_payment_card_number_required" {call_center_payment_card_number_required} value="1"></td>
</tr>
<tr class="usual">
	<td>{CC_START_DATE_FIELD}</td>
	<td align="center"><input type="checkbox" name="show_payment_card_start_date" {show_payment_card_start_date} value="1"></td>
	<td align="center"><input type="checkbox" name="payment_card_start_date_required" {payment_card_start_date_required} value="1"></td>
	<td align="center"><input type="checkbox" name="call_center_show_payment_card_start_date" {call_center_show_payment_card_start_date} value="1"></td>
	<td align="center"><input type="checkbox" name="call_center_payment_card_start_date_required" {call_center_payment_card_start_date_required} value="1"></td>
</tr>
<tr class="usual">
	<td>{EXPIRY_DATE_MSG}</td>
	<td align="center"><input type="checkbox" name="show_payment_card_expiry_date" {show_payment_card_expiry_date} value="1"></td>
	<td align="center"><input type="checkbox" name="payment_card_expiry_date_required" {payment_card_expiry_date_required} value="1"></td>
	<td align="center"><input type="checkbox" name="call_center_show_payment_card_expiry_date" {call_center_show_payment_card_expiry_date} value="1"></td>
	<td align="center"><input type="checkbox" name="call_center_payment_card_expiry_date_required" {call_center_payment_card_expiry_date_required} value="1"></td>
</tr>
<tr class="usual">
	<td>{CC_TYPE_FIELD}</td>
	<td align="center"><input type="checkbox" name="show_payment_card_type_id" {show_payment_card_type_id} value="1"></td>
	<td align="center"><input type="checkbox" name="payment_card_type_id_required" {payment_card_type_id_required} value="1"></td>
	<td align="center"><input type="checkbox" name="call_center_show_payment_card_type_id" {call_center_show_payment_card_type_id} value="1"></td>
	<td align="center"><input type="checkbox" name="call_center_payment_card_type_id_required" {call_center_payment_card_type_id_required} value="1"></td>
</tr>
<tr class="usual">
	<td>{CC_ISSUE_NUMBER_FIELD}</td>
	<td align="center"><input type="checkbox" name="show_payment_card_issue_number" {show_payment_card_issue_number} value="1"></td>
	<td align="center"><input type="checkbox" name="payment_card_issue_number_required" {payment_card_issue_number_required} value="1"></td>
	<td align="center"><input type="checkbox" name="call_center_show_payment_card_issue_number" {call_center_show_payment_card_issue_number} value="1"></td>
	<td align="center"><input type="checkbox" name="call_center_payment_card_issue_number_required" {call_center_payment_card_issue_number_required} value="1"></td>
</tr>
<tr class="usual">
	<td>{CC_SECURITY_CODE_FIELD}</td>
	<td align="center"><input type="checkbox" name="show_payment_card_security_code" {show_payment_card_security_code} value="1"></td>
	<td align="center"><input type="checkbox" name="payment_card_security_code_required" {payment_card_security_code_required} value="1"></td>
	<td align="center"><input type="checkbox" name="call_center_show_payment_card_security_code" {call_center_show_payment_card_security_code} value="1"></td>
	<td align="center"><input type="checkbox" name="call_center_payment_card_security_code_required" {call_center_payment_card_security_code_required} value="1"></td>
</tr>
<tr class="middle">
	<td colspan="5">Credit Card {SETTINGS_MSG}</td>
</tr>
<tr class="usual">
	<td>
		{ALLOWED_MSG} CC Numbers
		<div class="small">(use comma to separate different credit cards numbers) ({EG_MSG}: <b>4111*, 45552222*, 450450*</b>)</div>
	</td>
	<td colspan="4"><textarea name="cc_allowed" cols="80" rows="3">{cc_allowed}</textarea></td>
</tr>
<tr class="usual">
	<td>
		Forbidden CC Numbers
		<div class="small">(use comma to separate different credit cards numbers)</div>
	</td>
	<td colspan="4"><textarea name="cc_forbidden" cols="80" rows="3">{cc_forbidden}</textarea></td>
</tr>
<tr class="middle">
	<td colspan="5">Secure {OPTIONS_MSG}</td>
</tr>
<tr class="usual">
	<td><label for="cc_number_split">Cut off from credit card number four last digits</label></td>
	<td colspan="4"><div class="small"><input type="checkbox" name="cc_number_split" id="cc_number_split" {cc_number_split} value="1"> (<b>5405 4054 0540 ****</b>)</div></td>
</tr>
<tr class="usual">
	<td>{CREDIT_CARD_NUMBER_MSG}</td>
	<td colspan="4"><!-- begin cc_number_security -->
		<input type="radio" name="cc_number_security" id="cc_number_security{cc_number_security_value}" {cc_number_security_checked} value="{cc_number_security_value}">
		<label for="cc_number_security{cc_number_security_value}">{cc_number_security_description}</label><!-- end cc_number_security -->
	</td>
</tr>
<tr class="usual">
	<td>{CC_SECURITY_CODE_FIELD}</td>
	<td colspan="4">
		<!-- begin cc_code_security -->
		<input type="radio" name="cc_code_security" id="cc_code_security{cc_code_security_value}" {cc_code_security_checked} value="{cc_code_security_value}">
		<label for="cc_code_security{cc_code_security_value}">{cc_code_security_description}</label><!-- end cc_code_security -->
	</td>
</tr>
<tr class="middle">
	<td colspan="5">{EMAIL_NOTIFICATION_ADMIN_MSG}</td>
</tr>
<tr class="usual">
	<td><label for="admin_notification">{SEND_NOTIFICATION_ADMIN_MSG}</label></td>
	<td colspan="4"><input type="checkbox" name="admin_notification" id="admin_notification" {admin_notification} value="1"></td>
</tr>
<tr class="usual">
	<td>
		<label for="admin_notification_pgp">Enable PGP encryption</label><br>
		(<a href="{admin_global_settings_href}?tab=pgp">{CLICK_HERE_MSG}</a> to specify global PGP encryption parameters)
	</td>
	<td colspan="4"><input type="checkbox" name="admin_notification_pgp" id="admin_notification_pgp" {admin_notification_pgp} value="1"></td>
</tr>
<tr class="usual">
	<td>
		<b>{EMAIL_TO_MSG}</b>
		<div class="small">(<a class="small" href="javascript:openWindow('{admin_email_help_href}')">{CLICK_HERE_MSG}</a> {LEARN_MORE_EMAIL_FIELDS_NOTE})</div>
	</td>
	<td colspan="4">
		<input class="field" type="text" name="admin_email" value="{admin_email}" size="80" maxlength="255">
		<div class="small">({EG_MSG} <b>cc_info@yoursite.com</b>)</div>
	</td>
</tr>
<tr class="usual">
	<td>{EMAIL_FROM_MSG}</td>
	<td colspan="4"><input class="field" type="text" name="admin_mail_from" value="{admin_mail_from}" size="80" maxlength="255"></td>
</tr>
<tr class="usual">
	<td>{EMAIL_CC_MSG}</td>
	<td colspan="4"><input class="field" type="text" name="cc_emails" value="{cc_emails}" size="80" maxlength="255"></td>
</tr>
<tr class="usual">
	<td>{EMAIL_BCC_MSG}</td>
	<td colspan="4"><input class="field" type="text" name="admin_mail_bcc" value="{admin_mail_bcc}" size="80" maxlength="255"></td>
</tr>
<tr class="usual">
	<td>{EMAIL_REPLY_TO_MSG}</td>
	<td colspan="4"><input class="field" type="text" name="admin_mail_reply_to" value="{admin_mail_reply_to}" size="80" maxlength="255"></td>
</tr>
<tr class="usual">
	<td>{EMAIL_RETURN_PATH_MSG}</td>
	<td colspan="4"><input class="field" type="text" name="admin_mail_return_path" value="{admin_mail_return_path}" size="80" maxlength="255"></td>
</tr>
<tr class="usual">
	<td><b>{EMAIL_SUBJECT_MSG}</b></td>
	<td colspan="4"><input class="field" type="text" name="admin_subject" value="{admin_subject}" size="80" maxlength="255"></td>
</tr>
<tr class="usual">
	<td><b>{EMAIL_MESSAGE_TYPE_MSG}</b></td>
	<td colspan="4"><!-- begin admin_message_type -->
		<input type="radio" name="admin_message_type" id="admin_message_type{admin_message_type_value}" {admin_message_type_checked} value="{admin_message_type_value}">
		<label for="admin_message_type{admin_message_type_value}">{admin_message_type_description}</label><!-- end admin_message_type -->
	</td>
</tr>
<tr class="usual">
	<td valign="top">
		<b>{MESSAGE_MSG}</b>
		<div class="small">
		<br>(<a href="javascript:openWindow('{admin_order_help_href}?cc=1&payment_id={payment_id}')">{CLICK_HERE_MSG}</a> {LEARN_MORE_EMAIL_SETTINGS_NOTE} 
		<br>{LEARN_MORE_AND_SEE_NOTE})
		</div>
	</td>
	<td colspan="4"><textarea name="admin_message" cols="80" rows="10">{admin_message}</textarea></td>
</tr>
<tr class="middle">
	<td colspan="5">{SMS_NOTIFICATION_ADMIN_MSG}</td>
</tr>
<tr class="usual">
	<td><label for="admin_sms_notification">{SMS_SEND_ADMIN_MSG}</label></td>
	<td colspan="4">
		<input type="checkbox" name="admin_sms_notification" id="admin_sms_notification" {admin_sms_notification} value="1">
		({SMS_NOTIFICATION_NOTE})
	</td>
</tr>
<tr class="usual">
	<td><b>{SMS_RECIPIENT_MSG}</b> ({SMS_RECIPIENT_ADMIN_DESC})</td>
	<td colspan="4"><input class="field" type="text" name="admin_sms_recipient" value="{admin_sms_recipient}" size="80" maxlength="255"></td>
</tr>
<tr class="usual">
	<td><b>{SMS_ORIGINATOR_MSG}</b></td>
	<td colspan="4"><input class="field" type="text" name="admin_sms_originator" value="{admin_sms_originator}" size="80" maxlength="16"></td>
</tr>
<tr class="usual">
	<td valign="top">
		<b>{SMS_MESSAGE_MSG}</b>
		<div class="small">
		<br>(<a href="javascript:openWindow('{admin_order_help_href}?cc=1&payment_id={payment_id}')">{CLICK_HERE_MSG}</a> to see all available {MESSAGE_TAGS_MSG})
		</div>
	</td>
	<td colspan="4"><textarea name="admin_sms_message" cols="80" rows="3">{admin_sms_message}</textarea></td>
</tr>
<tr class="middle">
	<td>&nbsp;</td>
	<td colspan="4">
		<span class="button"><input class="submit" type="submit" value="{UPDATE_BUTTON}" onCLick="document.record.operation.value='save'"></span>
		<span class="button"><input class="submit" type="submit" value="{CANCEL_BUTTON}" onCLick="document.record.operation.value='cancel'"></span>
	</td>
</tr>
</form>
</table>
</div>
</div>



{admin_footer}