<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset={CHARSET}">
<title>{ADMINISTRATION_MSG} :: {ADS_SETTINGS_MSG}</title>
<link rel="stylesheet" href="styles/admin.css" type="text/css">
<script type="text/javascript" src="../js/admin.js"></script>
</head>
<body class="bodySettings">
{admin_header}
<form action="{admin_ads_settings_href}" name="record" method="POST">
<div class="sitelist"><!-- begin sitelist -->
	{SELECT_SITE_MSG}&nbsp;
	<select name="param_site_id" onchange="reloadSite(this.form)"><!-- begin param_site_id -->
		<option {param_site_id_selected} value="{param_site_id_value}">{param_site_id_description}<!-- end param_site_id -->
	</select><!-- end sitelist -->
</div>
{block_leftside_breadcrumbs}

<div id="tabs"><!-- BEGIN tabs_rows -->
	<ul id="{row_id}" class="tabRow"><!-- BEGIN tabs -->
		<li id="{tab_id}" class="{tab_class}"><a class="tabA" href="#" onClick="changeTab('{tab_name}'); return false;">{tab_title}</a></li><!-- END tabs -->
	</ul><!-- END tabs_rows -->
</div>

<div class="Block">
<div class="BlockContent">

<input type="hidden" name="operation" value="save">
<input type="hidden" name="rp" value="{rp}">
<input type="hidden" name="tab" value="{tab}">

<!-- general -->
<div id="data_general" style="{general_style}">
<!-- BEGIN success_block --><div class="messagebg">{CHANGES_SAVED_MSG}</div><!-- END success_block -->
<!-- BEGIN errors --><div class="errorbg">{errors_list}</div><!-- END errors -->
<table width="100%" border="0" cellspacing="1" cellpadding="4">
<tr class="usual">
	<td width="30%">{USER_ADS_LIMIT_MSG}</td>
	<td>
		<input type="text" class="field" name="ads_limit" value="{ads_limit}" size="10" maxlength="9">
		({USER_ADS_LIMIT_DESC})
	</td>
</tr>
<tr class="usual">
	<td><label for="ads_currency">{CURRENCY_TITLE}</label></td>
	<td>
		<input type="checkbox" name="ads_currency" id="ads_currency" {ads_currency} value="1">
		({SELECT_AD_CURRENCY_MSG})
	</td>
</tr>
<tr class="usual">
	<td>{FUNDS_PRODUCT_ID_MSG}</td>
	<td>
		<input type="text" class="field" name="funds_item_id" value="{funds_item_id}" size="10" maxlength="9">
		({FUNDS_PRODUCT_ID_DESC})
	</td>
</tr>
<tr class="middle">
	<td colspan="2">{PRICE_LIMITS_MSG}</td>
</tr>
<tr class="usual">
	<td>{MIN_ALLOWED_ADS_PRICE_MSG}</td>
	<td>
		<input type="text" class="field" name="min_price_limit" value="{min_price_limit}" size="10" maxlength="9">
		({MIN_ALLOWED_ADS_PRICE_NOTE}) 
	</td>
</tr>
<tr class="usual">
	<td>{MAX_ALLOWED_ADS_PRICE_MSG}</td>
	<td>
		<input type="text" class="field" name="max_price_limit" value="{max_price_limit}" size="10" maxlength="9">
		({MAX_ALLOWED_ADS_PRICE_NOTE}) 
	</td>
</tr>
<tr class="middle">
	<td colspan="2">{ADS_ACTIVATION_MSG}</td>
</tr>
<tr class="usual">
	<td><label for="activate_ads">{ACTIVATE_ADS_MSG}</label></td>
	<td>
		<input type="checkbox" name="activate_ads" id="activate_ads" {activate_ads} value="1">
		({ACTIVATE_ADS_NOTE})
	</td>
</tr>
<tr class="usual">
	<td><label for="deactivate_ads">{DEACTIVATE_ADS_MSG}</label></td>
	<td>
		<input type="checkbox" name="deactivate_ads" id="deactivate_ads" {deactivate_ads} value="1">
		({DEACTIVATE_ADS_NOTE})
	</td>
</tr>
<tr class="middle">
	<td colspan="2">{TERMS_MSG}</td>
</tr>
<tr class="usual">
	<td><label for="show_terms">{ADS_SHOW_TERMS_MSG}</label></td>
	<td>
		<input type="checkbox" name="show_terms" id="show_terms" {show_terms} value="1">
		({ADS_SHOW_TERMS_DESC})
	</td>
</tr>
<tr class="usual">
	<td>{TERMS_MSG}</td>
	<td><textarea name="terms_text" cols="80" rows="10">{terms_text}</textarea></td>
</tr>
<tr class="middle">
	<td>&nbsp;</td>
	<td>        
		<span class="button"><input class="submit" type="submit" value="{UPDATE_BUTTON}" onCLick="document.record.operation.value='save'"></span>
		<span class="button"><input class="submit" type="submit" value="{CANCEL_BUTTON}" onCLick="document.record.operation.value='cancel'"></span>
	</td>
</tr>
</table>
</div>
<!-- general data end -->


<!-- fields data begin -->
<div id="data_fields" style="{fields_style}">
<!-- BEGIN errors --><div class="errorbg">{errors_list}</div><!-- END errors -->
<table border="0" cellpadding="4" cellspacing="1" width="100%">
<tr class="usual">
	<td width="20%"><label for="hot_offer">{HOT_OFFER_MSG}</label></td>
	<td width="80%"><input type="checkbox" name="hot_offer" id="hot_offer" {hot_offer} value="1"></td>
</tr>
<tr class="usual">
	<td><label for="special_offer">{SPECIAL_OFFER_MSG}</label></td>
	<td><input type="checkbox"  name="special_offer" id="special_offer" {special_offer} value="1"></td>
</tr>
<tr class="middle">
	<td>&nbsp;</td>
	<td>        
		<span class="button"><input class="submit" type="submit" value="{UPDATE_BUTTON}" onCLick="document.record.operation.value='save'"></span>
		<span class="button"><input class="submit" type="submit" value="{CANCEL_BUTTON}" onCLick="document.record.operation.value='cancel'"></span>
	</td>
</tr>
</table>
</div>

<div id="data_images" style="{images_style}">
<!-- BEGIN errors --><div class="errorbg">{errors_list}</div><!-- END errors -->
<table border="0" cellpadding="4" cellspacing="1" width="100%">
<tr class="middle">
	<td colspan="2">
		&nbsp;<b>{IMAGE_SETTINGS_MSG}</b>
	</td>
</tr>
<tr class="usual">
	<td>
		&nbsp;{DEFAULT_LARGE_IMAGE_MSG}
	</td>
	<td>
		<input class="field" type="text" name="image_large_default" value="{image_large_default}" size="60" maxlength="255">
		&nbsp;({DEFAULT_LARGE_IMAGE_DESC}) 
	</td>
</tr>
<tr class="usual">
	<td>
		&nbsp;{DEFAULT_SMALL_IMAGE_MSG}
	</td>
	<td>
		<input class="field" type="text" name="image_small_default" value="{image_small_default}" size="60" maxlength="255">
		&nbsp;({DEFAULT_SMALL_IMAGE_DESC}) 
	</td>
</tr>
<tr class="middle">
	<td colspan="2">{CUSTOMERS_IMAGES_RESTRICTIONS_MSG}</td>
</tr>
<tr class="usual">
	<td>{IMAGE_SMALL_MSG} </td>
	<td>
		<input class="field" type="text" size="5" name="image_small_width" value="{image_small_width}">
		x
		<input class="field" type="text" size="5" name="image_small_height" value="{image_small_height}">
	    ,&nbsp;
		<input class="field" type="text" size="8" name="image_small_size" value="{image_small_size}">
	    &nbsp;&nbsp;
	    <input type="checkbox" name="image_small_resize" id="image_small_resize" {image_small_resize} value="1">
		<label for="image_small_resize">{ALWAYS_RESIZE_IMAGE_NOTE}</label>
	</td>
</tr>
<tr class="usual">
	<td>{IMAGE_LARGE_MSG}</td>
	<td>
		<input class="field" type="text" size="5" name="image_large_width" value="{image_large_width}">
		x
		<input class="field" type="text" size="5" name="image_large_height" value="{image_large_height}">
		,&nbsp;
		<input class="field" type="text" size="8" name="image_large_size" value="{image_large_size}">
	    &nbsp;&nbsp;
		<input type="checkbox" name="image_large_resize" id="image_large_resize" {image_large_resize} value="1">
		<label for="image_large_resize">{ALWAYS_RESIZE_IMAGE_NOTE}</label>
	</td>
</tr>
<tr class="middle">
	<td colspan="2">{MORE_PICTURES_SETTINGS_MSG}</td>
</tr>
<tr class="usual">
	<td>{MORE_PICTURES_SETTINGS_NOTE}</td>
	<td><input class="field" type="text" name="images_number" value="{images_number}" size="20" maxlength="255"></td>
</tr>
<tr class="middle">
	<td>&nbsp;</td>
	<td>
		<span class="button"><input class="submit" type="submit" value="{UPDATE_BUTTON}" onCLick="document.record.operation.value='save'"></span>
		<span class="button"><input class="submit" type="submit" value="{CANCEL_BUTTON}" onCLick="document.record.operation.value='cancel'"></span>
	</td>
</tr>
</table>
</div>

</div>
</div>

</form>

{admin_footer}
</body>
</html>
