<div class="tree_nav"><!-- begin pn_first -->
	<a href="#" onclick="processBranch('{id}', '{tree_name}', '{response_url}', {page})">{FIRST_PAGE_MSG}</a> <!-- end pn_first -->
	<!-- begin pn_prev -->
	<a href="#" onclick="processBranch('{id}', '{tree_name}', '{response_url}', {page})">{PREV_PAGE_MSG}</a> <!-- end pn_prev-->
	<!-- begin pn_before -->
	<a href="#" onclick="processBranch('{id}', '{tree_name}', '{response_url}', {page})">{page_number}</a> <!-- end pn_before -->

	<!-- begin pn_active --><a href="" onclick="return false;"><span>{current_page}</span></a><!-- end pn_active -->

	<!-- begin pn_after -->
	<a href="#" onclick="processBranch('{id}', '{tree_name}', '{response_url}', {page})">{page_number}</a> <!-- end pn_after -->
	<!-- begin pn_next -->
	<a href="#" onclick="processBranch('{id}', '{tree_name}', '{response_url}', {page})">{NEXT_PAGE_MSG}</a> <!-- end pn_next -->
	<!-- begin pn_last -->
	<a href="#" onclick="processBranch('{id}', '{tree_name}', '{response_url}', {page})">{LAST_PAGE_MSG}</a> <!-- end pn_last -->
</div>
<!--
<div class="pn-summary">
	<span class="pn-name">{PAGE_MSG}</span> <span class="pn-current">{current_page}</span> <span class="pn-of">{OF_PAGE_MSG}</span> <span class="pn-total">{total_pages}</span>
</div>
-->
<div class="clear"></div>
