<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{meta_language}" lang="{meta_language}">
<head>
<meta http-equiv="Content-Type" content="text/html; charset={CHARSET}" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>{article_title}</title><!-- begin head_tags -->
{head_tag}<!-- end head_tags -->
</head>

<body style="padding: 10px;">

<!-- begin no_item --><div class="errorbg">{NO_ARTICLE_MSG}</div><!-- end no_item -->

	<!-- BEGIN item -->
	<div>
	<a class="right" href="javascript:print()"><img src="images/ico-print.gif" alt="{PRINT_PAGE_MSG}" width="20" height="14" />{PRINT_PAGE_MSG}</a>
	<h1>{article_title}</h1>

      <br />

      <!-- begin author_block -->
      <!-- begin author_name_block --><b>{author_name}</b> <!-- end author_name_block -->
      <!-- begin author_email_block -->&lt;{author_email}&gt;<!-- end author_email_block -->
      <!-- begin author_url_block --> <a href="{author_url}">{author_url}</a><!-- end author_url_block -->
      <!-- end author_block -->

      <!-- begin date_block -->
      <div class="articleDate">
      <!-- begin article_date_block -->{article_date}<!-- end article_date_block -->
      <!-- begin date_end_block --> &ndash; {date_end}<!-- end date_end_block -->
      </div>
      <!-- end date_block -->


      <div align="justify">
      <!-- begin image_large_block -->
      <img src="{src}" hspace="5" align="left" alt="{alt}" /><!-- end image_large_block -->
      <!-- begin image_small_block -->
      <img src="{src}" hspace="5" align="left" alt="{alt}" /><!-- end image_small_block -->
      <!-- begin short_description_block -->
      {short_description}
      <!-- end short_description_block -->
      {full_description}
      </div>

      <!-- begin link_url_block -->
      <div align=justify><b>{LINK_URL_MSG}</b>: <a href="{link_url}">{link_url}</a></div><!-- end link_url_block -->
      <!-- begin download_url_block -->
      <div align=justify><b>{DOWNLOAD_URL_MSG}</b>: <a href="{download_url}">{download_url}</a></div><!-- end download_url_block -->
      <!-- begin notes_block -->
      <div align=justify><b>{NOTES_MSG}</b>: {notes}</div><!-- end notes_block -->
      <!-- begin keywords_block -->
      <div align=justify><b>{KEYWORDS_MSG}</b>: {keywords}</div><!-- end keywords_block -->

	<br />
	</div>
	<!-- END item -->
	
</body>
</html>