<form action="{reset_password_href}" name="profile" method="post">
<input type="hidden" name="operation" value="save" />
<input type="hidden" name="rc" value="{rc}" />
<input type="hidden" name="em" value="{em}" />
<!-- BEGIN errors --><div align="center" class="errorbg">{errors_list}</div><!-- END errors -->
<!-- BEGIN password_updated --><div align="center" class="messagebg">
	{RESET_PASSWORD_SAVED_MSG}<br />
	{ACCESS_HOME_MSG} <a href="{user_login_href}">{CLICK_HERE_MSG}</a>
</div><!-- END password_updated -->
<table width="100%" cellspacing="1" class="padding6px"><!-- BEGIN password_block -->
<tr class="usualbg" width="30%">
	<td>{CHOOSE_A_MSG} <b>{NEW_PASS_FIELD}</b> *</td>
	<td width="70%"><input class="text" type="password" name="password" value="{password}" maxlength="32" /></td>
</tr><!-- END password_block --><!-- BEGIN confirm_block -->
<tr class="usualbg">
	<td><b>{CONFIRM_PASS_FIELD}</b> *</td>
	<td><input class="text" type="password" name="confirm" value="{confirm}" maxlength="32" /></td>
 </tr><!-- END confirm_block --><!-- BEGIN buttons -->
<tr class="middlebg" >
	<td>&nbsp;</td>
	<td><span class="submit"><input class="submit" type="submit" value="{UPDATE_BUTTON}" onclick="document.profile.operation.value='save'" /></span></td>
</tr><!-- END buttons -->
</table>
</form>