	<!-- BEGIN twitter_errors -->
	<div class="errorbg">{errors_list}</div>
	<!-- END twitter_errors -->
	
	<!-- BEGIN twitter_feeds -->
	<div class="twitter">
		<div class="twitter_feed"><!-- begin twit_block -->
			<div class="tweet"><!-- begin tw_image_block -->
				<img src="{tw_img}" class="twitterImg" /><!-- end tw_image_block -->
				<span class="articleDate">{tw_date}</span>
				<br />
				{twit}
				<div class="clearboth"></div>
			</div><!-- end twit_block -->		
		</div>  
	</div>
	<!-- END twitter_feeds -->
			