	<!-- BEGIN top_rated_items -->
	<div class="top">
		<div class="title">
			<b class="top-pos">{top_position}.</b> 
			<a class="product-name {product_new_class} {restricted_class}" href="{details_href}" title="{a_title}">{top_name}</a>
			<span>(<b>{top_rating}</b>)</span>
		</div>
		<!-- begin top_image -->
		<div class="image">
			<a href="{details_href}" title="{a_title}"><img src="{src}" {width} {height} hspace="5" alt="{alt}"/></a>
		</div>
		<!-- end top_image -->
		<!-- begin top_desc -->
		<div class="desc">{desc_text}</div><!-- end top_desc -->
	</div>
	<!-- END top_rated_items --> 
