	<div class="authors {columns_class}">
		<!-- BEGIN authors_rows -->
		<!-- BEGIN authors_cols -->
		<div class="col {column_class}">
			<div class="author">

				<a class="link author-name" href="{author_url}" title="{author_name}">{author_name}</a>

				<div class="author-info">
					<!-- begin image_tiny_block -->
					<a class="link img-tiny" href="{author_url}" title="{a_title}"><img class="image img-tiny" src="{image_tiny_src}" alt="{image_tiny_alt}" /></a><!-- end image_tiny_block -->
					<!-- begin image_small_block -->
					<a class="link img-small" href="{author_url}" title="{a_title}"><img class="image img-small" src="{image_small_src}" alt="{image_small_alt}" /></a><!-- end image_small_block -->
					<!-- begin image_large_block -->
					<a class="link img-large" href="{author_url}" title="{a_title}"><img class="image img-large" src="{image_large_src}" alt="{image_large_alt}" /></a><!-- end image_large_block -->
					<!-- begin image_super_block -->
					<a class="link img-super" href="{author_url}" title="{a_title}"><img class="image img-super" src="{image_super_src}" alt="{image_super_alt}" /></a><!-- end image_super_block -->
			  
					<!-- begin short_description_block --><div class="desc desc-short">{short_description}</div><!-- end short_description_block -->
					<!-- begin full_description_block --><div class="desc desc-full">{full_description}</div><!-- end full_description_block -->
				</div>

				<a class="link author-details" href="{author_url}">{DETAILED_DESCRIPTION_MSG}</a>
				<a class="link author-articles" href="{author_articles_url}">{ARTICLES_TITLE}</a>

			</div>
		</div>
		<!-- END authors_cols -->
		<!-- END authors_rows -->
		<div class="clear"></div>
	</div>

