<div class="voucher-events">

	<div class="bk-back"><a class="link lk-back" href="{user_vouchers_href}">{BACK_MSG}</a></div>

	<table class="table-data">
	<tr class="middlebg" align="center">
		<th class="event-date">{DATE_MSG}</th>
		<th class="event-desc">{DESCRIPTION_MSG}</th>
		<th class="transaction-no">{TRANSACTION_NUMBER_MSG}</th>
		<th class="voucher-amount">{AMOUNT_MSG}</th>
		<th class="voucher-balance">{BALANCE_MSG}</th>
	</tr><!-- begin events -->
	<tr>
		<td class="event-date">
			{event_date}
		</td>
		<td class="event-desc">
			{event_desc}
		</td>
		<td class="transaction-no">
			{transaction_id}
		</td>
		<td class="voucher-amount">
			{voucher_amount}
		</td>
		<td class="voucher-balance">
			{voucher_balance}
		</td>
	</tr><!-- end events -->
	</table>	

</div>
