			<div class="ads {columns_class}">
				<!-- BEGIN special_rows --> 
				<!-- BEGIN special_cols -->
				<div class="col {column_class}">

					<div class="ad">
						<div class="before-image">
							<h2 class="ad-name"><a class="bigtitle ad-name {restricted_class}" href="{details_href}">{special_item_name}</a></h2>
						</div>
						<!-- begin image_small -->
						<div class="image-block">
							<a href="{details_href}"><img class="ad-image" src="{src}" alt="{alt}" /></a>
						</div><!-- end image_small -->
						<div class="after-image">
							<h2 class="ad-name"><a class="bigtitle ad-name {restricted_class}" href="{details_href}" >{special_item_name}</a></h2>
						</div>
		      
						<div class="desc">
							{special_description}
						</div>
						<div class="more-details">
							<a class="button bn-more" href="{details_href}"><span>{READ_MORE_MSG}</span></a>
						</div>
					</div>
			</div>
			<!-- END special_cols -->
			<!-- END special_rows -->
			<div class="clear"></div>
		</div>

		<!-- begin special_navigator_block -->
		<div class="navigator">{special_navigator}</div>
		<!-- end special_navigator_block -->
