			<!-- BEGIN manual_full_description_block -->
			<div class="usualbg">{manual_full_description}</div>
			<!-- END manual_full_description_block -->
			<!-- BEGIN no_contents -->
			<div class="messagebg">{NO_MANUAL_ARTICLES_MSG}</div>
			<!-- END no_contents -->
			<!-- begin no_manuals -->
			<div class="messagebg">{NO_MANUALS_MSG}</div>
			<!-- end no_manuals -->
			<div class="usualbg padding2px">
			<!-- BEGIN articles -->
			<div class="level{level}"><a href="{article_href}" class="{restricted_class}">{section_number}.&nbsp;{article_title}</a></div>
			<div>{short_description}</div>
			<!-- END articles -->
			</div>
