	<div class="products {columns_class}">
		<!-- BEGIN top_viewed_rows -->
		<!-- BEGIN top_viewed_cols -->
		<div class="col {column_class}">
			<div class="product">
				<div class="before-image top">
					<span class="top-pos">{top_position}.</span> <a class="product-name {product_new_class} {restricted_class}" href="{product_url}" title="{a_title}">{item_name}</a> <span class="total-views">({total_views})</span>
				</div>
				<!-- begin top_image --><a href="{product_url}" title="{a_title}"><img src="{src}" alt="{alt}" /></a><!-- end top_image -->
				<div class="after-image top">
					<span class="top-pos">{top_position}.</span> <a class="product-name {product_new_class} {restricted_class}" href="{product_url}" title="{a_title}">{item_name}</a> <span class="total-views">({total_views})</span>
				</div>
				<!-- begin top_desc -->
				<div class="desc">{desc_text}</div><!-- end top_desc -->
				<div class="clear"></div>
			</div>
		</div>
		<!-- END top_viewed_cols -->
		<!-- END top_viewed_rows -->
		<div class="clear"></div>
	</div>