<table cellspacing="1" width="100%" class="table-data"><!-- begin sorters -->
<tr class="middlebg" align="center">
	<td>{NAME_MSG}</td>
	<td>{ADDRESS_MSG}</td>
	<td>&nbsp;</td>
</tr><!-- end sorters --><!-- BEGIN records -->
<tr class="usualbg" valign="top">
	<td>{name}</td>
	<td>{address}</td>
	<td align="center"><a href="{user_address_href}?address_id={address_id}">{EDIT_MSG}</a></td>
</tr><!-- END records --><!-- BEGIN no_records -->
<tr class="usualbg">
	<td>{NO_ADDRESSES_MSG}</td>
</tr><!-- END no_records -->
</table>	
<table cellspacing="1" width="100%" class="table-data">
<tr class="middlebg">
	<td><a href="{user_address_href}">{ADD_NEW_MSG}</a></td><!-- begin navigator_block -->
	<td align="right">{navigator}</td><!-- end navigator_block -->
</tr>
</table>
