	<table cellspacing="1" width="100%" class="padding6px"><!-- begin no_forums -->
		<tr class="usualbg">
			<td align="left" colspan="5" class="messagebg">{NO_FORUMS_MSG}</td>
		</tr><!-- end no_forums --><!-- begin categories -->
		<tr class="middlebg" align="center">
			<td align="left" colspan="5"><a href="{category_href}">{cat_name}</a></td>
		</tr>
		<tr class="usualbg">
			<td>&nbsp;</td>
			<td><b>{FORUM_NAME_COLUMN}</b></td>
			<td align="center" width="10%"><b>{FORUM_TOPICS_COLUMN}</b></td>
			<td align="center" width="10%"><b>{FORUM_REPLIES_COLUMN}</b></td>
			<td align="center" width="15%"><b>{FORUM_LAST_POST_COLUMN}</b></td>
		</tr><!-- begin forums -->
		<tr class="usualbg" valign="top">
			<td width="1%"><!-- BEGIN small_image_block -->
				<img src="{small_image}" {image_size} alt="{forum_name}" /><!-- END small_image_block -->
			</td>
			<td>
				<div class="title"><!--begin block_forum-->
				<img src="./images/icons/closed.gif" alt="Restricted Forum"><!--end block_forum-->
				<a href="{forum_href}">{forum_name}</a><!-- BEGIN forum_rss -->
				<a class="floatright" href="{rss_url}"><img src="images/ico-rss.gif" alt="RSS" /></a><!-- END forum_rss -->
				</div>
				<div class="comment">{short_description}</div><!-- begin moderators_block -->
				<div>{FORUM_MODERATORS_MSG}: {moderators}</div><!-- end moderators_block -->
			</td>
			<td align="center">{threads_number}</td>
			<td align="center">{messages_number}</td>
			<td>
				<span class="nobr">{last_post}</span><!-- begin last_post_in_block -->
				<br /><span class="nobr"><b>{LAST_POST_IN_SHORT_MSG}</b> <!--begin block_topic--><img src="./images/icons/closed.gif" alt="Restricted Topic" align="absmiddle"><!--end block_topic--> <a href="{forum_thread_url}">{last_post_in}</a></span><!-- end last_post_in_block --><!-- begin last_post_by_block -->
				<br /><span class="nobr"><b>{LAST_POST_BY_SHORT_MSG}</b> <span class="{forum_user_class}">{last_post_by}</span></span><!-- end last_post_by_block -->
			</td>
		</tr><!-- end forums --><!-- end categories -->
	</table>