<!-- begin before_block --><!-- begin call_center_mode -->
<div class="block bk-message"> 
	{CALL_CENTER_MODE_MSG}
</div><!-- end call_center_mode -->

<!-- begin points_balance_block -->
<div class="block bk-message">{POINTS_BALANCE_MSG}: <b>{points_balance}</b></div>
<!-- end points_balance_block -->
<!-- begin credit_balance_block -->
<div class="block bk-message">{CREDIT_BALANCE_MSG}: <b>{credit_balance}</b></div>
<!-- end credit_balance_block --><!-- end before_block -->

<script type="text/javascript">
//<![CDATA[
	var selectCountryFirst = "{SELECT_COUNTRY_FIRST_MSG}";
	var noStatesForCountry = "{NO_STATES_FOR_COUNTRY_MSG}";
	var defaultStateField = "{STATE_FIELD}";
	var states = {states_json};
	var stateNames = {state_names_json};
	var personalFields = {personal_fields};

{ordering_js}

window.addEventListener("load", vaOPC, false);
//]]>
</script>
<script type="text/javascript" src="js/images.js"></script>

<form action="{order_info_url}#pb_{pb_id}" name="order_info" method="post">
<input type="hidden" name="pb_id" value="{pb_id}" />
<input type="hidden" name="ajax" value="0" />
<input type="hidden" name="opc_type" value="{opc_type}" />
<input type="hidden" name="is_mobile" value="{is_mobile}" />
<input type="hidden" name="user_order" value="{user_order}" />
<input type="hidden" name="order_data" value="{order_data}" />
<input type="hidden" name="disable_animation" value="0" />
<input type="hidden" name="operation" value="save" />
<input type="hidden" name="next_step" value="" />
<input type="hidden" name="active_step" value="{active_step}" />
<input type="hidden" name="tax_prices_type" value="{tax_prices_type}" />
<input type="hidden" name="tax_percent" value="{tax_percent}" />
<input type="hidden" name="tax_rates" value="{tax_rates}" />
<input type="hidden" name="order_items" value="{order_items}" />
<input type="hidden" name="order_coupons" value="{order_coupons}" />
<input type="hidden" name="order_vouchers" value="{order_vouchers}" />
<input type="hidden" name="goods_value" value="{goods_value}" />
<input type="hidden" name="goods_tax_value" value="{goods_tax_value}" />
<input type="hidden" name="goods_points_value" value="{goods_points_value}" />
<input type="hidden" name="currency_left" value="{currency_left}" />
<input type="hidden" name="currency_right" value="{currency_right}" />
<input type="hidden" name="currency_rate" value="{currency_rate}" />
<input type="hidden" name="currency_decimals" value="{currency_decimals}" />
<input type="hidden" name="currency_point" value="{currency_point}" />
<input type="hidden" name="currency_separator" value="{currency_separator}" />
<input type="hidden" name="default_country_id" value="{default_country_id}" />
<input type="hidden" name="default_state_id" value="{default_state_id}" />
<input type="hidden" name="properties" value="{properties_ids}" />
<input type="hidden" name="order_properties" value="{order_properties}" />
<input type="hidden" name="properties_total" value="{properties_total}" />
<input type="hidden" name="properties_points_value" value="{properties_points_value}" />
<input type="hidden" name="properties_taxable" value="{properties_taxable}" />
<input type="hidden" name="shipping_points_value" value="{shipping_points_value}" />
<input type="hidden" name="processing_fees" value="{processing_fees}" />
<input type="hidden" name="cart_ids" value="{cart_ids}" />
<input type="hidden" name="points_balance" value="{points_balance_value}" />
<input type="hidden" name="credit_balance" value="{credit_balance_value}" />
<input type="hidden" name="points_rate" value="{points_rate}" />
<input type="hidden" name="points_decimals" value="{points_decimals}" />
<input type="hidden" name="personal_number" value="{personal_number}" />
<input type="hidden" name="delivery_number" value="{delivery_number}" />
<input type="hidden" name="continue_button" value="{CONTINUE_BUTTON}" /><!-- begin hidden_properties -->
{property_control}<!-- end hidden_properties -->

<!-- begin cart_block -->
<div class="{step_class}" id="cartStep">

	<div class="sub-head" id="cartTitle">
		<div class="step-link" onclick="{step_link_onclick}" id="cartLink">{step_number}. {CART_TITLE}</div>
	</div>

	<div id="cartErrors" class="{errors_class}" align="center">{errors_list}</div>

	<div class="sub-body">

<table cellspacing="0" width="100%" class="table-data">
<tr class="middlebg">
	<!-- begin ordinal_number_header -->
	<th class="ordinal-number">{ordinal_number_col_name}</th><!-- end ordinal_number_header -->
	<!-- begin item_image_header -->
	<th class="product-image">{image_col_name}</th><!-- end item_image_header -->
	<!-- begin item_name_header -->
	<th class="product-name">{name_col_name}</th><!-- end item_name_header -->
	<!-- begin item_price_header -->
	<th class="price-excl-tax" align="right">{price_excl_col_name}</th><!-- end item_price_header -->
	<!-- begin item_tax_percent_header -->
	<th class="tax-percent" align="right">{tax_percent_col_name}</th><!-- end item_tax_percent_header -->
	<!-- begin item_tax_header -->
	<th class="tax-amount" align="right">{tax_col_name}</th><!-- end item_tax_header -->
	<!-- begin item_price_incl_tax_header -->
	<th class="price-incl-tax" align="right">{price_incl_col_name}</th><!-- end item_price_incl_tax_header -->
	<!-- begin item_quantity_header -->
	<th class="product-qty" align="center">{quantity_col_name}</th><!-- end item_quantity_header -->
	<!-- begin item_price_total_header -->
	<th class="price-excl-tax-total" align="right">{total_excl_col_name}</th><!-- end item_price_total_header -->
	<!-- begin item_tax_total_header -->
	<th class="tax-total" align="right">{tax_total_col_name}</th><!-- end item_tax_total_header -->
	<!-- BEGIN item_price_incl_tax_total_header -->
	<th class="price-incl-tax-total" align="right">{total_incl_col_name}</th><!-- END item_price_incl_tax_total_header -->
</tr>
<!-- begin items -->
<tr class="usualbg" valign="top">
	<!-- begin ordinal_number_column -->
	<td class="ordinal-number" align="center">
		{ordinal_number}
	</td><!-- end ordinal_number_column -->
	<!-- begin item_image_column -->
	<td class="product-image" align="center" valign="top">
		<!-- begin image_preview -->
			<img src="{src}" alt="{alt}" />
		<!-- end image_preview -->
	</td><!-- end item_image_column -->
	<!-- begin item_name_column -->
	<td class="product-name">
		{item_name}
		<!-- begin item_code_block -->
		<br />{PROD_CODE_MSG}: <b>{item_code}</b><!-- end item_code_block -->	
		<!-- begin manufacturer_code_block -->
		<br />{MANUFACTURER_CODE_MSG}: <b>{manufacturer_code}</b><!-- end manufacturer_code_block -->	
		<font class="smallText">{properties_values}</font>
			<!-- begin item_coupons -->
			<div class="smallText">{coupon_title} ({discount_amount})</div><!-- end item_coupons -->
			<!-- begin components_block -->
			<div><b>{PROD_SUBCOMPONENTS_MSG}:</b></div>
			<!-- begin components -->
			<div>{selection_name} {component_quantity} x {component_name} {component_price} {component_icon}</div>
			<!-- end components -->
			<!-- end components_block -->
			<!-- begin specification_block -->
				<!-- begin spec_groups -->
				<div><b><u>{group_name}</u></b></div><!-- begin spec_features -->
				<div>{feature_name}: {feature_value}</div><!-- end spec_features --><!-- end spec_groups -->
			<!-- end specification_block -->
		<!-- begin item_taxes -->
		<div>{tax_name}:&nbsp;<b>{tax_amount_total}</b></div><!-- end item_taxes -->
		<!-- begin points_price_block -->
		<div class="points_price"><input type="checkbox" name="pay_points_{cart_id}" {pay_points_checked} value="1" onclick="calculateItems();" /> {PROD_PAY_POINTS_MSG}:&nbsp;<b>{points_price}</b> {points_msg}</div><!-- end points_price_block -->
		<!-- begin reward_points_block -->
		<div class="reward_points">{REWARD_POINTS_MSG}:&nbsp;{reward_points}</div><!-- end reward_points_block -->
		<!-- begin reward_credits_block -->
		<div class="reward_credits">{REWARD_CREDITS_MSG}:&nbsp;{reward_credits}</div><!-- end reward_credits_block -->
		<input type="hidden" name="item_name_{cart_id}" value="{item_name_strip}" />
	</td><!-- end item_name_column -->

	<!-- begin item_price_excl_tax_column -->
	<td class="price-excl-tax" align="right">{price_excl_tax}</td><!-- end item_price_excl_tax_column -->
	<!-- begin item_tax_percent_column -->
	<td class="tax-percent" align="right">{item_tax_percent}</td><!-- end item_tax_percent_column -->
	<!-- begin item_tax_column -->
	<td class="tax-amount" align="right">{item_tax}</td><!-- end item_tax_column -->
	<!-- begin item_price_incl_tax_column -->
	<td class="price-incl-tax" align="right">{price_incl_tax}</td><!-- end item_price_incl_tax_column -->
	<!-- begin item_quantity_column -->
	<td class="product-qty" align="center">{quantity}</td><!-- end item_quantity_column -->
	<!-- begin item_price_excl_tax_total_column -->
	<td class="price-excl-tax-total" align="right">{price_excl_tax_total}</td><!-- end item_price_excl_tax_total_column -->
	<!-- begin item_tax_total_column -->
	<td class="tax-total" align="right">{item_tax_total}</td><!-- end item_tax_total_column -->
	<!-- begin item_price_incl_tax_total_column -->
	<td class="price-incl-tax-total" align="right">{price_incl_tax_total}</td><!-- end item_price_incl_tax_total_column -->
</tr><!-- end items -->
<tr class="middlebg">
	<!-- begin goods_name_column -->
	<td colspan="{goods_colspan}">
		<table width="100%" cellpadding="0" cellspacing="0">
		<tr>
			<td>
				<!-- begin reward_points_total_block -->
				{REWARD_POINTS_MSG}: {reward_points_total}
				<!-- end reward_points_total_block -->
				<!-- begin reward_credits_total_block -->
				{REWARD_CREDITS_MSG}: {reward_credits_total}
				<!-- end reward_credits_total_block -->
			</td>
			<td align="right"><b>{GOODS_TOTAL_MSG}</b></td>
		</tr>
		</table>
	</td>
	<!-- end goods_name_column -->
	<!-- begin goods_total_quantity_column -->
	<td align="center">
		<b>{total_quantity}&nbsp;</b>
	</td>
	<!-- end goods_total_quantity_column -->
	<!-- begin goods_total_excl_tax_column -->
	<td align="right"><span id="goods_total_excl_tax">{goods_total_excl_tax}</span></td><!-- end goods_total_excl_tax_column -->
	<!-- BEGIN goods_tax_total_column -->
	<td align="right"><span id="goods_tax_total">{goods_tax_total}</span></td><!-- END goods_tax_total_column -->
	<!-- BEGIN goods_total_incl_tax_column -->
	<td align="right"><span id="goods_total_incl_tax">{goods_total_incl_tax}</span></td><!-- END goods_total_incl_tax_column -->
</tr>
<!-- begin coupons -->
<tr class="usualbg" valign="top">
	<!-- begin coupon_name_column -->
	<td colspan="{properties_colspan}">{coupon_title}</td>
	<!-- end coupon_name_column -->
	<!-- begin coupon_amount_excl_tax_column -->
	<td align="right"><span id="coupon_amount_excl_tax_{coupon_id}">{coupon_amount_excl_tax}</span></td>
	<!-- end coupon_amount_excl_tax_column -->
	<!-- begin coupon_tax_column -->
	<td align="right"><span id="coupon_tax_{coupon_id}">{coupon_tax}</span></td><!-- end coupon_tax_column -->
	<!-- begin coupon_amount_incl_tax_column -->
	<td align="right"><span id="coupon_amount_incl_tax_{coupon_id}">{coupon_amount_incl_tax}</span></td><!-- end coupon_amount_incl_tax_column -->
</tr><!-- end coupons --><!-- begin discount -->
<tr class="middlebg">
	<!-- BEGIN total_discount_name_column -->
	<td colspan="{properties_colspan}" align="right"><b>{TOTAL_DISCOUNT_MSG}</b></td><!-- END total_discount_name_column -->
	<!-- BEGIN total_discount_amount_excl_tax_column -->
	<td align="right"><b><span id="total_discount_excl_tax">{total_discount_excl_tax}</span></b></td><!-- END total_discount_amount_excl_tax_column -->
	<!-- BEGIN total_discount_tax_column -->
	<td align="right"><b><span id="total_discount_tax">{total_discount_tax}</span></b></td><!-- END total_discount_tax_column -->
	<!-- BEGIN total_discount_amount_incl_tax_column -->
	<td align="right"><b><span id="total_discount_incl_tax">{total_discount_incl_tax}</span></b></td><!-- END total_discount_amount_incl_tax_column -->
</tr>
<tr class="middlebg">
	<!-- BEGIN discounted_name_column -->
	<td colspan="{properties_colspan}" align="right"><b>{GOODS_WITH_DISCOUNT_MSG}</b></td><!-- end discounted_name_column -->
	<!-- BEGIN discounted_amount_excl_tax_column -->
	<td align="right"><b><span id="discounted_amount_excl_tax">{discounted_amount_excl_tax}</span></b></td><!-- END discounted_amount_excl_tax_column -->
	<!-- BEGIN discounted_tax_column -->
	<td align="right"><b><span id="discounted_tax_amount">{discounted_tax_amount}</span></b></td><!-- END discounted_tax_column -->
	<!-- BEGIN discounted_amount_incl_tax_column -->
	<td align="right"><b><span id="discounted_amount_incl_tax">{discounted_amount_incl_tax}</span></b></td><!-- END discounted_amount_incl_tax_column -->
</tr><!-- end discount -->
<!-- begin cart_properties -->
<tr id="op_block_{property_id}" class="property {property_class}" style="{property_style}" valign="top">
	<td class="field" colspan="{properties_colspan}">
		<div class="before"></div>
		<!-- begin property_control_block -->
		<div class="control">
			{property_control}
		</div><!-- end property_control_block -->
		<div class="name">
			{property_name} <span class="required">{property_required}</span>
		</div>
		<!-- begin property_value_block -->
		<div class="value">
			{property_value} 
		</div><!-- end property_value_block -->
		<div class="after"></div>
		<!-- begin property_points_pay_block -->
		<div class="points-pay"><label><i></i><span class="caption">{ORDER_OPTIONS_PAY_POINTS_MSG}</span><input type="checkbox" name="property_pay_points_{property_id}" {property_pay_points_checked} value="1" onclick="changeOrderProperty();" /></label></div><!-- end property_points_pay_block -->
		<!-- begin property_points_price_block -->
		<div class="points-price"><span class="caption">{POINTS_PRICE_MSG}</span> <span class="points">{property_points_price}</span></div><!-- end property_points_price_block -->

	</td>
	<!-- BEGIN property_price_excl_tax_column -->
	<td class="price price-excl-tax"><span id="op_price_excl_tax_{property_id}">{op_price_excl_tax}</span></td><!-- END property_price_excl_tax_column -->
	<!-- BEGIN property_tax_column -->
	<td class="price price-tax"><span id="op_tax_{property_id}">{op_tax}</span></td><!-- END property_tax_column -->
	<!-- BEGIN property_price_incl_tax_column -->
	<td class="price price-incl-tax"><span id="op_price_incl_tax_{property_id}">{op_price_incl_tax}</span></td><!-- END property_price_incl_tax_column -->
</tr><!-- end cart_properties -->
<!-- begin taxes -->
<tr class="usualbg">
	<td colspan="{sc_colspan}" align="right">{tax_name}</td>
	<td align="right">
		<span id="tax_{tax_id}">{tax_cost}</span>
	</td>
</tr><!-- end taxes -->
<!-- begin vouchers_block -->
<tr class="middlebg">
	<td colspan="{total_columns}">{USED_VOUCHERS_MSG}</td>
</tr>
<!-- begin used_vouchers -->
<tr class="usualbg">
	<td colspan="{sc_colspan}">{voucher_title}</td>
	<td align="right">
		<span id="voucher_amount_{voucher_id}">{voucher_amount}</span>
	</td>
</tr><!-- end used_vouchers -->
<!-- end vouchers_block -->
<!-- begin total_points_block -->
<tr class="middlebg">
	<td colspan="{sc_colspan}" align="right">
		<table cellspacing="0" cellpadding="0" width="100%">
		<tr class="middlebg">
			<td>{POINTS_REMAINING_MSG}: <span id="remaining_points">{remaining_points}</span></td>
			<td align="right">{TOTAL_POINTS_MSG}</td>
		</tr>
		</table>
	</td>
	<td align="right"><span id="total_points_amount">{total_points_amount}</span></td>
</tr>
<!-- end total_points_block -->
</table>

	</div>

	<div class="sub-foot" id="cartFooter">
		<div class="foot-content">
			<div class="step-continue" id="cartContinue">
				<input id="cartButton" class="continue" type="button" value="{button_name}" onclick="nextCheckoutStep('{step_name}', '{next_step}');" />
			</div>
			<div class="step-summary" id="cartSummary">
				{CART_TOTAL_MSG}: <span class="step-total" id="cartTotal">{step_cart_total}</span>
			</div>
			<div class="clear"></div>
		</div>
	</div>

</div>
<!------- checkout cart end -------------->
<!-- end cart_block -->


<!-- begin user_block -->
<div class="{step_class}" id="userStep">

	<a name="user_details"></a>

	<div class="sub-head" id="userTitle">
		<div class="step-link" onclick="{step_link_onclick}" id="userLink">{step_number}. {PERSONAL_AND_DELIVERY_DATA_MSG}</div>
	</div>

	<div id="userErrors" class="{errors_class}" align="center">{errors_list}</div>

	<div class="sub-body">

	<!-- begin personal -->
	<div class="personal-data">
		<div class="data-title bg-title br-solid">
			{PERSONAL_DETAILS_MSG}
			<!-- begin call_center_user_block -->
			<div class="field">
				<div class="name">
					{USER_MSG}
				</div>
				<div class="control">
					<input type="hidden" name="cc_user_id" value="{cc_user_id}" /> <span id="cc_user_login">{cc_user_login}</span>
					<a id="cc_remove_user" href="#" onClick="ccRemoveUser(); return false;" style="{cc_remove_user_style} font-style: none;">{REMOVE_BUTTON}</a>
					<a id="cc_select_user" href="#" onClick="ccUsersWindow('{call_center_users_href}'); return false;" style="{cc_select_user_style}">{SELECT_USER_MSG}</a>
				</div>
			</div><!-- end call_center_user_block -->
		</div>
		<!-- begin personal_select_address -->
		<div class="field">
			<div class="name">
			</div>
			<div class="control">
				<a href="#" onClick="addressWindow('{user_address_select_href}?select_type=1'); return false;">{SELECT_ADDRESS_MSG}</a>
			</div>
		</div><!-- end personal_select_address --><!-- begin name_block -->
		<div class="field">
			<div class="name">
				{FULL_NAME_FIELD} <span class="required">{name_required}</span>
			</div>
			<div class="control">
				<input class="text" type="text" name="name" value="{name}" {name_disabled} size="30" maxlength="128" onchange="uncheckSame();" />
			</div>
		</div><!-- end name_block --><!-- begin first_name_block -->
		<div class="field">
			<div class="name">
				{FIRST_NAME_FIELD} <span class="required">{first_name_required}</span>
			</div>
			<div class="control">
				<input class="text" type="text" name="first_name" value="{first_name}" {first_name_disabled} size="30" maxlength="64" onchange="uncheckSame();" />
			</div>
		</div><!-- end first_name_block --><!-- begin middle_name_block -->
		<div class="field">
			<div class="name">
				{MIDDLE_NAME_FIELD} <span class="required">{middle_name_required}</span>
			</div>
			<div class="control">
				<input class="text" type="text" name="middle_name" value="{middle_name}" {middle_name_disabled} size="30" maxlength="64" onchange="uncheckSame();" />
			</div>
		</div><!-- end middle_name_block --><!-- begin last_name_block -->
		<div class="field">
			<div class="name">
				{LAST_NAME_FIELD} <span class="required">{last_name_required}</span>
			</div>
			<div class="control">
				<input class="text" type="text" name="last_name" value="{last_name}" {last_name_disabled} size="30" maxlength="64" onchange="uncheckSame();" />
			</div>
		</div><!-- end last_name_block --><!-- begin company_id_block -->
		<div class="field">
			<div class="name">
				{COMPANY_SELECT_FIELD} <span class="required">{company_id_required}</span>
			</div>
			<div class="control">
				<select class="text" name="company_id" {company_id_disabled} onchange="uncheckSame();"><!-- begin company_id -->
					<option {company_id_selected} value="{company_id_value}">{company_id_description}</option><!-- end company_id -->
				</select>
			</div>
		</div><!-- end company_id_block --><!-- begin company_name_block -->
		<div class="field">
			<div class="name">
				{COMPANY_NAME_FIELD} <span class="required">{company_name_required}</span>
			</div>
			<div class="control">
				<input class="text" type="text" name="company_name" {company_name_disabled} value="{company_name}" size="30" maxlength="128" onchange="uncheckSame();" />
			</div>
		</div>
		<!-- end company_name_block --><!-- begin email_block -->
		<div class="field">
			<div class="name">
				{EMAIL_FIELD} <span class="required">{email_required}</span>
			</div>
			<div class="control">
				<input class="text" type="text" name="email" {email_disabled} value="{email}" size="30" maxlength="128" onchange="uncheckSame();" />
			</div>
		</div><!-- end email_block --><!-- begin country_id_block -->
		<div class="field personal-country">
			<div class="name">
				{COUNTRY_FIELD} <span class="required">{country_id_required}</span>
			</div>
			<div class="control">
				<select class="text field-control" name="country_id" {country_id_disabled} onchange="uncheckSame();updateStates('{pb_id}', 'personal');"><!-- begin country_id -->
					<option {country_id_selected} value="{country_id_value}">{country_id_description}</option><!-- end country_id -->
				</select>
			</div>
		</div><!-- end country_id_block --><!-- begin state_id_block -->
		<div class="field personal-state">
			<div class="name">
				<span class="field-name">{STATE_FIELD}</span> <span style="{state_id_required_style}" class="required field-required">{state_id_required}</span>
			</div>
			<div class="control">
				<select class="text field-control" name="state_id" {state_id_disabled} style="{state_id_control_style}" onchange="uncheckSame(); "><!-- begin state_id -->
					<option {state_id_selected} value="{state_id_value}">{state_id_description}</option><!-- end state_id -->
				</select>
				<span class="field-comments" style="{state_id_comments_style}">{state_id_comments}</span>
			</div>
		</div>
		<!-- end state_id_block --><!-- begin province_block -->
		<div class="field">
			<div class="name">
				{PROVINCE_FIELD} <span class="required">{province_required}</span>
			</div>
			<div class="control">
				<input class="text" type="text" name="province" {province_disabled} value="{province}" size="30" maxlength="128" onchange="uncheckSame();" />
			</div>
		</div><!-- end province_block --><!-- begin address1_block -->
		<div class="field">
			<div class="name">
				{STREET_FIRST_FIELD} <span class="required">{address1_required}</span>
			</div>
			<div class="control">
				<input class="text" type="text" name="address1" {address1_disabled} value="{address1}" size="30" maxlength="255" onchange="uncheckSame();" />
			</div>
		</div><!-- end address1_block --><!-- begin address2_block -->
		<div class="field">
			<div class="name">
				{STREET_SECOND_FIELD} <span class="required">{address2_required}</span>
			</div>
			<div class="control">
				<input class="text" type="text" name="address2" {address2_disabled} value="{address2}" size="30" maxlength="255" onchange="uncheckSame();" />
			</div>
		</div><!-- end address2_block --><!-- begin address3_block -->
		<div class="field">
			<div class="name">
				{STREET_THIRD_FIELD} <span class="required">{address3_required}</span>
			</div>
			<div class="control">
				<input class="text" type="text" name="address3" {address3_disabled} value="{address3}" size="30" maxlength="255" onchange="uncheckSame();" />
			</div>
		</div><!-- end address3_block --><!-- begin city_block -->
		<div class="field">
			<div class="name">
				{CITY_FIELD} <span class="required">{city_required}</span>
			</div>
			<div class="control">
				<input class="text" type="text" name="city" {city_disabled} value="{city}" size="30" maxlength="128" onchange="uncheckSame();" />
			</div>
		</div><!-- end city_block --><!-- begin zip_block -->
		<div class="field">
			<div class="name">
				{ZIP_FIELD} <span class="required">{zip_required}</span>
			</div>
			<div class="control">
				<input class="text" type="text" name="zip" {zip_disabled} value="{zip}" size="10" maxlength="16" onchange="uncheckSame(); " />
			</div>
		</div>
		<!-- end zip_block --><!-- begin phone_block -->
		<div class="field">
			<div class="name">
				{PHONE_FIELD} <span class="required">{phone_required}</span>
			</div>
			<div class="control">
				<!-- begin phone_code_block -->
				<select class="text" name="phone_code" {phone_code_disabled}><!-- begin phone_code -->
					<option {phone_code_selected} value="{phone_code_value}">{phone_code_description}</option><!-- end phone_code -->
				</select>
				<!-- end phone_code_block -->
				<input class="text" type="text" name="phone" {phone_disabled}  value="{phone}" size="30" maxlength="32" onchange="uncheckSame();" />
			</div>
		</div>
		<!-- end phone_block --><!-- begin daytime_phone_block -->
		<div class="field">
			<div class="name">
				{DAYTIME_PHONE_FIELD} <span class="required">{daytime_phone_required}</span>
			</div>
			<div class="control">
				<!-- begin daytime_phone_code_block -->
				<select class="text" name="daytime_phone_code" {daytime_phone_code_disabled} ><!-- begin daytime_phone_code -->
					<option {daytime_phone_code_selected} value="{daytime_phone_code_value}">{daytime_phone_code_description}</option><!-- end daytime_phone_code -->
				</select>
				<!-- end daytime_phone_code_block -->
				<input class="text" type="text" name="daytime_phone" {daytime_phone_disabled} value="{daytime_phone}" size="30" maxlength="32" onchange="uncheckSame();" />
			</div>
		</div>
		<!-- end daytime_phone_block --><!-- begin evening_phone_block -->
		<div class="field">
			<div class="name">
				{EVENING_PHONE_FIELD} <span class="required">{evening_phone_required}</span>
			</div>
			<div class="control">
				<!-- begin evening_phone_code_block -->
				<select class="text" name="evening_phone_code" {evening_phone_code_disabled}><!-- begin evening_phone_code -->
					<option {evening_phone_code_selected} value="{evening_phone_code_value}">{evening_phone_code_description}</option><!-- end evening_phone_code -->
				</select>
				<!-- end evening_phone_code_block -->
				<input class="text" type="text" name="evening_phone" {evening_phone_disabled} value="{evening_phone}" size="30" maxlength="32" onchange="uncheckSame();" />
			</div>
		</div>
		<!-- end evening_phone_block --><!-- begin cell_phone_block -->
		<div class="field">
			<div class="name">
				{CELL_PHONE_FIELD} <span class="required">{cell_phone_required}</span>
			</div>
			<div class="control">
				<!-- begin cell_phone_code_block -->
				<select class="text" name="cell_phone_code" {cell_phone_code_disabled}><!-- begin cell_phone_code -->
					<option {cell_phone_code_selected} value="{cell_phone_code_value}">{cell_phone_code_description}</option><!-- end cell_phone_code -->
				</select>
				<!-- end cell_phone_code_block -->
				<input class="text" type="text" name="cell_phone" {cell_phone_disabled} value="{cell_phone}" size="30" maxlength="32" onchange="uncheckSame();" />
			</div>
		</div><!-- end cell_phone_block --><!-- begin fax_block -->
		<div class="field">
			<div class="name">
				{FAX_FIELD} <span class="required">{fax_required}</span>
			</div>
			<div class="control">
				<!-- begin fax_code_block -->
				<select class="text" name="fax_code" {fax_code_disabled}><!-- begin fax_code -->
					<option {fax_code_selected} value="{fax_code_value}">{fax_code_description}</option><!-- end fax_code -->
				</select>
				<!-- end fax_code_block -->
				<input class="text" type="text" name="fax" {fax_disabled} value="{fax}" size="30" maxlength="32" onchange="uncheckSame();" />
			</div>
		</div><!-- end fax_block --><!-- begin personal_properties -->
		<div id="op_block_{property_id}" class="field {property_class}" style="{property_style}">
			<div class="name">
				{property_name} <span class="required">{property_required}</span>
			</div>
			<div class="control">
				{property_control}
			</div>
		</div><!-- end personal_properties -->
	</div><!-- end personal -->

	<!-- begin delivery -->
	<div class="delivery-data">
		<div class="data-title bg-title br-solid">
			{DELIVERY_DETAILS_MSG}
			<!-- begin same_as_personal_block -->
			<div class="data-info"><label>{SAME_DETAILS_MSG} <input type="checkbox" name="same_as_personal" {same_as_personal} value="1" onclick="checkSame();" /></label></div>
			<!-- end same_as_personal_block -->
		</div>
		<!-- begin delivery_select_address -->
		<div class="field">
			<div class="name">
			</div>
			<div class="control">
				<a href="#" onClick="addressWindow('{user_address_select_href}?select_type=2'); return false;">{SELECT_ADDRESS_MSG}</a>
			</div>
		</div><!-- end delivery_select_address --><!-- begin delivery_name_block -->
		<div class="field">
			<div class="name">
				{FULL_NAME_FIELD} <span class="required">{delivery_name_required}</span>
			</div>
			<div class="control">
				<input class="text" type="text" name="delivery_name" {delivery_name_disabled} value="{delivery_name}" size="30" maxlength="128" onchange="uncheckSame();" />
			</div>
		</div><!-- end delivery_name_block --><!-- begin delivery_first_name_block -->
		<div class="field">
			<div class="name">
				{FIRST_NAME_FIELD} <span class="required">{delivery_first_name_required}</span>
			</div>
			<div class="control">
				<input class="text" type="text" name="delivery_first_name" {delivery_first_name_disabled} value="{delivery_first_name}" size="30" maxlength="64" onchange="uncheckSame();" />
			</div>
		</div><!-- end delivery_first_name_block --><!-- begin delivery_middle_name_block -->
		<div class="field">
			<div class="name">
				{MIDDLE_NAME_FIELD} <span class="required">{delivery_middle_name_required}</span>
			</div>
			<div class="control">
				<input class="text" type="text" name="delivery_middle_name" {delivery_middle_name_disabled} value="{delivery_middle_name}" size="30" maxlength="64" onchange="uncheckSame();" />
			</div>
		</div><!-- end delivery_middle_name_block --><!-- begin delivery_last_name_block -->
		<div class="field">
			<div class="name">
				{LAST_NAME_FIELD} <span class="required">{delivery_last_name_required}</span>
			</div>
			<div class="control">
				<input class="text" type="text" name="delivery_last_name" {delivery_last_name_disabled} value="{delivery_last_name}" size="30" maxlength="64" onchange="uncheckSame();" />
			</div>
		</div><!-- end delivery_last_name_block --><!-- begin delivery_company_id_block -->
		<div class="field">
			<div class="name">
				{COMPANY_SELECT_FIELD} <span class="required">{delivery_company_id_required}</span>
			</div>
			<div class="control">
				<select class="text" name="delivery_company_id" {delivery_company_id_disabled} onchange="uncheckSame();"><!-- begin delivery_company_id -->
					<option {delivery_company_id_selected} value="{delivery_company_id_value}">{delivery_company_id_description}</option><!-- end delivery_company_id -->
				</select>
			</div>
		</div><!-- end delivery_company_id_block --><!-- begin delivery_company_name_block -->
		<div class="field">
			<div class="name">
				{COMPANY_NAME_FIELD} <span class="required">{delivery_company_name_required}</span>
			</div>
			<div class="control">
				<input class="text" type="text" name="delivery_company_name" {delivery_company_disabled} value="{delivery_company_name}" size="30" maxlength="128" onchange="uncheckSame();" />
			</div>
		</div><!-- end delivery_company_name_block --><!-- begin delivery_email_block -->
		<div class="field">
			<div class="name">
				{EMAIL_FIELD} <span class="required">{delivery_email_required}</span>
			</div>
			<div class="control">
				<input class="text" type="text" name="delivery_email" {delivery_email_disabled} value="{delivery_email}" size="30" maxlength="128" onchange="uncheckSame();" />
			</div>
		</div><!-- end delivery_email_block --><!-- begin delivery_country_id_block -->
		<div class="field delivery-country">
			<div class="name">
				{COUNTRY_FIELD} <span class="required">{delivery_country_id_required}</span>
			</div>
			<div class="control">
				<select class="text field-control" name="delivery_country_id" {delivery_country_id_disabled} onchange="uncheckSame();updateStates('{pb_id}', 'delivery'); "><!-- begin delivery_country_id -->
					<option {delivery_country_id_selected} value="{delivery_country_id_value}">{delivery_country_id_description}</option><!-- end delivery_country_id -->
				</select>
			</div>
		</div><!-- end delivery_country_id_block --><!-- begin delivery_state_id_block -->
		<div class="field delivery-state">
			<div class="name">
				<span class="field-name">{STATE_FIELD}</span> <span style="{delivery_state_id_required_style}" class="required field-required">{delivery_state_id_required}</span>
			</div>
			<div class="control">
				<select class="text field-control" style="{delivery_state_id_control_style}" name="delivery_state_id" {delivery_state_id_disabled} onchange="uncheckSame(); "><!-- begin delivery_state_id -->
					<option {delivery_state_id_selected} value="{delivery_state_id_value}">{delivery_state_id_description}</option><!-- end delivery_state_id -->
				</select>
				<span class="field-comments" style="{delivery_state_id_comments_style}">{delivery_state_id_comments}</span>
			</div>
		</div><!-- end delivery_state_id_block --><!-- begin delivery_province_block -->
		<div class="field delivery-province">
			<div class="name">
				{PROVINCE_FIELD} <span class="required">{delivery_province_required}</span>
			</div>
			<div class="control">
				<input class="text" type="text" name="delivery_province" {delivery_province_disabled} value="{delivery_province}" size="30" maxlength="128" onchange="uncheckSame();" />
			</div>
		</div><!-- end delivery_province_block --><!-- begin delivery_address1_block -->
		<div class="field">
			<div class="name">
				{STREET_FIRST_FIELD} <span class="required">{delivery_address1_required}</span>
			</div>
			<div class="control">
				<input class="text" type="text" name="delivery_address1" {delivery_address1_disabled} value="{delivery_address1}" size="30" maxlength="255" onchange="uncheckSame();" />
			</div>
		</div><!-- end delivery_address1_block --><!-- begin delivery_address2_block -->
		<div class="field">
			<div class="name">
				{STREET_SECOND_FIELD} <span class="required">{delivery_address2_required}</span>
			</div>
			<div class="control">
				<input class="text" type="text" name="delivery_address2" {delivery_address2_disabled} value="{delivery_address2}" size="30" maxlength="255" onchange="uncheckSame();" />
			</div>
		</div><!-- end delivery_address2_block --><!-- begin delivery_address3_block -->
		<div class="field">
			<div class="name">
				{STREET_THIRD_FIELD} <span class="required">{delivery_address3_required}</span>
			</div>
			<div class="control">
				<input class="text" type="text" name="delivery_address3" {delivery_address3_disabled} value="{delivery_address3}" size="30" maxlength="255" onchange="uncheckSame();" />
			</div>
		</div><!-- end delivery_address3_block --><!-- begin delivery_city_block -->
		<div class="field">
			<div class="name">
				{CITY_FIELD} <span class="required">{delivery_city_required}</span>
			</div>
			<div class="control">
				<input class="text" type="text" name="delivery_city" {delivery_city_disabled} value="{delivery_city}" size="30" maxlength="128" onchange="uncheckSame();" />
			</div>
		</div><!-- end delivery_city_block --><!-- begin delivery_zip_block -->
		<div class="field">
			<div class="name">
				{ZIP_FIELD} <span class="required">{delivery_zip_required}</span>
			</div>
			<div class="control">
				<input class="text" type="text" name="delivery_zip" {delivery_zip_disabled} value="{delivery_zip}" size="10" maxlength="16" onchange="uncheckSame(); " />
			</div>
		</div><!-- end delivery_zip_block --><!-- begin delivery_phone_block -->
		<div class="field">
			<div class="name">
				{PHONE_FIELD} <span class="required">{delivery_phone_required}</span>
			</div>
			<div class="control">
				<!-- begin delivery_phone_code_block -->
				<select class="text" name="delivery_phone_code" {delivery_phone_code_disabled}><!-- begin delivery_phone_code -->
					<option {delivery_phone_code_selected} value="{delivery_phone_code_value}">{delivery_phone_code_description}</option><!-- end delivery_phone_code -->
				</select>
				<!-- end delivery_phone_code_block -->
				<input class="text" type="text" name="delivery_phone" {delivery_phone_disabled} value="{delivery_phone}" size="30" maxlength="32" onchange="uncheckSame();" />
			</div>
		</div><!-- end delivery_phone_block --><!-- begin delivery_daytime_phone_block -->
		<div class="field">
			<div class="name">
				{DAYTIME_PHONE_FIELD} <span class="required">{delivery_daytime_phone_required}</span>
			</div>
			<div class="control">
				<!-- begin delivery_daytime_phone_code_block -->
				<select class="text" name="delivery_daytime_phone_code" {delivery_daytime_phone_code_disabled}><!-- begin delivery_daytime_phone_code -->
					<option {delivery_daytime_phone_code_selected} value="{delivery_daytime_phone_code_value}">{delivery_daytime_phone_code_description}</option><!-- end delivery_daytime_phone_code -->
				</select>
				<!-- end delivery_daytime_phone_code_block -->
				<input class="text" type="text" name="delivery_daytime_phone" {delivery_daytime_phone_disabled} value="{delivery_daytime_phone}" size="30" maxlength="32" onchange="uncheckSame();" />
			</div>
		</div><!-- end delivery_daytime_phone_block --><!-- begin delivery_evening_phone_block -->
		<div class="field">
			<div class="name">
				{EVENING_PHONE_FIELD} <span class="required">{delivery_evening_phone_required}</span>
			</div>
			<div class="control">
				<!-- begin delivery_evening_phone_code_block -->
				<select class="text" name="delivery_evening_phone_code" {delivery_evening_phone_code_disabled}><!-- begin delivery_evening_phone_code -->
					<option {delivery_evening_phone_code_selected} value="{delivery_evening_phone_code_value}">{delivery_evening_phone_code_description}</option><!-- end delivery_evening_phone_code -->
				</select>
				<!-- end delivery_evening_phone_code_block -->
				<input class="text" type="text" name="delivery_evening_phone" {delivery_evening_phone_disabled} value="{delivery_evening_phone}" size="30" maxlength="32" onchange="uncheckSame();" />
			</div>
		</div><!-- end delivery_evening_phone_block --><!-- begin delivery_cell_phone_block -->
		<div class="field">
			<div class="name">
				{CELL_PHONE_FIELD} <span class="required">{delivery_cell_phone_required}</span>
			</div>
			<div class="control">
				<!-- begin delivery_cell_phone_code_block -->
				<select class="text" name="delivery_cell_phone_code" {delivery_cell_phone_code_disabled}><!-- begin delivery_cell_phone_code -->
					<option {delivery_cell_phone_code_selected} value="{delivery_cell_phone_code_value}">{delivery_cell_phone_code_description}</option><!-- end delivery_cell_phone_code -->
				</select>
				<!-- end delivery_cell_phone_code_block -->
				<input class="text" type="text" name="delivery_cell_phone" {delivery_cell_phone_disabled} value="{delivery_cell_phone}" size="30" maxlength="32" onchange="uncheckSame();" />
			</div>
		</div><!-- end delivery_cell_phone_block --><!-- begin delivery_fax_block -->
		<div class="field">
			<div class="name">
				{FAX_FIELD} <span class="required">{delivery_fax_required}</span>
			</div>
			<div class="control">
				<!-- begin delivery_fax_code_block -->
				<select class="text" name="delivery_fax_code" {delivery_fax_code_disabled><!-- begin delivery_fax_code -->
					<option {delivery_fax_code_selected} value="{delivery_fax_code_value}">{delivery_fax_code_description}</option><!-- end delivery_fax_code -->
				</select>
				<!-- end delivery_fax_code_block -->
				<input class="text" type="text" name="delivery_fax" {delivery_fax_disabled} value="{delivery_fax}" size="30" maxlength="32" onchange="uncheckSame();" />
			</div>
		</div><!-- end delivery_fax_block --><!-- begin delivery_properties -->
		<div id="op_block_{property_id}" class="field {property_class}" style="{property_style}">
			<div class="name">
				{property_name} <span class="required">{property_required}</span>
			</div>
			<div class="control">
				{property_control}
			</div>
		</div><!-- end delivery_properties -->
	</div><!-- end delivery -->

	<div class="clear"></div>

	<!-- begin subscribe_block -->
	<div class="field-subscribe">
		<label><input type="checkbox" name="subscribe" {subscribe} value="1" /> {SUBSCRIBE_CHECKBOX_MSG}</label>
	</div>
	<!-- end subscribe_block -->

	</div>
	<div class="sub-foot" id="userFooter">
		<div class="foot-content">
			<div class="step-continue" id="userContinue">
				<input id="userButton" class="continue" type="button" value="{button_name}" onclick="nextCheckoutStep('{step_name}', '{next_step}');" />
			</div>
			<div class="step-summary" id="userSummary">
				{CART_TOTAL_MSG}: <span class="step-total" id="userTotal">{step_user_total}</span>
			</div>
			<div class="clear"></div>
		</div>
	</div>

</div>
<!-- end personal information block -->
<!-- end user_block -->

<!-- begin shipping_block -->
<div class="{step_class}" id="shippingStep">
<input type="hidden" name="shipping_fields" value="{shipping_fields}" />

	<div class="sub-head" id="shippingTitle">
		<div class="step-link" onclick="{step_link_onclick}" id="shippingLink">{step_number}. {SHIPPING_METHOD_MSG}</div>
	</div>

	<div id="shippingErrors" class="{errors_class}" align="center">{errors_list}</div>

	<div class="sub-body">

		<div class="shipping">
			<!-- begin no_shipping -->
			<div class="no-shipping">{NO_DELIVERY_FOR_ADDRESS_MSG}</div>
			<!-- end no_shipping -->
			<!-- begin shipping_intro_block -->
			<div class="shipping-intro">{shipping_intro}</div>
			<!-- end shipping_intro_block -->
			<!-- begin shipping_groups -->
			<div class="shipping-group">
				<div class="group-name bg-title">
					{group_name}
				</div>
				<div class="group-methods">
					<input type="hidden" name="shipping_control_{index}" value="{shipping_control}" />
					<input type="hidden" name="shipping_methods_{index}" value="{shipping_methods}" />

					<!-- begin shipping_single -->
					<div class="shipping-method shipping-single"><span class="shipping-desc">{shipping_type_desc}</span> <span class="shipping-cost">{shipping_cost_desc}</span></div>
					<input type="hidden" data-module-id="{shipping_module_id}" name="shipping_type_id_{index}" value="{shipping_type_id}" />
					<!-- end shipping_single -->
					<!-- begin shipping_radio -->
					<div class="shipping-method shipping-radio">
						<label>
							<span class="shipping-desc">{shipping_type_desc}</span> 
							<span class="shipping-cost">{shipping_cost_desc}</span>&nbsp;
							<!-- begin shipping_image --><span class="shipping-image"><img src="{src}" alt="{alt}" title="{title}" /></span><!-- end shipping_image -->
							<span class="shipping-control"><input type="radio" onclick="changeShipping()" data-module-id="{shipping_module_id}" name="shipping_type_id_{index}" {shipping_type_checked} value="{shipping_type_id}" /></span>
						</label>
					</div>
					<!-- end shipping_radio -->
		    
					<!-- begin shipping_list -->
					<div class="shipping-method shipping-select">
						<select id="shipping_type_id_{index}" name="shipping_type_id_{index}" onchange="changeShippingList()">
							<option selected value="">{SELECT_SHIPPING_METHOD_MSG}</option><!-- begin shipping_option -->
							<option {shipping_type_selected} data-module-id="{shipping_module_id}" value="{shipping_type_id}">{shipping_type_desc}&nbsp;({shipping_cost_desc})&nbsp;</option><!-- end shipping_option -->
						</select>
					</div>
					<!-- end shipping_list -->

					<!-- begin shipping_points_block -->
					<div class="points-pay"><label><i></i><span class="caption">{SHIPPING_PAY_POINTS_MSG}</span> <input type="checkbox" name="shipping_pay_points_{index}" {shipping_pay_points_checked} value="1" onclick="changeShipping();"></label></div><!-- end shipping_points_block -->

				</div>
			</div><!-- end shipping_groups -->
			<!-- begin shipping_properties -->
			<div class="property {property_class}" id="op_{property_id}" style="{op_style}{property_style}">
				<div class="before"></div>
				<div class="control">
					{property_control}
				</div>
				<div class="name">
					{property_name} <span class="required">{property_required}</span>
				</div>
				<div class="after"></div>
			</div><!-- end shipping_properties -->
		</div>

	</div>
	<div class="sub-foot" id="shippingFooter">
		<div class="foot-content">
			<div class="step-continue" id="shippingContinue">
				<input id="shippingButton" class="continue" type="button" value="{button_name}" onclick="nextCheckoutStep('{step_name}', '{next_step}');" />
			</div>
			<div class="step-summary" id="shippingSummary">
				{CART_TOTAL_MSG}: <span class="step-total" id="shippingTotal">{step_shipping_total}</span>
			</div>
			<div class="clear"></div>
		</div>
	</div>

</div>
<!-- end shipping methods selection -->
<!-- end shipping_block -->

<!-- begin payment_block -->
<div class="{step_class}" id="paymentStep">

	<div class="sub-head" id="paymentTitle">
		<div class="step-link" onclick="{step_link_onclick}" id="paymentLink">{step_number}. {PAYMENT_DETAILS_MSG}</div>
		<input type="hidden" name="payment_data" value="{payment_data}"/>
	</div>

	<div id="paymentErrors" class="{errors_class}" align="center">{errors_list}</div>

	<div class="sub-body">

	<div class="payment-data">

		<!-- begin credit_amount_block -->
		<div class="field">
			<div class="name">
				{CREDIT_AMOUNT_MSG}
			</div>
			<div class="control">
				<input type="text" size="10" name="credit_amount" value="{credit_amount}"/>
			</div>
		</div><!-- end credit_amount_block -->
		<!-- begin partial_payment_block -->
		<div class="field fd-partial-payment">
			<div class="name">
				{PARTIAL_PAYMENT_MSG}
			</div>
			<div class="control">
				<!-- BEGIN payment_percentage -->
				<input type="radio" name="payment_percentage" id="payment_percentage{payment_percentage_value}" {payment_percentage_checked} value="{payment_percentage_value}" oninput="calculateOrder();">
				<label for="payment_percentage{payment_percentage_value}">{payment_percentage_description}</label><!-- END payment_percentage -->
			</div>
		</div><!-- end partial_payment_block -->
		<!-- begin already_paid_block -->
		<div class="field fd-already-paid">
			<div class="name">
				{AMOUNT_ALREADY_PAID_MSG}
				<input class="hidden" name="already_paid" value="{already_paid}" />
			</div>
			<div class="control">
				<span class="fd-value">{already_paid_desc}</span>
			</div>
		</div><!-- end already_paid_block -->
		<div class="field fd-payment-amount">
			<div class="name">
				{AMOUNT_TO_PAY_MSG}
				<input class="hidden" name="payment_amount" value="{payment_amount}" />
			</div>
			<div class="control">
				<span class="fd-value">{payment_amount_desc}</span>
			</div>
		</div><!-- begin payment_gateway_single -->
		<div class="field">
			<div class="name">
				{PAYMENT_GATEWAY_MSG}
			</div>
			<div class="control">
				<span id="ps_name_{payment_hidden_id}">{payment_name}</span>
				<input type="hidden" name="payment_id" value="{payment_hidden_id}">
			</div>
		</div><!-- end payment_gateway_single --><!-- begin payment_gateways_select -->
		<div class="field">
			<div class="name">
				{PAYMENT_GATEWAY_MSG} &nbsp;<span class="required">*</span>
			</div>
			<div class="control">
				<select class="text" name="payment_id" onchange="changePayment();"><!-- begin payment_select_id -->
					<option {payment_select_id_selected} {payment_select_id_disabled} value="{payment_select_id_value}" id="ps_name_{payment_select_id_value}">{payment_select_id_description}</option><!-- end payment_select_id -->
				</select>
			</div>
		</div><!-- end payment_gateways_select --><!-- begin payment_gateways_radio -->
		<div class="field">
			<div class="name">
				{PAYMENT_GATEWAY_MSG}&nbsp;<span class="required">*</span>
			</div>
			<div class="control">
				<table cellpadding="2" cellspacing="0"><!-- begin payment_radio_id -->
				<tr><!-- begin image_option -->
					<td align="right">
						<label for="payment_id_{payment_radio_id_value}"><img src="{src_image}" alt="{alt_image}" title="{alt_image}" /></label>
					</td><!-- end image_option -->
					<td>
						<input type="radio" onclick="changePayment();" id="payment_id_{payment_radio_id_value}" name="payment_id" {payment_radio_id_checked} {payment_radio_id_disabled} value="{payment_radio_id_value}" />
						<label for="payment_id_{payment_radio_id_value}" id="ps_name_{payment_radio_id_value}">{payment_radio_id_description}</label>&nbsp;
					</td>
				</tr><!-- end payment_radio_id -->
				</table>
			</div>
		</div><!-- end payment_gateways_radio -->

		<div class="field fd-payment-info" id="payment_info" style="{payment_info_style}">
			<div class="name">
				{PAYMENT_INFO_MSG}
			</div>
			<div class="control">
				{payment_info}
			</div>
		</div>
		<div class="field" id="cc_name" style="{cc_name_style}">
			<div class="name">
				{CC_NAME_FIELD}&nbsp;<span id="cc_name_required" class="required" style="{cc_name_required_style}">*</span>
				<div class="smallText">({CC_NAME_DESC})</div>
			</div>
			<div class="control">
				<input class="text" type="text" name="cc_name" size="30" value="{cc_name}" />
			</div>
		</div>
		<div class="field" id="cc_first_name" style="{cc_first_name_style}">
			<div class="name">
				{CC_FIRST_NAME_FIELD}&nbsp;<span id="cc_first_name_required" class="required" style="{cc_first_name_required_style}">*</span>
			</div>
			<div class="control">
				<input class="text" type="text" name="cc_first_name" size="30" value="{cc_first_name}" />
			</div>
		</div>
		<div class="field" id="cc_last_name" style="{cc_last_name_style}">
			<div class="name">
				{CC_LAST_NAME_FIELD}&nbsp;<span id="cc_last_name_required" class="required" style="{cc_last_name_required_style}">*</span>
			</div>
			<div class="control">
				<input class="text" type="text" name="cc_last_name" size="30" value="{cc_last_name}" />
			</div>
		</div>
		<div class="field" id="cc_number" style="{cc_number_style}">
			<div class="name">
				{CC_NUMBER_FIELD}&nbsp;<span id="cc_number_required" class="required" style="{cc_number_required_style}">*</span>
			</div>
			<div class="control">
				<input class="text" type="text" name="cc_number" size="30" value="{cc_number}" />
			</div>
		</div>
		<div class="field" id="cc_start_date" style="{cc_start_date_style}">
			<div class="name">
				{CC_START_DATE_FIELD}&nbsp;<span id="cc_start_date_required" class="required" style="{cc_start_date_required_style}">*</span>
			</div>
			<div class="control">
				<select class="text" name="cc_start_month"><!-- begin cc_start_month -->
					<option {cc_start_month_selected} value="{cc_start_month_value}">{cc_start_month_description}</option><!-- end cc_start_month -->
				</select>
	    
				<select class="text" name="cc_start_year"><!-- begin cc_start_year -->
					<option {cc_start_year_selected} value="{cc_start_year_value}">{cc_start_year_description}</option><!-- end cc_start_year -->
				</select>
			</div>
		</div>
		<div class="field" id="cc_expiry_date" style="{cc_expiry_date_style}">
			<div class="name">
				{CC_EXPIRY_DATE_FIELD}&nbsp;<span id="cc_expiry_date_required" class="required" style="{cc_expiry_date_required_style}">*</span>
			</div>
			<div class="control">
				<select class="text" name="cc_expiry_month"><!-- begin cc_expiry_month -->
					<option {cc_expiry_month_selected} value="{cc_expiry_month_value}">{cc_expiry_month_description}</option><!-- end cc_expiry_month -->
				</select>
	    
				<select class="text" name="cc_expiry_year"><!-- begin cc_expiry_year -->
					<option {cc_expiry_year_selected} value="{cc_expiry_year_value}">{cc_expiry_year_description}</option><!-- end cc_expiry_year -->
				</select>
			</div>
		</div>
		<div class="field" id="cc_type" style="{cc_type_style}">
			<div class="name">
				{CC_TYPE_FIELD}&nbsp;<span id="cc_type_required" class="required" style="{cc_type_required_style}">*</span>
			</div>
			<div class="control">
				<select class="text" name="cc_type"><!-- begin cc_type -->
					<option {cc_type_selected} value="{cc_type_value}">{cc_type_description}</option><!-- end cc_type -->
				</select>
			</div>
		</div>
		<div class="field" id="cc_issue_number" style="{cc_issue_number_style}">
			<div class="name">
				{CC_ISSUE_NUMBER_FIELD}&nbsp;<span id="cc_issue_number_required" class="required" style="{cc_issue_number_required_style}">*</span>
			</div>
			<div class="control">
				<select class="text" name="cc_issue_number" width="20"><!-- begin cc_issue_number -->
						<option {cc_issue_number_selected} value="{cc_issue_number_value}">{cc_issue_number_description}</option><!-- end cc_issue_number -->
				</select>
				&nbsp;
				({CC_ISSUE_NUMBER_DESC})
			</div>
		</div>
		<div class="field" id="cc_security_code" style="{cc_security_code_style}">
			<div class="name">
				{CC_SECURITY_CODE_FIELD}&nbsp;<span id="cc_security_code_required" class="required" style="{cc_security_code_required_style}">*</span>
			</div>
			<div class="control">
				<input class="text" type=text name="cc_security_code" width="10" value="{cc_security_code}" /> 
				<a href="{cc_security_code_help_href}" target="_blank" 
					onclick="window.open('{cc_security_code_help_href}', 'cc_security_code_help', 'width=425,height=300,location=no,menubar=no,status=no,toolbar=no');return false;" 
					class="tocreverse">{CC_SECURITY_CODE_HELP_MSG}</a>
			</div>
		</div><!-- begin payment_properties -->
		<div class="field {property_class}" id="op_{property_id}" style="{op_style}{property_style}">
			<div class="name">
				{property_name} <span class="required">{property_required}</span>
			</div>
			<div class="control">
				{property_control}
			</div>
		</div><!-- end payment_properties -->
	</div>

	</div>


	<div class="sub-foot" id="paymentFooter">
		<div class="foot-content">
			<div class="step-continue" id="paymentContinue">
				<input id="paymentButton" class="continue" type="button" value="{button_name}" onclick="nextCheckoutStep('{step_name}', '{next_step}');" />
			</div>
			<div class="step-summary" id="paymentSummary">
				{CART_TOTAL_MSG}: <span class="step-total" id="paymentTotal">{order_total_desc}</span>
			</div>
			<div class="clear"></div>
		</div>
	</div>

</div>
<!-- end delivery payment details -->
<!-- end payment_block -->
<div class="clear"></div>
</form>

<!-- begin payment_form -->
<form class="{form_class}" action="{form_url}" name="{form_name}" method="{form_method}"><!-- begin form_params -->
<input type="hidden" name="{param_name}" value="{param_value}" /><!-- end form_params -->
<!-- begin form_html_block --><div class="form-html">{form_html}</div><!-- end form_html_block -->
</form><!-- end payment_form -->

