		<div class="album-info">
			<!-- begin image_tiny_block -->
			<img class="image img-tiny" src="{image_tiny_src}" alt="{image_tiny_alt}" /><!-- end image_tiny_block -->
			<!-- begin image_small_block -->
			<img class="image img-small" src="{image_small_src}" alt="{image_small_alt}" /><!-- end image_small_block -->
			<!-- begin image_large_block -->
			<img class="image img-large" src="{image_large_src}" alt="{image_large_alt}" /><!-- end image_large_block -->
			<!-- begin image_super_block -->
			<img class="image img-super" src="{image_super_src}" alt="{image_super_alt}" /><!-- end image_super_block -->
		
			<!-- begin short_description_block --><div class="desc desc-short">{short_description}</div><!-- end short_description_block -->
			<!-- begin full_description_block --><div class="desc desc-full">{full_description}</div><!-- end full_description_block -->
			<div class="clear"></div>
		</div>
