		<div class="categories {columns_class}">
		<!-- BEGIN catalog_rows -->
		<!-- BEGIN catalog_top -->
			<div class="col {column_class}">
				<div class="category {category_class}">

					<div class="category-name before-image">
						<a class="link lk-category-name {restricted_class}" href="{list_url}" title="{top_a_title}">{catalog_top_name}</a>
					</div>

					<!-- begin category_image -->
					<div class="category-image">
						<!-- begin image_tiny -->
						<a class="link lk-image-tiny" href="{list_url}" title="{top_a_title}"><img class="image img-tiny" src="{src}" alt="{alt}" /></a><!-- end image_tiny -->
						<!-- begin image_small -->
						<a class="link lk-image-small" href="{list_url}" title="{top_a_title}"><img class="image img-small" src="{src}" alt="{alt}" /></a><!-- end image_small -->
						<!-- begin image_large -->
						<a class="link lk-image-large" href="{list_url}" title="{top_a_title}"><img class="image img-large" src="{src}" alt="{alt}" /></a><!-- end image_large -->
					</div>
					<!-- end category_image -->

					<div class="category-name after-image">
						<a class="link lk-category-name {restricted_class}" href="{list_url}" title="{top_a_title}">{catalog_top_name}</a>
					</div>


					<div class="category-desc">
						<!-- begin short_description -->
						<div class="desc desc-short">{desc_text}</div><!-- end short_description -->
						<!-- begin full_description -->
						<div class="desc desc-full">{desc_text}</div><!-- end full_description -->
					</div>

					<!-- begin catalog_sub -->
					<ul class="category-subs">
						<!-- begin sub_categories -->
						<li><a class="link sub-category {restricted_class}" href="{sub_url}" title="{sub_a_title}">{catalog_sub_name}</a></li><!-- end sub_categories -->
						<!-- begin sub_categories_more -->
						<li><a class="link bn-more" href="{list_url}">{MORE_MSG}</a></li><!-- end sub_categories_more -->
					</ul>
					<!-- end catalog_sub -->

					<div class="clear"></div>

				</div>
			</div><!-- END catalog_top -->
			<!-- END catalog_rows -->
			<div class="clear"></div>
		</div>