	<table width="100%" cellspacing="0" cellpadding="0"><!-- BEGIN profiles_rows -->
	<tr><!-- BEGIN profiles_cols -->
		<td valign="top" width="{item_column}" class="padding10px" align="center">

			<div class="profileName">
				<a class="name" href="{profiles_view_url}">{name}</a>,
				<span class="age">{age}</span>
			</div>

			<!-- begin small_image -->
			<a href="{profiles_view_url}"><img class="profilePhoto" src="{src}" {width} {height} vspace="0" hspace="5" alt="{alt}" /></a>
			<!-- end small_image -->


		</td>
		<!-- END profiles_cols -->
	</tr>
	<!-- END profiles_rows -->
	</table>
