	<table width="100%" cellspacing="0" cellpadding="2"><!-- BEGIN hot_rows -->
	<tr><!-- BEGIN hot_cols -->
		<td align="left" valign="top" width="{hot_column}">
			<div><a class="bigtitle {restricted_class}" href="{details_href}">{hot_item_name}</a></div>
			<div align="justify">
			<!-- begin image_small --><a href="{details_href}"><img src="{src}" {width} {height} alt="{alt}" align="left" /></a><!-- end image_small -->
			{hot_description} &nbsp;<a class="button bn-more" href="{details_href}"><span><b>{READ_MORE_MSG}</b>.</span><img src="images/tr.gif" alt="{READ_MORE_MSG}" /></a>
			</div>
		</td><!-- END hot_cols -->
	</tr><!-- END hot_rows -->
	</table>

	<!-- begin hot_navigator_block -->
	<div align="right">{hot_navigator}</div>
	<!-- end hot_navigator_block -->
