			<table width="100%" cellspacing="0" cellpadding="2">
			<!-- BEGIN special_rows -->
			<tr>
				<!-- BEGIN special_cols -->
				<td align="left" valign="top" width="{special_column}">
					<div><a class="bigtitle {restricted_class}" href="{details_href}">{special_item_name}</a></div>
					<div align="justify">
					<!-- begin image_small --><a href="{details_href}"><img src="{src}" {width} {height}  alt="{alt}" align="left" /></a><!-- end image_small -->
					{special_description} &nbsp;<a class="button bn-more" href="{details_href}"><span><b>{READ_MORE_MSG}</b>.</span><img src="images/tr.gif" alt="{READ_MORE_MSG}" /></a>
					</div>
				</td>
				<!-- END special_cols -->
			</tr>
			<!-- END special_rows -->
			</table>

			<!-- begin special_navigator_block -->
			<table width="100%" cellspacing="0" cellpadding="2">
			<tr><td colspan="2" align="right">&nbsp;{special_navigator}&nbsp;</td></tr>
			</table><!-- end special_navigator_block -->
