	<!-- begin no_item -->
	<div class="padding10px"><div class="errorbg">{NO_ARTICLE_MSG}</div></div>
	<!-- end no_item -->
	<!-- begin item -->
	<table cellspacing="0" width="100%" class="padding6px">
		<tr>	
			<td align="center">
			<!-- BEGIN prev_article --><a class="manualPrev" href="{friendly_url}">{MANUALS_PREV_ARTICLE}</a><!-- END prev_article -->
			</td>
			<td align="center">
			<!-- BEGIN index --><a class="manualIndex" href="{friendly_url}">{MANUAL_CONTENT_MSG}</a><!-- END index -->
			</td>
			<td align="center">
			<!-- BEGIN next_article --><a class="manualNext" href="{friendly_url}">{MANUALS_NEXT_ARTICLE}</a><!-- END next_article -->
			</td>
		</tr>
		<tr>
			<td colspan="3" class="padding10px">{full_description}</td>
		</tr>
		<tr>	
			<td align="center">
			<!-- BEGIN prev_article --><a class="manualPrev" href="{friendly_url}">{MANUALS_PREV_ARTICLE}</a><!-- END prev_article -->
			</td>
			<td align="center">
			<!-- BEGIN index --><a class="manualIndex" href="{friendly_url}">{MANUAL_CONTENT_MSG}</a><!-- END index -->
			</td>
			<td align="center">
			<!-- BEGIN next_article --><a class="manualNext" href="{friendly_url}">{MANUALS_NEXT_ARTICLE}</a><!-- END next_article -->
			</td>
		</tr>
	</table>
	<!-- end item -->