	<div class="banners {slides_class}" data-js="{data_js}" data-pb-id="{pb_id}" data-slider-type="{slider_type}" data-transition-delay="{transition_delay}" data-transition-duration="{transition_duration}" style="{banners_style}">
		<!-- begin banners -->
		<div class="banner" data-slide>
			<!-- begin title_block -->
			<div class="br-title"><a href="{bc_url}" target="{target}">{banner_title}</a></div><!-- end title_block --><!-- begin banner_image -->
			<div class="br-image"><a href="{bc_url}" target="{target}"><img class="banner-image" src="{src}" alt="{alt}" /></a></div><!-- end banner_image -->
			<div class="br-text" onclick="callAjax('{ajax_bc_url}', function(){});">{html_text}</div>
		</div><!-- end banners -->
	</div>