	<table width="100%" cellspacing="0" cellpadding="2"><!-- BEGIN recently_viewed_items -->
	<tr>
		<td class="top">

			<!-- begin top_image --><a href="{details_href}"><img src="{src}" {width} {height} hspace="5" alt="{alt}" align="left" /></a><!-- end top_image -->
	
			<b>{top_position}.</b> <a href="{details_href}">{top_name}</a> <!-- begin top_value_block -->- <b>{top_value}</b> {top_tax_price}<!-- end top_value_block -->

			<!-- begin top_desc --><br />{desc_text}<!-- end top_desc -->

			<!-- begin recent_compare -->
			<div align="right">
				<a class="smallText" href="{compare_href}?operation=add&item_id={item_id}"><b>{COMPARE_MSG}</b></a>
			</div><!-- end recent_compare -->

		</td>
	</tr><!-- END recently_viewed_items --> 
	</table>