	<!-- begin block_head -->
	<i class="ico-home"></i> {block_title}<!-- end block_head -->

		<div class="sections {columns_class}">
		<!-- begin rows -->
		<!-- begin cols -->
			<div class="col {column_class}">

			<div class="section">

				<!-- begin orders_block -->
				<a class="image img-orders" href="{user_orders_href}"></a>
				<div class="content">
					<a class="title" href="{user_orders_href}">{MY_ORDERS_MSG}</a>
					<div>{MY_ORDERS_DESC}</div><!-- begin points_balance_block -->
					<div>{POINTS_BALANCE_MSG}: <b>{points_balance}</b></div><!-- end points_balance_block --><!-- begin credit_balance_block -->
					<div>{CREDIT_BALANCE_MSG}: <b>{credit_balance}</b></div><!-- end credit_balance_block --><!-- begin current_subscription -->
					<div>{CURRENT_SUBSCRIPTION_MSG}: <b>{subscription_name}</b> <b>{subscription_fee}</b> ({subscription_interval} {subscription_period})</div><!-- end current_subscription -->
				</div><!-- end orders_block -->

				<!-- begin details_block -->
				<a class="image img-profile" href="{user_profile_url}"></a>
				<div class="content">
					<a class="title" href="{user_profile_url}">{CHANGE_DETAILS_MSG}</a>
					<div>{CHANGE_DETAILS_DESC}</div>
					<div>{CHANGE_PASSWORD_DESC}</div>
					<div><i class="ico-arrow"></i> <a class="text-small" href="{user_change_password_url}">{CHANGE_PASSWORD_MSG}</a></div><!-- begin upgrade_downgrade_block -->
					<div><i class="ico-arrow"></i> <a class="text-small" href="{user_change_type_url}">{UPGRADE_DOWNGRADE_MSG}</a></div><!-- end upgrade_downgrade_block --><!-- begin edit_pd_block -->
					<div><i class="ico-arrow"></i> <a class="text-small" href="{user_psd_list_url}">{PAYMENT_DETAILS_MSG}</a></div><!-- end edit_pd_block -->
				</div>
				<!-- end details_block -->

				<!-- begin user_addresses_block -->
				<a class="image img-addresses" href="{user_addresses_url}"></a>
				<div class="content">
					<a class="title" href="{user_addresses_url}">{MY_ADDRESS_BOOK_MSG}</a>
					<div>{MY_ADDRESS_BOOK_DESC}</div>
				</div>
				<!-- END user_addresses_block -->

				<!-- begin user_messages_block -->
				<a class="image img-messages" href="{user_messages_url}"></a>
				<div class="content">
					<a class="title" href="{user_messages_url}">{MY_MESSAGES_MSG}</a>
					<div>{MY_MESSAGES_DESC}</div>
				</div>
				<!-- END user_messages_block -->

				<!-- begin support_block -->
				<a class="image img-support" href="{user_support_href}"></a>
				<div class="content">
					<a class="title" href="{user_support_href}">{MY_SUPPORT_ISSUES_MSG}</a>
					<div>{MY_SUPPORT_ISSUES_DESC}</div>
				</div>
				<!-- END support_block -->

				<!-- begin forum_block -->
				<a class="image img-forum" href="{forum_href}?u=1"></a>
				<div class="content">
					<a class="title" href="{forum_href}?u=1">{MY_FORUM_TOPICS_MSG}</a><br />
					<div>{MY_FORUM_TOPICS_DESC}</div>
				</div>
				<!-- END forum_block -->

				<!-- begin products_block -->
				<a class="image img-products" href="{user_products_href}"></a>
				<div class="content">
					<a class="title" href="{user_products_href}">{MY_PRODUCTS_MSG}</a>
					<div>{MY_PRODUCTS_DESC}</div>
				</div>
				<!-- end products_block -->

				<!-- begin product_registrations_block -->
				<a class="image img-products" href="{user_product_registrations_href}"></a>
				<div class="content">
					<a class="title" href="{user_product_registrations_href}">{MY_PRODUCT_REGISTRATIONS_MSG}</a>
					<div>{MY_PRODUCT_REGISTRATIONS_DESC}</div>
				</div>
				<!-- end product_registrations_block-->

				<!-- begin ad_block -->
				<a class="image img-pages" href="{user_ads_href}"></a>
				<div class="content">
					<a class="title" href="{user_ads_href}">{MY_ADS_MSG}</a>
					<div>{MY_ADS_DESC}</div>
				</div>
				<!-- end ad_block -->

				<!-- begin vouchers_block -->
				<a class="image img-vouchers" href="{user_vouchers_href}"></a>
				<div class="content">
					<a class="title" href="{user_vouchers_href}">{MY_VOUCHERS_MSG}</a>
					<div>{MY_VOUCHERS_DESC}</div>
				</div>
				<!-- end vouchers_block -->

				<!-- begin profiles_block -->
				<a class="image img-pages" href="{profiles_user_list_href}"></a>
				<div class="content">
					<a class="title" href="{profiles_user_list_href}">{MY_PROFILES_MSG}</a>
					<div>{MY_PROFILES_DESC}</div>
				</div>
				<!-- end profiles_block -->

				<!-- begin merchant_sales_block -->
				<a class="image img-merchant" href="{user_merchant_sales_href}"></a>
				<div class="content">
					<a class="title" href="{user_merchant_sales_href}">{MERCHANT_SALES_MSG}</a>
					<div>{MERCHANT_SALES_DESC}</div>
				</div>
				<!-- end merchant_sales_block -->

				<!-- begin merchant_orders_block -->
				<a class="image img-sales-orders" href="{user_merchant_orders_href}"></a>
				<div class="content">
					<a class="title" href="{user_merchant_orders_href}">{MY_SALES_ORDERS_MSG}</a>
					<div>{MY_SALES_ORDERS_DESC}</div>
				</div>
				<!-- end merchant_orders_block -->

				<!-- begin affiliate_sales_block -->
				<a class="image img-affiliates" href="{user_affiliate_sales_href}"></a>
				<div class="content">
					<a class="title" href="{user_affiliate_sales_href}">{AFFILIATE_SALES_MSG}</a>
					<div>{AFFILIATE_SALES_DESC}</div>
				</div>
				<!-- end affiliate_sales_block -->

				<!-- begin payments_block -->
				<a class="image img-payments" href="{user_payments_href}"></a>
				<div class="content">
					<a class="title" href="{user_payments_href}">{COMMISSION_PAYMENTS_MSG}</a>
					<div>{COMMISSION_PAYMENTS_DESC}</div>
				</div>
				<!-- end payments_block -->

				<!-- begin carts_block -->
				<a class="image img-carts" href="{user_carts_href}"></a>
				<div class="content">
					<a class="title" href="{user_carts_href}">{MY_SAVED_CARTS_MSG}</a>
					<div>{MY_SAVED_CARTS_DESC}</div>
				</div>
				<!-- end carts_block -->

				<!-- begin wishlist_block -->
				<a class="image img-wishlist" href="{user_wishlist_href}"></a>
				<div class="content">
					<a class="title" href="{user_wishlist_href}">{MY_WISHLIST_MSG}</a>
					<div>{MY_WISHLIST_DESC}</div>
				</div>
				<!-- end wishlist_block -->

				<!-- begin reminders_block -->
				<a class="image img-reminders" href="{user_reminders_href}"></a>
				<div class="content">
					<a class="title" href="{user_reminders_href}">{MY_REMINDERS_MSG}</a>
					<div>{MY_REMINDERS_MSG}</div>
				</div>
				<!-- end reminders_block -->

				<!-- begin playlists_block -->
				<a class="image img-playlists" href="{user_playlists_href}"></a>
				<div class="content">
					<a class="title" href="{user_playlists_href}">{MY_PLAYLISTS_MSG}</a>
					<div>{MY_PLAYLISTS_DESC}</div>
				</div>
				<!-- end playlists_block -->


			</div>
			</div>
		<!-- end cols -->
		<!-- end rows -->
		</div>

		<div class="user-logout">
			<a href="user_home.php?operation=logout">{LOGOUT_BUTTON}</a>
		</div>

		<div class="clear"></div>