<table width="100%" cellspacing="0" cellpadding="0">
<!-- begin search_and_navigation -->
<tr class="middlebg"> 
	<td valign="top">

		<table width="100%" cellspacing="2" cellpadding="3">
		<tr>
			<!-- begin search_results --><td>&nbsp;&nbsp;&nbsp;&nbsp;{FOUND_ADS_MSG}</td><!-- end search_results -->
			<!-- begin navigator_block --><td align="right" nowrap="nowrap">&nbsp;{navigator}&nbsp;</td><!-- end navigator_block -->
		</tr>
		</table>

	</td>
</tr>
<!-- end search_and_navigation -->
<tr class="usualbg"> 
	<td valign="top">

			<!-- begin no_items -->
			<table width="100%" cellspacing="0" cellpadding="0">
			<tr><td align="center" class="padding10px">{NO_ADS_MSG}</td></tr>
			</table>
			<!-- end no_items -->

			<table width="100%" cellspacing="0" cellpadding="0">
			<!-- BEGIN items_rows -->
			<tr>
				<!-- BEGIN items_cols -->
				<td valign="top" width="{item_column}" class="padding10px">
					<a name="p{form_id}"></a>
					<form name="form_{form_id}" method="post" action="{ads_href}#p{form_id}">
					<table cellspacing="0" cellpadding="3" width="100%">
					<tr>
						<td colspan="3">
							<a class="bigtitle {restricted_class}" href="{ads_details_url}">{item_title}</a>
							<!-- begin found_in_category -->
							<div class="found-in">{FOUND_IN_MSG}: <!-- BEGIN found_categories -->
							<a class="found-in {restricted_cat_class}" href="{ads_href}?category_id={ic_id}">{item_category}</a>{ic_separator} <!-- END found_categories -->	
							</div><!-- end found_in_category -->
						</td>
					</tr>
					<tr>
						<td align="left" width="20%" valign="top">
							<!-- begin small_image --><a href="{ads_details_url}"><img src="{src}" {width} {height} vspace="0" hspace="5" alt="{alt}" /></a><!-- end small_image -->
							<!-- begin compare -->
							<div align="center">
								<a href="{compare_href}?operation=add&item_id={item_id}"><b>{COMPARE_MSG}</b></a>
							</div>
							<!-- end compare -->
						</td>
						<td align="left" width="30%" valign="top">
							<div>
							<b>{TYPE_MSG}</b>:&nbsp;{type_name}<br />	
							<b>{PRICE_MSG}</b>:&nbsp;<font class="ourprice">{price}</font><br />	
							<!-- begin user_block --><b>{AD_SELLER_MSG}</b>:&nbsp;{user_name}<br /><!-- end user_block -->	
							<!-- begin quantity_block --><b>{AD_QTY_MSG}</b>:&nbsp;<font class="smallText">{quantity}</font><br /><!-- end quantity_block -->	
							<!-- begin availability_block --><b>{AD_AVAILABILITY_MSG}</b>:&nbsp;<font class="smallText">{availability}</font><br /><!-- end availability_block -->	
							</div>
						</td>
						<td align="left" width="50%" valign="top">
							<!-- begin properties --><div class="smallText"><b>{property_name}</b>: {property_value}</div><!-- end properties -->&nbsp;
						</td>
					</tr>
					<!-- begin description -->
					<tr>
						<td colspan="3"><p>{short_description}</p></td>
					</tr>
					<!-- end description -->
					</table>
					</form>

				</td>
				<!-- END items_cols -->
			</tr>
			<!-- END items_rows -->
			</table>

	</td>
</tr>
<!-- begin search_and_navigation -->
<tr class="middlebg"> 
	<td valign="top">

		<table width="100%" cellspacing="2" cellpadding="3">
		<tr>
			<!-- begin search_results --><td>&nbsp;&nbsp;&nbsp;&nbsp;{FOUND_ADS_MSG}</td><!-- end search_results -->
			<!-- begin navigator_block --><td align="right" nowrap="nowrap">&nbsp;{navigator}&nbsp;</td><!-- end navigator_block -->
		</tr>
		</table>

	</td>
</tr>
<!-- end search_and_navigation -->
</table>

<form name="forms_names" action="{compare_href}"><!-- begin forms -->
<input type="hidden" name="form_name" value="form_{form_id}" /><!-- end forms -->
</form>