	<div class="slides {slides_class}" data-js="{data_js}" data-pb-id="{pb_id}" data-slider-type="{slider_type}" data-transition-delay="{transition_delay}" data-transition-duration="{transition_duration}" data-scale-off="{scale_off}" data-slide-indent="{slide_indent}" data-visible-slides="{visible_slides}" style="{slides_style}">

			<!-- begin rows --><!-- BEGIN cols -->
			<div class="slide {slide_class}" data-slide style="{slide_style}"><!-- begin slider_image_link -->
				<a class="slide-link sl-image" href="{slider_link}"><img class="slide-image" src="{src}" alt="{alt}" /></a><!-- end slider_image_link -->
				<!-- begin slider_image -->
				<span class="slide-data sd-image"><img class="slide-image" src="{src}" alt="{alt}" /></span><!-- end slider_image -->
				{slider_html}
			</div>
			<!-- END cols --><!-- end rows -->

	</div>
