	<!-- BEGIN top_rated_items -->
	<div class="top"><!-- begin top_image -->
		<a href="{details_href}" title="{a_title}"><img src="{src}" {width} {height} hspace="5" alt="{alt}" align="left" /></a><!-- end top_image -->
		<b class="position">{top_position}.</b> 
		<a class="top10 {product_new_class} {restricted_class}" href="{details_href}" title="{a_title}">{top_name}</a>
		<span>(<b>{top_rating}</b>)</span><!-- begin top_desc -->
		<div>{desc_text}</div><!-- end top_desc -->
	</div>
	<!-- END top_rated_items --> 
