		<div data-js="{data_js}" data-pb-id="{pb_id}" data-slider-type="{slider_type}" data-transition-delay="{transition_delay}" data-transition-duration="{transition_duration}" class="bk-data" style="{data_style}">
			<div class="articles {columns_class}" id="data_{pb_id}" style="{data_width_style}">

			<!-- BEGIN hot_rows -->
			<div class="row" id="{data_id}" style="{row_style}">
				<!-- BEGIN hot_cols -->
				<div class="col">

					<div class="article hot-article">
						<div class="article-title"><a class="{restricted_class}" href="{details_href}">{hot_item_name}</a></div>
						<!-- begin article_date_block --><div class="article-date">{article_date}</div><!-- end article_date_block -->
						<!-- begin image_small --><a href="{details_href}"><img class="article-image" src="{src}" alt="{alt}" /></a><!-- end image_small -->
						<div class="desc">
							{hot_description} <a class="button bn-more" href="{details_href}"><span><b>{READ_MORE_MSG}</b></span><img src="images/tr.gif" alt="{READ_MORE_MSG}" /></a>
						</div>
					</div>

				</div>
				<!-- END hot_cols -->
			</div>

			<!-- END hot_rows -->
			</div>
		</div>

		<div class="clear"></div>
			<!-- begin hot_navigator_block --><div class="navigator"> {hot_navigator}</div><!-- end hot_navigator_block -->