	<form action="{forgot_password_href}" name="profile" method="post">
		<!-- BEGIN forgot_error -->
		<div class="errorbg"><b>{error_desc}</b></div><!-- END forgot_error -->
		<!-- BEGIN forgot_message -->
		<div class="messagebg"><b>{message_desc}</b></div><!-- END forgot_message -->
	
		<div class="padding6px">{FORGOT_PASSWORD_DESC}</div>
		<div class="padding6px"><input class="field" type="email" size="40" name="email" value="{email}" />
		<span class="submit"><input class="submit" type="submit" value="{SUBMIT_BUTTON}" /></span>
	</form>