<table cellpadding="3" cellspacing="1" width="100%">
<tr style="background-color: #E9E9E9;" align="center">
	<th>&nbsp;</th>
	<th>{PROD_TITLE_COLUMN}</th>
	<th>{RATE_PRODUCT_MSG}</th>
</tr><!-- begin html_review_items -->
<tr valign="top">
	<td align="center">
		<!-- begin html_review_items_image_tiny --><a href="{reviews_url}"><img src="{src}" border="0" /></a><!-- end html_review_items_image_tiny -->
	</td>
	<td>
		{item_name}<!-- begin html_review_items_item_code -->
		<br />{PROD_CODE_MSG}: <b>{item_code}</b><!-- end html_review_items_item_code -->	<!-- begin html_review_items_manufacturer_code -->
		<br />{MANUFACTURER_CODE_MSG}: <b>{manufacturer_code}</b><!-- end html_review_items_manufacturer_code -->	
		<span>{item_properties}</span>
	</td>
	<td align="center"><a href="{reviews_url}">{WRITE_REVIEW_MSG}</a></td>
</tr><!-- end html_review_items -->

</table>
