	<div class="footer-head">{footer_head}</div>

	<!-- begin menu_block -->
	<div class="{block_menu_class}">
		<ul data-js="nav" class="{top_menu_class}"><!-- BEGIN menus -->
			<li class="{menu_class}"><!-- BEGIN menu_image -->
				<a href="{menu_href}" {menu_target}><img src="{src}" alt="{alt}" title="{alt}" /></a><!-- END menu_image --><!-- BEGIN menu_text -->
				<a href="{menu_href}" {menu_target}><span>{menu_title}</span></a><!-- END menu_text --><!-- BEGIN submenus_block --> 
				<ul class="sub-menu">{submenus}</ul><!-- END submenus_block --> 
			</li><!-- END menus -->
		</ul>
	</div><!-- end menu_block -->

	<div class="footer-foot">{footer_foot}</div>
	<div class="footer-logo"><a title="PHP Shopping Cart by ViArt" href="https://www.viart.com/"><img alt="ViArt Shopping Cart" title="ViArt - PHP Shopping Cart" src="images/button-powered.png" /></a></div>
	<div class="clear"></div>