<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{meta_language}" lang="{meta_language}">
<head>
<meta http-equiv="Content-Type" content="text/html; charset={CHARSET}" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>{meta_title}</title><!-- begin head_tags -->
{head_tag}<!-- end head_tags -->
</head>

<body class="page {page_class} {scheme_class}">

<div class="frame fm-bar" style="{frame_bar_style}">
{frame_bar}
</div>
<div class="layout lt-combo">
	<div class="fm-row {fm_head1_class}" style="{fm_head1_style}">
		<div class="fm-container">
			<div class="frame fm-header {header_class}" style="{header_style}">
				{header}
			</div>
		</div>
	</div>
	<div class="fm-row {fm_head2_class}" style="{fm_head2_style}">
		<div class="fm-container">
			<div class="frame fm-third-left {fm_head_left_class}" style="{fm_head_left_style}">
				{fm_head_left}
			</div>
			<div class="frame fm-third-center {fm_head_center_class}" style="{fm_head_center_style}">
				{fm_head_center}
			</div>
			<div class="frame fm-third-right {fm_head_right_class}" style="{fm_head_right_style}">
				{fm_head_right}
			</div>
		</div>
	</div>
	<div class="fm-row {fm_head3_class}" style="{fm_head3_style}">
		<div class="fm-container">
			<div class="frame fm-full {fm_head_full_class}" style="{fm_head_full_style}">
				{fm_head_full}
			</div>
		</div>
	</div>
	<div class="fm-row {fm_row1_class}" style="{fm_row1_style}">
		<div class="fm-container">
			<div class="frame fm-third-left {fm_row1_left_class}" style="{fm_row1_left_style}">
				{fm_row1_left}
			</div>
			<div class="frame fm-third-center {fm_row1_center_class}" style="{fm_row1_center_style}">
				{fm_row1_center}
			</div>
			<div class="frame fm-third-right {fm_row1_right_class}" style="{fm_row1_right_style}">
				{fm_row1_right}
			</div>
		</div>
	</div>
	<div class="fm-row {fm_row2_class}" style="{fm_row2_style}">
		<div class="fm-container">
			<div class="frame fm-dual-left {fm_row2_left_class}" style="{fm_row2_left_style}">
				{fm_row2_left}
			</div>
			<div class="frame fm-third-right {fm_row2_right_class}" style="{fm_row2_right_style}">
				{fm_row2_right}
			</div>
		</div>
	</div>
	<div class="fm-row {fm_row3_class}" style="{fm_row3_style}">
		<div class="fm-container">
			<div class="frame fm-third-left {fm_row3_left_class}" style="{fm_row3_left_style}">
				{fm_row3_left}
			</div>
			<div class="frame fm-third-center {fm_row3_center_class}" style="{fm_row3_center_style}">
				{fm_row3_center}
			</div>
			<div class="frame fm-third-right {fm_row3_right_class}" style="{fm_row3_right_style}">
				{fm_row3_right}
			</div>
		</div>
	</div>
	<div class="fm-row {fm_row4_class}" style="{fm_row4_style}">
		<div class="fm-container">
			<div class="frame fm-third-left {fm_row4_left_class}" style="{fm_row4_left_style}">
				{fm_row4_left}
			</div>
			<div class="frame fm-dual-right {fm_row4_right_class}" style="{fm_row4_right_style}">
				{fm_row4_right}
			</div>
		</div>
	</div>
	<div class="fm-row {fm_row5_class}" style="{fm_row5_style}">
		<div class="fm-container">
			<div class="frame fm-third-left {fm_row5_left_class}" style="{fm_row5_left_style}">
				{fm_row5_left}
			</div>
			<div class="frame fm-third-center {fm_row5_center_class}" style="{fm_row5_center_style}">
				{fm_row5_center}
			</div>
			<div class="frame fm-third-right {fm_row5_right_class}" style="{fm_row5_right_style}">
				{fm_row5_right}
			</div>
		</div>
	</div>
	<div class="fm-row {fm_row6_class}" style="{fm_row6_style}">
		<div class="fm-container">
			<div class="frame fm-full {fm_row6_full_class}" style="{fm_row6_full_style}">
				{fm_row6_full}
			</div>
		</div>
	</div>
	<div class="fm-row {fm_row7_class}" style="{fm_row7_style}">
		<div class="fm-container">
			<div class="frame fm-third-left {fm_row7_left_class}" style="{fm_row7_left_style}">
				{fm_row7_left}
			</div>
			<div class="frame fm-third-center {fm_row7_center_class}" style="{fm_row7_center_style}">
				{fm_row7_center}
			</div>
			<div class="frame fm-third-right {fm_row7_right_class}" style="{fm_row7_right_style}">
				{fm_row7_right}
			</div>
		</div>
	</div>
	<div class="fm-row {fm_row8_class}" style="{fm_row8_style}">
		<div class="fm-container">
			<div class="frame fm-dual-left {fm_row8_left_class}" style="{fm_row8_left_style}">
				{fm_row8_left}
			</div>
			<div class="frame fm-third-right {fm_row8_right_class}" style="{fm_row8_right_style}">
				{fm_row8_right}
			</div>
		</div>
	</div>
	<div class="fm-row {fm_row9_class}" style="{fm_row9_style}">
		<div class="fm-container">
			<div class="frame fm-third-left {fm_row9_left_class}" style="{fm_row9_left_style}">
				{fm_row9_left}
			</div>
			<div class="frame fm-third-center {fm_row9_center_class}" style="{fm_row9_center_style}">
				{fm_row9_center}
			</div>
			<div class="frame fm-third-right {fm_row9_right_class}" style="{fm_row9_right_style}">
				{fm_row9_right}
			</div>
		</div>
	</div>
	<div class="fm-row {fm_row10_class}" style="{fm_row10_style}">
		<div class="fm-container">
			<div class="frame fm-third-left {fm_row10_left_class}" style="{fm_row10_left_style}">
				{fm_row10_left}
			</div>
			<div class="frame fm-dual-right {fm_row10_right_class}" style="{fm_row10_right_style}">
				{fm_row10_right}
			</div>
		</div>
	</div>
	<div class="fm-row {fm_row11_class}" style="{fm_row11_style}">
		<div class="fm-container">
			<div class="frame fm-third-left {fm_row11_left_class}" style="{fm_row11_left_style}">
				{fm_row11_left}
			</div>
			<div class="frame fm-third-center {fm_row11_center_class}" style="{fm_row11_center_style}">
				{fm_row11_center}
			</div>
			<div class="frame fm-third-right {fm_row11_right_class}" style="{fm_row11_right_style}">
				{fm_row11_right}
			</div>
		</div>
	</div>
	<div class="fm-row {fm_foot1_class}" style="{fm_foot1_style}">
		<div class="fm-container">
			<div class="frame fm-full {fm_foot_full_class}" style="{fm_foot_full_style}">
				{fm_foot_full}
			</div>
		</div>
	</div>
	<div class="fm-row {fm_foot2_class}" style="{fm_foot2_style}">
		<div class="fm-container">
			<div class="frame fm-third-left {fm_foot_left_class}" style="{fm_foot_left_style}">
				{fm_foot_left}
			</div>
			<div class="frame fm-third-center {fm_foot_center_class}" style="{fm_foot_center_style}">
				{fm_foot_center}
			</div>
			<div class="frame fm-third-right {fm_foot_right_class}" style="{fm_foot_right_style}">
				{fm_foot_right}
			</div>
		</div>
	</div>
	<div class="fm-row {fm_foot3_class}" style="{fm_foot3_style}">
		<div class="fm-container">
			<div class="frame fm-footer {footer_class}" style="{footer_style}">
				{footer}
			</div>
		</div>
	</div>
</div>
<div class="clear"></div>

{hidden_blocks}

</body>
</html>