<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{meta_language}" lang="{meta_language}">
<head>
<meta http-equiv="Content-Type" content="text/html; charset={CHARSET}" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>{meta_title}</title>
{head_tags}
</head>

<body class="page {page_class} {scheme_class}">

<div class="frame fm-bar" style="{frame_bar_style}">
{frame_bar}
</div>
<div class="frame fm-header" style="{header_style}">
	{header}
</div>
<div class="layout lt-right">
	<div class="frame fm-middle" style="{middle_style}">
		{middle}
	</div>
	<div class="frame fm-right" style="{right_style}">
		{right}
	</div>
	<div class="clear"></div>
</div>
<div class="frame fm-footer" style="{footer_style}">
	{footer}
</div>

{hidden_blocks}

</body>
</html>