<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{meta_language}" lang="{meta_language}">
<head>
<meta http-equiv="Content-Type" content="text/html; charset={CHARSET}" />
<meta http-equiv="Content-Language" content="{meta_language}" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>{meta_title}</title><!-- begin head_tags -->
{head_tag}<!-- end head_tags -->
{ga_async}
</head>

<body class="frame {page_class} {site_class}">
{body_blocks}

<div class="fm-middle" style="{middle_style}">
	{middle}
</div>

{hidden_blocks}
</body>
{after_body}
</html>