<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{meta_language}" lang="{meta_language}">
<head>
<meta http-equiv="Content-Type" content="text/html; charset={CHARSET}" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>{html_title}</title>
<meta name="description" content="{meta_description}" />
<meta name="keywords" content="{meta_keywords}" />
<link rel="stylesheet" href="{css_file}" type="text/css" />
</head>

<body class="popup">

<div class="head">{page_title}</div>

<div class="body">{page_body}</div>

<div class="foot"><a href="javascript:window.close();">{CLOSE_WINDOW_MSG}</a></div>

</body>
</html>