<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{meta_language}" lang="{meta_language}">
<head>
<meta http-equiv="Content-Type" content="text/html; charset={CHARSET}" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>{MANAGE_PHOTOS_MSG}</title>
<link rel="stylesheet" href="{css_file}" type="text/css" />
<script type="text/javascript">
//<![CDATA[

function selectPhoto(photoId)
{
	if (window.opener) {
		if (photoId != "") {
			window.opener.setPhoto(photoId);
		}
		window.opener.focus();
	}
	window.close();

}

function closeWindow()
{
	window.opener.focus();
	window.close();
}

function clearSearch() {

	document.photos.sf.value = "";
	document.photos.submit();

}

function mouseX(evt) 
{
	if (evt.pageX) { 
		return evt.pageX; 
	} else if (evt.clientX) {
		return evt.clientX + (document.documentElement.scrollLeft ? document.documentElement.scrollLeft : document.body.scrollLeft);
	} else { 
		return null;
	}
}

function mouseY(evt)
{
	if (evt.pageY) { 
		return evt.pageY;
	} else if (evt.clientY) {
		return evt.clientY + (document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop);
	} else { 
		return null;
	}
}

function showImageItems(event, imageHref, imageId)
{
	var r = /gif$|jpg$|jpeg$|png$/i;
	var ext = r.exec(imageHref);

	if (ext != null) {
		var imageItems = document.getElementById("image_items_" + imageId);
		if (imageItems) {
		   	if (imageItems.innerHTML == ''){
				imageItems.innerHTML = '<img id="image_' + imageId + '" src=\'show_image.php?filepath=' + escape(imageHref) + '&width=150\' border=\'0\' />';
			}	
			var element = document.getElementById("image_" + imageId);
			widht = 0;
			height = 0;
			var x = event.clientX;
			var y = event.clientY;
			var noheight = document.body.scrollTop;
			var nowidth = document.body.scrollLeft;
			var max_h = document.body.clientHeight;
			var max_w = document.body.clientWidth;
			//alert('1- ' + max_h + ' 2- ' + y + ' 3- ' + document.body.scrollHeight + ' 4- ' + event.pageY + ' 5- ' + noheight);
			if (element != null) {
				width = element.width;
				height = element.height;
			}
			
			  var leftPos = x + 15;
			  var other = max_w - width;
			  if (leftPos + width > document.body.clientWidth){
			    leftPos = x - 15 - width;
				if (leftPos < 0){
				  leftPos = nowidth;
				} else {
				  leftPos += nowidth;
				}
			  } else {
			    leftPos += nowidth;
			  }
				  
			
			if (max_h-y < 50)
			 y += 50;
			  if (height > max_h){
				var topPos = (max_h/2)-(height/2) + noheight;
			  } else {
				  var topPos = y-(height/2);
				  var other = max_h - height;
				  if (topPos < 0){topPos = 0  + noheight;} else {
				    if (topPos > other){topPos = other + noheight;} else {
					  topPos += noheight;
					}
				  }
				  
			  }
			
			imageItems.style.left = leftPos+"px";
			imageItems.style.top = topPos+"px";
			imageItems.style.display = "block";
		}
	}
}

function hideImageItems(event, imageId)
{
	var imageItems = document.getElementById("image_items_" + imageId);
	if (imageItems) {
		imageItems.style.display = 'none';
	}
}

//]]>
</script>
</head>

<body class="popup">

<form action="{user_select_href}" name="photos">
<input type="hidden" name="action" value="1" />
<input type="hidden" name="photo_type" value="{photo_type}" />
<input type="hidden" name="control_name" value="{control_name}" />
<input type="hidden" name="fid" value="{fid}" />

<table width="100%" cellspacing="0" cellpadding="0" align="center">
<tr><td class="middlebg"> 

	<table cellspacing="1" cellpadding="5" width="100%" align="center" class="usual">
	<tr>
		<td colspan="3" class="headerbg">
			<table cellspacing="0" cellpadding="0" width="100%">
			<tr align="center">
				<td>
					<a href="{user_upload_href}?photo_type={photo_type}&control_name={control_name}&fid={fid}"><b>{UPLOAD_PHOTO_MSG}</b></a>
				</td>
				<td>
					<a href="javascript:closeWindow();"><b>{CLOSE_WINDOW_MSG}</b></a>
				</td>
			</tr>
			</table>
		</td>
	</tr>
	<!-- begin search_photos -->
	<tr>
		<td colspan="3" class="usualbg" align="center">
		<table cellspacing="3"><tr>
		<td><input type="text" name="sf" value="{sf}" size="30" class="search" />&nbsp;</td>
		<td><span class="submit"><input type="submit" value="{SEARCH_BUTTON}" class="submit" />&nbsp;</span></td>
		<td><span class="submit"><input type="submit" value="{CLEAR_BUTTON}" class="submit" onclick="clearSearch();" /></span></td>
		</tr></table>
		</td>
	</tr>
	<!-- end search_photos -->
	<!-- begin no_photos -->
	<tr>
		<td colspan="4" class="usualbg" align="center">{NO_FILES_MSG}</td>
	</tr>
	<!-- end no_photos -->
	<!-- begin photos -->
	<tr class="middlebg">
		<td align="center">{sorter_photo_name}</td>
		<td align="center">{TYPE_MSG}</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
	</tr><!-- begin photo_row -->
	<tr class="usualbg">
		<td onmouseover="showImageItems(event, '{photo_path_js}', '{image_id}')" onmousemove="showImageItems(event, '{photo_path_js}', '{photo_id}')"
			onmouseout="hideImageItems(event, '{photo_id}')" style="cursor: default;">
			&nbsp;{photo_name_html}<div id="image_items_{photo_id}" style="display: none; position: absolute;"></div>&nbsp;
		</td>
		<td align="center">
				&nbsp;{key_name}&nbsp;
		</td>
		<td align="center">
				&nbsp;<a href="javascript:selectPhoto('{photo_id}');">{SELECT_MSG}</a>&nbsp;
		</td>
		<td align="center">
			&nbsp;<a href="{user_delete_photo_url}" onclick="return confirm('{DELETE_FILE_CONFIRM_MSG}');">{DELETE_BUTTON}</a>&nbsp;
		</td>
	</tr>
	<!-- end photo_row -->
	
	<!-- begin photo_row_no_preview -->
	<tr class="usualbg">
		<td>
				&nbsp;{photo_name}&nbsp;
		</td>
		<td align="center">
				&nbsp;{key_name}&nbsp;
		</td>
		<td align="center">
				&nbsp;<a href="javascript:selectPhoto('{photo_id}');">{SELECT_MSG}</a>&nbsp;
		</td>
		<td align="center">
			&nbsp;<a href="{user_delete_photo_url}" onclick="return confirm('{DELETE_FILE_CONFIRM_MSG}');">{DELETE_BUTTON}</a>&nbsp;
		</td>
	</tr>
	<!-- end photo_row_no_preview -->
	<!-- begin navigator_block -->
	<tr class="middlebg">
		<td colspan="4" align="right">&nbsp;{navigator}&nbsp;</td>
	</tr><!-- end navigator_block -->
	<!-- end photos -->
	<tr>
		<td colspan="4" class="middlebg">
			<table cellspacing="0" cellpadding="0" width="100%">
			<tr align="center" >
				<td>
					<a href="{photo_upload_href}?photo_type={photo_type}&key_id={key_id}"><b>{UPLOAD_PHOTO_MSG}</b></a>
				</td>
				<td>
					<a href="javascript:closeWindow();"><b>{CLOSE_WINDOW_MSG}</b></a>
				</td>
			</tr>
			</table>
		</td>
	</tr>
	</table>

</td></tr></table>

</form>

</body>
</html>