<!-- begin column_on -->&nbsp;<a class="sort-name" href="{sorting_href}">{column_name}</a>&nbsp;<!-- end column_on -->
<!-- begin column_off -->&nbsp;{column_name}&nbsp;<!-- end column_off -->
<!-- begin image_on_asc --><i class="fa sort-asc sort-on"></i><!-- end image_on_asc -->
<!-- begin image_off_asc --><a href="{sorting_href}" class="fa sort-asc"></a><!-- end image_off_asc -->
<!-- begin image_on_desc --><i class="fa sort-desc sort-on"></a><!-- end image_on_desc -->
<!-- begin image_off_desc --><a href="{sorting_href}" class="fa sort-desc"></a><!-- end image_off_desc -->