<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{meta_language}" lang="{meta_language}">
<head>
<meta http-equiv="Content-Type" content="text/html; charset={CHARSET}" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>{PROD_TERMS_MSG}</title>
<link rel="stylesheet" href="{css_file}" type="text/css" />
</head>

<body class="popup">

<table width="100%" cellspacing="0" cellpadding="0" align="center" class="headerbg">
<tr><td> 

	<table cellspacing="1" cellpadding="3" width="100%" align="center">
	<tr>
		<td class="middlebg">&nbsp;&nbsp;{PROD_TERMS_MSG}&nbsp;</td>
	</tr>
	<tr class="usualbg"> 
		<td>
		<br />
			<table width="100%" cellpadding="3">
			<tr><td>{terms_text}</td></tr>
			</table>
		<br />
		</td>
	</tr>
	<tr>
		<td class="middlebg">&nbsp;&nbsp;<a href="javascript:window.close();">{CLOSE_WINDOW_MSG}</a></td>
	</tr>
	</table>

</td></tr>
</table>

</body>
</html>